{% extends "base_simple.html" %}
{% load static %}
{% block titulo %} Detalle cierre cliente{% endblock titulo %}
 
{% block pagina %}
<div class="row">
    <div class="col-md-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Detalle del Cierre</h5>
        </div>
        <div class="ibox-content">
            <table class="table table-bordered table-hover dataTables-example" >
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>telefono</th>
                        <th>venta</th>
                        <th>Deuda</th>
                    </tr>
                </thead>
                <tbody>
                    <tr></tr>
                </tbody>
            </table>
          
        </div>
      </div> <!-- cols 12 -->
    </div>
</div>

{% endblock pagina %}


{% block extra_js %}
<script src="{% static 'js/sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'js/dataTables/datatables.min.js' %}"></script>
<script src="{% static 'js/dataTables/colvis.js' %}"></script>
<script src="{% static 'js/sertiven/red.js' %}"></script>
<script type="text/javascript">
get_usuario_conectado();
HDD.set('last_url',window.location.pathname);
$('#menu_reporte').addClass('active');
var oTable;
var url = "{% url 'reporte_app:detalle_reporte_cierre_cliente_ajax' pk %}"

$(document).ready(function () {

    oTable = $('.table').dataTable({
    "aaSorting":[[0,"desc"]],
    "language": {
    "sLengthMenu":     "Mostrar _MENU_ cliente",
    "sZeroRecords":    "No se encontraron resultados",
    "sEmptyTable":     "Ningún dato disponible en esta tabla",
    "sInfo":           "Mostrando cliente del _START_ al _END_ de un total de _TOTAL_ cliente",
    "sInfoEmpty":      "Mostrando cliente del 0 al 0 de un total de 0 cliente",
    "sInfoFiltered":   "(filtrado de un total de _MAX_ cliente)",
    "sInfoPostFix":    "",
    "sSearch":         "Buscar:",
    "sUrl":            "",
    "sInfoThousands":  ",",
    "sLoadingRecords": "Cargando...",
    "oPaginate": {
      "sFirst":    "Primero",
      "sLast":     "Último",
      "sNext":     "Siguiente",
      "sPrevious": "Anterior"
    },
    "oAria": {
      "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
      "sSortDescending": ": Activar para ordenar la columna de manera descendente"
      }
    },
    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
    "processing": true,
    "serverSide": true,
    "ajax": {
        "url": url,
        "type": "POST", 
        "headers": { 'Authorization':  HDD.get(settings.jwt_name) },
    }
  }); 
});
</script>
{% endblock extra_js %}
