{% extends "base_ajax.html" %}
{% load static %}
{% block titulo %} Reporte de Encargado {% endblock titulo %}
 
{% block pagina %}
<div class="row">
    <div class="col-md-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Detalle del Cierre</h5>
        </div>
        <div class="ibox-content">
          <div class="row">
            <form action="#" autocomplete="on">
                <div class="col-lg-3 col-md-3 col-xs-3">
                  <div class="widget style1 yellow-bg">
                      <div class="row">
                        <div class="col-xs-12 text-right">
                            <span> Productos Vendidos</span>
                        </div>
                        <div class="col-xs-3">
                            <i class="fa fa-money fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                          <h2 class="font-bold" id="cantidad_productos_vendido">0</h2>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-3">
                  <div class="widget style1 lazur-bg">
                      <div class="row">
                          <div class="col-xs-12 text-right">
                              <span> Total Ganancia </span>
                          </div>
                          <div class="col-xs-3">
                              <i class="fa fa-money fa-3x"></i>
                          </div>
                          <div class="col-xs-9 text-right">
                            <h2 class="font-bold" id="total">0</h2>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-3">
                <div class="widget style1 red-bg">
                  <div class="row">
                      <div class="col-xs-12 text-right">
                          <span> Total deuda </span>
                      </div>
                      <div class="col-xs-3">
                          <i class="fa fa-money fa-3x"></i>
                      </div>
                      <div class="col-xs-9 text-right">
                        <h2 class="font-bold" id="deuda">0</h2>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-3">
                <div class="widget style1 red-bg">
                  <div class="row">
                      <div class="col-xs-12 text-right">
                          <span> Total Pago Encargado </span>
                      </div>
                      <div class="col-xs-3">
                          <i class="fa fa-money fa-3x"></i>
                      </div>
                      <div class="col-xs-9 text-right">
                        <h2 class="font-bold" id="pago_encargados">0</h2>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-3">
                  <div class="widget style1 yellow-bg">
                      <div class="row">
                        <div class="col-xs-12 text-right">
                            <span> Total Pendiente </span>
                        </div>
                        <div class="col-xs-3">
                            <i class="fa fa-money fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                          <h2 class="font-bold" id="total_pendiente">0</h2>
                        </div>
                      </div>
                  </div>
              </div>

              <div class="col-lg-3 col-md-3 col-xs-3">
                  <div class="widget style1 yellow-bg">
                      <div class="row">
                        <div class="col-xs-12 text-right">
                            <span> Productos Pendiente </span>
                        </div>
                        <div class="col-xs-3">
                            <i class="fa fa-money fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                          <h2 class="font-bold" id="cantidad_productos_por_vender">0</h2>
                        </div>
                      </div>
                  </div>
              </div>  
              <div class="col-lg-3 col-md-3 col-xs-3">
                  <div class="widget style1 yellow-bg">
                      <div class="row">
                        <div class="col-xs-12 text-right">
                            <span> Total Neto </span>
                        </div>
                        <div class="col-xs-3">
                            <i class="fa fa-money fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                          <h2 class="font-bold" id="total_neto">0</h2>
                        </div>
                      </div>
                  </div>
              </div>                             
            </form>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-2 col-xs-4">
              <div class="widget style1" style="background-color: #1a375d;">
                  <div class="row">
                    <div class="col-xs-12 text-right">
                        <span> Total Transferencia</span>
                    </div>
                    <div class="col-xs-3">
                        <i class="fas fa-money-bill fa-3x" style="color:green"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <h2 class="font-bold" id="por_transferencia">0</h2>
                    </div>
                  </div>
              </div>
            </div>        
            <div class="col-lg-2 col-md-2 col-xs-4">
              <div class="widget style1" style="background-color: #1a375d;">
                  <div class="row">
                    <div class="col-xs-12 text-right">
                        <span> Total punto de venta</span>
                    </div>
                    <div class="col-xs-3">
                        <i class="fas fa-money-bill fa-3x" style="color:green"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <h2 class="font-bold" id="por_punto_venta">0</h2>
                    </div>
                  </div>
              </div>
            </div>  
            <div class="col-lg-2 col-md-2 col-xs-4">
              <div class="widget style1" style="background-color: #1a375d;">
                  <div class="row">
                    <div class="col-xs-12 text-right">
                        <span> Total Efectivo</span>
                    </div>
                    <div class="col-xs-3">
                        <i class="fas fa-money-bill fa-3x" style="color:green"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <h2 class="font-bold" id="por_efectivo">0</h2>
                    </div>
                  </div>
              </div>
            </div>     
            <div class="col-lg-2 col-md-2 col-xs-4">
              <div class="widget style1" style="background-color: #1a375d;">
                  <div class="row">
                    <div class="col-xs-12 text-right">
                        <span> Total Cheques</span>
                    </div>
                    <div class="col-xs-3">
                        <i class="fas fa-money-bill fa-3x" style="color:green"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <h2 class="font-bold" id="por_cheques">0</h2>
                    </div>
                  </div>
              </div>
            </div>         
            <div class="col-lg-2 col-md-2 col-xs-4">
              <div class="widget style1" style="background-color: #1a375d;">
                  <div class="row">
                    <div class="col-xs-12 text-right">
                        <span> Total Otros tipos</span>
                    </div>
                    <div class="col-xs-3">
                        <i class="fas fa-money-bill fa-3x" style="color:green"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <h2 class="font-bold" id="por_otros">0</h2>
                    </div>
                  </div>
              </div>
            </div>                           
          </div>   
          <div class="row">
            <table class="table table-bordered table-hover dataTables-example" >
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad vendida</th>
                        <th>Venta</th>
                        <th>Botones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr></tr>
                </tbody>
            </table>
          </div>
        </div>
      </div> <!-- cols 12 -->
    </div>
</div>

{% endblock pagina %}


{% block extra_js %}
<script src="{% static 'js/sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'js/dataTables/datatables.min.js' %}"></script>
<script src="{% static 'js/dataTables/colvis.js' %}"></script>
<script src="{% static 'js/sertiven/red.js' %}"></script>
<script type="text/javascript">
get_usuario_conectado();
HDD.set('last_url',window.location.pathname);
$('#menu_reporte').addClass('active');
var oTable;
var url = "{% url 'reporte_app:detalle_reporte_cierre_encargado_ajax' pk %}"

function ventana_clientes(src) {
  window.open(src, "_blank","toolbar=no,scrollbars=yes,resizable=yes,top=500,left=500,width=750,height=500,location=no");  
}


$(document).ready(function () {
 $.ajax({
    type: "GET",
    url:   "/api/v1/cierre/" + "{{pk}}", 
    beforeSend: function (xhr) {
      xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
    },
    complete: function (Req, textStatus, jqXHR)
    {
      respuesta = Req.responseJSON;
      if (Req.status === 200) 
      {
        pago_encargados = parseFloat(respuesta.pago_encargados)
        deuda = parseFloat(respuesta.deuda)
        total = parseFloat(respuesta.total)

        $("#total").text(total);
        $("#pago_encargados").text(pago_encargados);
        $("#cantidad_productos_por_vender").text(respuesta.cantidad_productos_por_vender);
        $("#cantidad_productos_vendido").text(respuesta.cantidad_productos_vendido);
        $("#deuda").text(deuda);
        $("#total_pendiente").text(respuesta.cantidad_productos_inventario);
        $("#total_neto").text(total - (pago_encargados + deuda));

        $("#por_transferencia").text(respuesta.por_transferencia);
        $("#por_efectivo").text(respuesta.por_efectivo);
        $("#por_punto_venta").text(respuesta.por_punto_venta);
        $("#por_cheques").text(respuesta.por_cheques);
        $("#por_otros").text(respuesta.por_otros);
      }               
    }// fin complete
  })

    oTable = $('.table').dataTable({
    "aaSorting":[[0,"desc"]],
    "language": {
    "sLengthMenu":     "Mostrar _MENU_ venta",
    "sZeroRecords":    "No se encontraron resultados",
    "sEmptyTable":     "Ningún dato disponible en esta tabla",
    "sInfo":           "Mostrando venta del _START_ al _END_ de un total de _TOTAL_ venta",
    "sInfoEmpty":      "Mostrando venta del 0 al 0 de un total de 0 venta",
    "sInfoFiltered":   "(filtrado de un total de _MAX_ venta)",
    "sInfoPostFix":    "",
    "sSearch":         "Buscar:",
    "sUrl":            "",
    "sInfoThousands":  ",",
    "sLoadingRecords": "Cargando...",
    "oPaginate": {
      "sFirst":    "Primero",
      "sLast":     "Último",
      "sNext":     "Siguiente",
      "sPrevious": "Anterior"
    },
    "oAria": {
      "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
      "sSortDescending": ": Activar para ordenar la columna de manera descendente"
      }
    },
    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
    "processing": true,
    "serverSide": true,
    "ajax": {
        "url": url,
        "type": "POST", 
        "headers": { 'Authorization':  HDD.get(settings.jwt_name) },
    }
  }); 
});
</script>
{% endblock extra_js %}
