{% extends "base_ajax.html" %}
{% load static %}
{% block titulo %}Lista de reportes{% endblock titulo %}

{% block pagina %}
<div class="row">

<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <a href="#{% url 'encargados_app:listar_ventas' %}">
      <div class="widget style1 navy-bg">
          <div class="row">
            <div class="col-xs-5 text-letf">
                <span> Reporte de ventas de encargados </span>
            </div>
            <div class="col-xs-3">
                <i class="fa fa-check-double fa-3x"></i>
            </div>
            <div class="col-xs-4 text-right">
              <h2 class="font-bold" ></h2>
            </div>
          </div>
      </div>    
    </a>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <a href="#{% url 'reporte_app:administrador_ventas' %}">
      <div class="widget style1 navy-bg">
          <div class="row">
            <div class="col-xs-5 text-letf">
                <span> Reporte de Encargados</span>
            </div>
            <div class="col-xs-3">
                <i class="fa fa-check-double fa-3x"></i>
            </div>
            <div class="col-xs-4 text-right">
              <h2 class="font-bold" ></h2>
            </div>
          </div>
      </div>    
    </a>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <a href="#{% url 'reporte_app:cierre' %}">
      <div class="widget style1 navy-bg">
          <div class="row">
            <div class="col-xs-5 text-letf">
                <span> Cierre de Encargados</span>
            </div>
            <div class="col-xs-3">
                <i class="fa fa-check-double fa-3x"></i>
            </div>
            <div class="col-xs-4 text-right">
              <h2 class="font-bold" ></h2>
            </div>
          </div>
      </div>    
    </a>
  </div>
</div>


<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <a href="#{% url 'reporte_app:ventas_detallado' %}">
      <div class="widget style1 navy-bg">
          <div class="row">
            <div class="col-xs-5 text-letf">
                <span> Reporte ventas cliente detallado </span>
            </div>
            <div class="col-xs-3">
                <i class="fa fa-check-double fa-3x"></i>
            </div>
            <div class="col-xs-4 text-right">
              <h2 class="font-bold" ></h2>
            </div>
          </div>
      </div>    
    </a>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <a href="#{% url 'encargados_app:encargado_metodo_reporte' %}">
      <div class="widget style1 navy-bg">
          <div class="row">
            <div class="col-xs-5 text-letf">
                <span> Reporte ventas metodos de pagos</span>
            </div>
            <div class="col-xs-3">
                <i class="fa fa-check-double fa-3x"></i>
            </div>
            <div class="col-xs-4 text-right">
              <h2 class="font-bold" ></h2>
            </div>
          </div>
      </div>    
    </a>
  </div>


</div>




</div>
{% endblock pagina %}
{% block extra_js %}

<!-- Flot -->
<script src="{% static 'js/flot/jquery.flot.js' %}"></script>
<script src="{% static 'js/flot/jquery.flot.tooltip.min.js' %}"></script>
<script src="{% static 'js/flot/jquery.flot.spline.js' %}"></script>
<script src="{% static 'js/flot/jquery.flot.resize.js' %}"></script>
<script src="{% static 'js/flot/jquery.flot.pie.js' %}"></script>
<script src="{% static 'js/flot/jquery.flot.symbol.js' %}"></script>
<script src="{% static 'js/flot/jquery.flot.time.js' %}"></script>
<!-- Flot -->

<!-- Jvectormap -->
<script src="{% static 'js/jvectormap/jquery-jvectormap-2.0.2.min.js' %}"></script>
<script src="{% static 'js/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<!-- Jvectormap -->


<script src="{% static 'js/sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'js/easypiechart/jquery.easypiechart.js' %}"></script>
<script src="{% static 'js/chartJs/Chart.min.js' %}"></script>
<!-- 
<script src="{% static 'js/chartJs/chartjs-demo.js' %}"></script>
 -->
<script type="text/javascript">
$('#menu_reporte').addClass('active');
get_usuario_conectado();
HDD.set('last_url',window.location.pathname);
</script>
{% endblock extra_js %}