{% extends "base_ajax.html" %}
{% load static %}
{% block titulo %} Lista de Cierres {% endblock titulo %}

{% block pagina %}
<div class="row">
  <div class="col-md-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
          <h5>Lista de cierres</h5>
      </div>
      <div class="ibox-content">
        {% if not request.user.is_superuser %}
        <div class="row">
              <div class="col-lg-4 col-md-4 col-xs-6">
                  <div class="widget style1 navy-bg">
                      <div class="row">
                        <div class="col-xs-3 text-letf">
                            <span>Fecha Cierre</span>
                        </div>
                        <div class="col-xs-9">
                          <div class="form-group" id="data_4">
                              <div class="input-group date">
                                  <span class="input-group-addon"><i class="fa fa-calendar-minus"></i></span>
                                  <input class="form-control" data-date-format="dd-mm-yyyy" id="fecha_fin" type="text" autocomplete="on" placeholder="dd-mm-aaaa"></input>
                              </div>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-2 col-md-2 col-xs-4">
                <div class="widget style2 lazur-bg">
                  <div class="row">
                    <div class="col-xs-12 text-letf">
                        <button class="btn btn-success" onclick="nuevo_cierre()">Cierre</button>
                    </div>
                  </div>
                </div>
              </div>

          <div class="col-sm-3 col-md-offset-9">
          </div>
        </div>
        {% endif %}
        <table class="table table-bordered table-hover dataTables-example" >
        <thead>
        <tr>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Encargado</th>
            <th>Ganancia</th>
            <th>Diferencia</th>
            <th>Total Neto</th>
            <th>Botones</th>
        </tr>
        </thead>
          <tbody>
              <tr></tr>
          </tbody>
        </table>
      </div>
      </div>
  </div> <!-- cols 12 -->
</div>
{% endblock pagina %}


{% block extra_js %}
<script src="{% static 'js/sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'js/dataTables/datatables.min.js' %}"></script>
<script src="{% static 'js/dataTables/colvis.js' %}"></script>
<script src="{% static 'js/datapicker/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/datapicker/bootstrap-datepicker.es.js' %}"></script>
<script type="text/javascript">
$('#menu_encargado').addClass('active');
get_usuario_conectado();

function nuevo_cierre() {

    swal({
        title: "Crear el cierre",
        text: '¿Deseas crear el cierre',
        type: "success",
        showCancelButton: true,
        confirmButtonColor: "blue",
        confirmButtonText: "Crear",
        closeOnConfirm: false,
        html: true
    }, function () {
      url = '/api/v1/reporte/cierre/'
      $.ajax({
        type: "POST",
        url:   url,
        data: {
          fecha_fin_cierre: $("#fecha_fin").val()
        },
        beforeSend: function (xhr) {
          xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
        },
        complete: function (Req, textStatus, jqXHR)
        {
          respuesta = Req.responseJSON;
          if (Req.status === 201) 
          {
            _exito_reload('Se creo el cierre')            
          }
          else
          {
            _error(respuesta.errors['mensaje'])
          }

        }// fin complete
      })        
  });


}

function eliminar_dato(id) {
    swal({
        title: "Eliminar el cierre",
        text: '¿Deseas eliminar el cierre seleccionado?',
        type: "success",
        showCancelButton: true,
        confirmButtonColor: "red",
        confirmButtonText: "Eliminar",
        closeOnConfirm: false,
        html: true
    }, function () {

      $.ajax({
        type: "DELETE", //GET, POST, PUT, PATCH 
        url:   '/api/v1/cierre/' + id + '/?borrar=true', 
        beforeSend: function (xhr) {   //Include the bearer token in header
          xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
        },
        complete: function (Req, textStatus)
        {
          if (Req.status === 204) 
          {
            swal({  
              title: "",
              text: "Se ha eliminado exitosamente.",
              type: "success",
              showCancelButton: false,
              confirmButtonColor: "#23c6c8",
              confirmButtonText: "Cerrar",
              closeOnConfirm: false
              }, function () {
                location.reload();
            });
          }               
        }// fin complete
      })

  });

}

$(document).ready(function () {


  $('.input-group.date').datepicker({
      language: 'es',
      startView: 4,
      todayBtn: "linked",
      todayHighlight: 1,
      keyboardNavigation: false,
      forceParse: false,
      autoclose: true,
      format: 'dd-mm-yyyy'
  });
  

    if (HDD.get('administrador') == 'si')
    {
        var url = "{% url 'reporte_app:listar_reporte_cierre_ajax' %}"
    }
    else
    {
        var url = "{% url 'reporte_app:listar_reporte_cierre_encargado_ajax' 0 %}".replace(0,
        HDD.get('encargado_id'))
    }


    var oTable = $('.table').dataTable({
        "aaSorting":[[0,"desc"]],
        "language": {
        "sLengthMenu":     "Mostrar _MENU_ cierres",
        "sZeroRecords":    "No se encontraron resultados",
        "sEmptyTable":     "Ningún dato disponible en esta tabla",
        "sInfo":           "Mostrando cierres del _START_ al _END_ de un total de _TOTAL_ cierres",
        "sInfoEmpty":      "Mostrando cierres del 0 al 0 de un total de 0 cierres",
        "sInfoFiltered":   "(filtrado de un total de _MAX_ cierres)",
        "sInfoPostFix":    "",
        "sSearch":         "Buscar:",
        "sUrl":            "",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
          "sFirst":    "Primero",
          "sLast":     "Último",
          "sNext":     "Siguiente",
          "sPrevious": "Anterior"
        },

        "oAria": {
          "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
      },
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": url,
            "type": "POST",
            "headers": { 'Authorization':  HDD.get(settings.jwt_name) },
        }
    });
});
</script>
{% endblock extra_js %}