{% extends "base_ajax.html" %}
{% load static %}
{% block titulo %} Ventas detalladas{% endblock titulo %}

{% block pagina %}
  <div class="row">
      <div class="col-md-12">
      <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h5>Lista de las ventas por cliente detallado</h5>
          </div>
            <div class="ibox-content">

              <div class="row">
              <div class="col-lg-4 col-md-4 col-xs-6">
                <div class="widget style1 navy-bg">
                  <div class="row">
                      <div class="col-xs-3 text-letf">
                          <span>Inicio</span>
                      </div>
                      <div class="col-xs-9">
                        <div class="form-group" id="data_3">
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar-minus"></i></span>
                                <input class="form-control" data-date-format="dd-mm-yyyy" id="fecha_inicio" type="text" autocomplete="on" placeholder="dd-mm-aaaa"></input>
                            </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-xs-6">
                  <div class="widget style1 navy-bg">
                      <div class="row">
                        <div class="col-xs-3 text-letf">
                            <span>Fin</span>
                        </div>
                        <div class="col-xs-9">
                          <div class="form-group" id="data_4">
                              <div class="input-group date">
                                  <span class="input-group-addon"><i class="fa fa-calendar-minus"></i></span>
                                  <input class="form-control" data-date-format="dd-mm-yyyy" id="fecha_fin" type="text" autocomplete="on" placeholder="dd-mm-aaaa"></input>
                              </div>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>

              <div class="col-lg-2 col-md-2 col-xs-4">
                <div class="widget style2 lazur-bg">
                  <div class="row">
                    <div class="col-xs-12 text-letf">
                        <button class="btn btn-success" onclick="filtrar()">Filtrar</button>
                    </div>
                  </div>
                </div>
              </div>

              </div>
                <table class="table table-bordered table-hover dataTables-example" >
                <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Cantidad productos</th>
                    <th>Monto productos</th>
                    <th>Deudas</th>
                    <th>Detalles</th>
                </tr>
                </thead>
                    <tbody>
                        <tr></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- cols 12 -->
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Dialog</h3>
  </div>
  <div class="modal-body">
      <iframe src="" style="zoom:0.60" width="99.6%" height="250" frameborder="0"></iframe>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">OK</button>
  </div>
</div>



{% endblock pagina %}
{% block extra_js %}
<script src="{% static 'js/dataTables/datatables.min.js' %}"></script>
<script src="{% static 'js/datapicker/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/datapicker/bootstrap-datepicker.es.js' %}"></script>
<script type="text/javascript">
get_usuario_conectado();
$('#menu_reportes').addClass('active');
HDD.set('last_url',window.location.pathname);
var oTable;

$('#myModal').on('show', function () {
  $('iframe').attr("src",src);
});

function modal(src) {
  //$('iframe').attr("src",src);
  //$('#myModal').modal({show:true});
  //window.open(src);
  window.open(src, "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=750,height=500");  
}


function filtrar() {

  fecha_inicio = $("#fecha_inicio").val();
  fecha_fin = $("#fecha_fin").val();    
  var url_ventas = "{% url 'reporte_app:listar_reporte_venta_detalle_ajax' %}" + '?start='+fecha_inicio+'&end='+fecha_fin;


  if ( $.fn.dataTable.isDataTable( '.table' ) ) {
    oTable = $('.table').DataTable();
    oTable.ajax.url( url_ventas ).load();
  }
  else
  {
    oTable = $('.table').dataTable({
        "aaSorting":[[0,"desc"]],
        "language": {
        "sLengthMenu":     "Mostrar _MENU_ ventas",
        "sZeroRecords":    "No se encontraron resultados",
        "sEmptyTable":     "Ningún dato disponible en esta tabla",
        "sInfo":           "Mostrando ventas del _START_ al _END_ de un total de _TOTAL_ ventas",
        "sInfoEmpty":      "Mostrando ventas del 0 al 0 de un total de 0 ventas",
        "sInfoFiltered":   "(filtrado de un total de _MAX_ ventas)",
        "sInfoPostFix":    "",
        "sSearch":         "Buscar:",
        "sUrl":            "",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
          "sFirst":    "Primero",
          "sLast":     "Último",
          "sNext":     "Siguiente",
          "sPrevious": "Anterior"
        },

        "oAria": {
          "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
      },
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": url_ventas,
            "type": "POST",
            "headers": { 'Authorization':  HDD.get(settings.jwt_name) },
        }
    });    
  }
}

$(document).ready(function () {
  refrescar_token();

  $('.input-group.date').datepicker({
      language: 'es',
      startView: 4,
      todayBtn: "linked",
      todayHighlight: 1,
      keyboardNavigation: false,
      forceParse: false,
      autoclose: true,
      format: 'dd-mm-yyyy'
  });

});
</script>
{% endblock extra_js %}