{% extends "base.html" %}
{% load static %}
{% block titulo %}Notificar{% endblock %}
{% block head_js %}

<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
<script>
    var OneSignal = window.OneSignal || [];
    OneSignal.push(["init", {
      autoRegister: false, /* Set to true to automatically prompt visitors */
      /*
      subdomainName: Use the value you entered in step 1.4: http://imgur.com/a/f6hqN
      */
      appId: "{{ONESIGNAL_APP_ID}}",
      promptOptions: {
        /* Change bold title, limited to 30 characters */
        siteName: 'Moto Servicios Express',
        /* Subtitle, limited to 90 characters */
        actionMessage: "Podremos enviarle notificaciones",
        /* Example notification title */
        exampleNotificationTitle: 'Notificacion',
        /* Example notification message */
        exampleNotificationMessage: 'Esto es un ejemplo de notificacion',
        /* Text below example notification, limited to 50 characters */
        exampleNotificationCaption: 'Puedes des suscribirte en cualquier comento',
        /* Accept button text, limited to 15 characters */
        acceptButtonText: "Permitir",
        /* Cancel button text, limited to 15 characters */
        cancelButtonText: "No gracias"
      },      
      httpPermissionRequest: {
        enable: true
      },
        notifyButton: {
        enable: true, /* Required to use the notify button */
        size: 'medium', /* One of 'small', 'medium', or 'large' */
        theme: 'default', /* One of 'default' (red-white) or 'inverse" (white-red) */
        position: 'bottom-right', /* Either 'bottom-left' or 'bottom-right' */
        offset: {
            bottom: '165px',
            left: '120px', /* Only applied if bottom-left */
            right: '120px' /* Only applied if bottom-right */
        },
        prenotify: true, /* Show an icon with 1 unread message for first-time site visitors */
        showCredit: false, /* Hide the OneSignal logo */
        text: {
            'tip.state.unsubscribed': 'Recibir notificaciones',
            'tip.state.subscribed': "Se suscribio correctamente",
            'tip.state.blocked': "Usted bloqueo las notificaciones",
            'message.prenotify': 'Click to subscribe to notifications',
            'message.action.subscribed': "Thanks for subscribing!",
            'message.action.resubscribed': "You're subscribed to notifications",
            'message.action.unsubscribed': "You won't receive notifications again",
            'dialog.main.title': 'Manage Site Notifications',
            'dialog.main.button.subscribe': 'Suscribir',
            'dialog.main.button.unsubscribe': 'Des suscribir',
            'dialog.blocked.title': 'Unblock Notifications',
            'dialog.blocked.message': "Follow these instructions to allow notifications:"
        }
    }
    }]);



 </script>
{% endblock %}  
 

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block pagina %}

<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Notificar</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <!-- start: WIZARD DEMO -->
                <div class="container-fluid container-fullw bg-white">
                    Precione el boton rojo
                </div>
                <!-- start: WIZARD DEMO -->
            </div>
        </div>
        </div>

    </div>

{% endblock pagina %}

{% block extra_js %}
<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
<script>
$('#evento_open').addClass('active');

</script>
{% endblock extra_js %}