{%load static%}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} sitio {% endblock titulo %}</title>
    {% include "head.html" %}
    {% block head %}
    {% endblock head %}
</head>

<body>

<div id="wrapper" align="center">
    <div>
        <div class="wrapper wrapper-content animated {% block animacion %}fadeInRight{% endblock animacion %}">
            <img class="img-responsive" src="{% static "/img/logo.png" %}" style="margin: 10px;" />
            {{mensaje}}
        </div>
        
    </div>
</div>
</body>
</html>
