{% extends "base_ajax.html" %}
{% load static %}
{% block titulo %} 

{% if perms.inventario.add %}
Cierre de inventario. 
{% else %}
Cierre de tú inventario. 
{% endif %}

{% endblock titulo %}

{% block head_css %}
    <link href="{% static 'css/sweetalert/sweetalert.css' %}" rel="stylesheet">
    <link href="{% static 'css/dataTables/datatables.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/touchspin/jquery.bootstrap-touchspin.min.css' %}" rel="stylesheet">
{% endblock %}


{% block head_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
{% endblock head_js %}

{% block breadcrumb %}
{% endblock %}

{% block pagina %}
  <div class="row">
      <div class="col-md-12">
      <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Cierre de Inventario</h5>
            </div>
            <div class="ibox-content">
                <div class="panel-body">
                    {% if not request.user.is_superuser %}
                    <div class="col-sm-3 col-md-offset-9">
                        <a class="btn btn-sm btn-white btn-block" onclick="nuevo_cierre()"> <i class="fa fa-user-plus" aria-hidden="true"> Nuevo Cierre</i></a>
                    </div>  
                    {% endif %}
                    <table id="cierre" class="table table-bordered table-hover dataTables-example" width="100%">
                    <thead>
                    <tr>
                        <th>Encargado</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Fin</th>
                        <th>Ganancia</th>
                        <th>Diferencia</th>
                        <th>Total</th>
                        <th>Boton</th>
                    </tr>
                    </thead>
                        <tbody>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> <!-- cols 12 -->
</div>


<div class="modal fade bs-example-modal-lg" id="modal_generico" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-labelledby="myLargeModalLabel">

    <div class="modal-dialog modal-lg" role="document">

        <div id="body_modal">
        <div id="loading" width="100%" style="width: 550px;" class="modal-body">
           <img src="{% static "img/loading4.gif" %}"> 
        </div>  
        </div>
    </div>
</div>

{% endblock pagina %}
{% block extra_js %}
<script src="{% static 'js/dataTables/datatables.min.js' %}"></script>
<script src="{% static 'js/touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>
<script type="text/javascript">
get_usuario_conectado();

var lista_cierre = new Array();
var lista_cierre_original = new Array();
var contador_cierre = -1;
var contador_cierre_anteriores = -1;
var total_deducciones_cierre = 0;

utiles.log(settings.debug);


var oTable3;
var oTable4;


$(document).ready(function () {

    $('#menu_cierre').addClass('active');
    refrescar_token();


    oTable3 = $('#cierre').dataTable({
        "aaSorting":[[0,"desc"]],
        "language": {
        "sLengthMenu":     "Mostrar _MENU_ inventarios",
        "sZeroRecords":    "No se encontraron resultados",
        "sEmptyTable":     "Ningún dato disponible en esta tabla",
        "sInfo":           "Mostrando inventarios del _START_ al _END_ de un total de _TOTAL_ inventarios",
        "sInfoEmpty":      "Mostrando inventarios del 0 al 0 de un total de 0 inventarios",
        "sInfoFiltered":   "(filtrado de un total de _MAX_ inventarios)",
        "sInfoPostFix":    "",
        "sSearch":         "Buscar:",
        "sUrl":            "",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
          "sFirst":    "Primero",
          "sLast":     "Último",
          "sNext":     "Siguiente",
          "sPrevious": "Anterior"
        },

        "oAria": {
          "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
      },
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": "{% url 'reporte_app:listar_reporte_cierre_ajax' %}",
            "type": "POST",
            "headers": { 'Authorization':  HDD.get(settings.jwt_name) },
        }
    });
    
    oTable4 = $('#mis_cierre').dataTable({
        "aaSorting":[[0,"desc"]],
        "language": {
        "sLengthMenu":     "Mostrar _MENU_ inventarios",
        "sZeroRecords":    "No se encontraron resultados",
        "sEmptyTable":     "Ningún dato disponible en esta tabla",
        "sInfo":           "Mostrando inventarios del _START_ al _END_ de un total de _TOTAL_ inventarios",
        "sInfoEmpty":      "Mostrando inventarios del 0 al 0 de un total de 0 inventarios",
        "sInfoFiltered":   "(filtrado de un total de _MAX_ inventarios)",
        "sInfoPostFix":    "",
        "sSearch":         "Buscar:",
        "sUrl":            "",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
          "sFirst":    "Primero",
          "sLast":     "Último",
          "sNext":     "Siguiente",
          "sPrevious": "Anterior"
        },

        "oAria": {
          "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
      },
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": "{% url 'inventario_app:listar_inventario_encargado_aceptar_ajax' %}",
            "type": "POST",
            "headers": { 'Authorization':  HDD.get(settings.jwt_name) },
        }
    });
});// fin ready

</script>
{% endblock extra_js %}