{% extends "base_ajax.html" %}
{% load static %}
{% block titulo %} 

{% if perms.stock.add %}Lista de inventario.{% else %}Lista de tú inventario.{% endif %}
{% endblock titulo %}

{% block head_css %}
<link href="{% static 'css/sweetalert/sweetalert.css' %}" rel="stylesheet">
<link href="{% static 'css/dataTables/datatables.min.css' %}" rel="stylesheet">
<link href="{% static 'css/touchspin/jquery.bootstrap-touchspin.min.css' %}" rel="stylesheet">
{% endblock %}

{% block web_components %}
<link rel="import" href="{% static 'componentes_web/boton1.html' %}">
{% endblock web_components %}

{% block head_js %}
<script src="/static/js/html2canvas.min.js"></script>
{% endblock head_js %}

{% block breadcrumb %}
{% endblock %}

{% block pagina %}
  <div class="row">
      <div class="col-md-12">
      <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Lista de inventario</h5>
            </div>
            <div class="ibox-content">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1">Inventario</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-2">Productos</a></li>
                        <li class="hide solo_admin"><a data-toggle="tab" href="#tab-3">Traslados</a></li>
                        <li class="hide" id="tab_mis_traslado"><a data-toggle="tab" href="#tab-4">Mis traslado</a></li>
                        <li class="hide" id="tab_traslado_sucursal"><a data-toggle="tab" href="#tab-5">Traslados sede</a></li>
                        <li class="hide" id="tab_actualizar_precios"><a data-toggle="tab" href="#tab-6">Actualizar precios</a></li>
                        <li class="" id="tab_actualizar_dolar"><a data-toggle="tab" href="#tab-7">Actualizar dolar</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <div class="col-sm-3 col-md-offset-9 hide solo_admin">
                                <a class="btn btn-sm btn-white btn-block" onclick="nuevo_stock_action()"> <i class="fa fa-user-plus" aria-hidden="true"> Nuevo stock</i></a>
                            </div>
                            <table id="stocks" class="table table-bordered table-hover dataTables-example" width="100%">
                            <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Cant. recibida</th>
                                <th>Cant. actual</th>
                                <th>Monto de compra</th>
                                <th>Botones</th>
                            </tr>
                            </thead>
                                <tbody>
                                    <tr></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">
                            <div class="solo_admin hide">
                                <div class="col-sm-2 col-md-offset-8">
                                    <a class="btn btn-sm btn-white btn-block" onclick="nuevo_producto_action()"> <i class="fa fa-user-plus" aria-hidden="true"> Nuevo producto</i></a>
                                </div>
                                <div class="col-sm-2">
                                    <a id="download" download="triangle.png"><button  class="btn btn-sm btn-white btn-block" type="button" onClick="report()">Download</button></a>
                                </div>                                
                            </div>

                            <table id="table_productos" class="table table-bordered table-hover dataTables-example" width="100%">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Costo Bs</th>
                                    <th>Costo $</th>
                                    <th id="columna_botones_productos">Botones</th>
                                </tr>
                            </thead>
                                <tbody>
                                    <tr></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane">
                        <div class="panel-body">

                          <div class="row">
                            &nbsp;&nbsp;&nbsp;Filtrar por:<br>
                            <div class="col-sm-3">
                              <select class="form-control" id="filter_traslados_aceptado">
                                <option>Aceptado</option>
                                <option>SI</option>
                                <option>NO</option>
                              </select>
                            </div>
                            <div class="col-sm-4">
                                <select class="form-control" id="filter_traslados_encargado"></select>
                            </div>
                            <div class="col-sm-3 col-sm-offset-2">
                                <a class="btn btn-sm btn-white btn-block" onclick="nuevo_traslado()"> <i class="fa fa-user-plus" aria-hidden="true"> Nuevo traslado</i></a>
                            </div>  
                          </div>


                            <table id="traslado" class="table table-bordered table-hover dataTables-example" width="100%">
                            <thead>
                            <tr>
                                <th>Encargado</th>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Aceptado</th>
                                <th>Fecha</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                                <tbody>
                                    <tr></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>   

                    <div id="tab-4" class="tab-pane">
                        <div class="panel-body">
                            <div class="col-sm-3 col-md-offset-9">
                            </div>  
                            <table id="mis_traslado" class="table table-bordered table-hover dataTables-example" width="100%">
                            <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Cantidad recibida</th> 
                                <th>Fecha envio</th>
                                <th>Fecha aceptacion</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                                <tbody>
                                    <tr></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>    

                    <div id="tab-5" class="tab-pane">
                        <div class="panel-body">
                            <table id="mis_traslado_sucursal" class="table table-bordered table-hover dataTables-example" width="100%">
                            <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Cantidad recibida</th> 
                                <th>Fecha envio</th>
                                <th>Enviado por</th>
                            </tr>
                            </thead>
                                <tbody>
                                    <tr></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>    

                    <div id="tab-6" class="tab-pane">
                        <div class="panel-heading">
                        <button class="btn btn-info" type="button" onclick="actualizar_precios_web()">Actualizar desde internet</button>
                        </div>
                        <div class="panel-body">
                            <table id="lista_nuevos_precios" class="table table-bordered table-hover dataTables-example" width="100%">
                            <thead>
                            <tr>
                                <th style="background: 0 0;">Productos y precio</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            </table>
                        </div>
                    </div>



                    <div id="tab-7" class="tab-pane">
                        <div class="panel-heading">
                        
                        </div>
                        <div class="panel-body">
                            <form>
                                <div class="col-sm-2">
                                <input type="number" name="precio_dolar" id="precio_dolar">
                                </div><div class="col-sm-4">
                                <button class="btn btn-info" type="button" onclick="actualizar_precio_dolar()">Actualizar</button>
                                </div>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div> <!-- cols 12 -->
</div>


<div class="modal fade bs-example-modal-lg" id="modal_generico" tabindex="-1" role="dialog" data-keyboard="true" data-backdrop="static" aria-labelledby="myLargeModalLabel">

    <div class="modal-dialog modal-lg" role="document">

        <div id="body_modal">
            <img style="display:block; margin:auto; width: 85px;" src="{% static "img/loading4.gif" %}" > 
        </div>
    </div>
</div>

{% endblock pagina %}
{% block extra_js %}
<script src="{% static 'js/dataTables/datatables.min.js' %}"></script>
<script src="{% static 'js/touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>
<script type="text/javascript">
get_usuario_conectado();
var lista_traslado = new Array();
var lista_traslado_original = new Array();
var contador_traslado = -1;
var contador_traslado_anteriores = -1;
var total_deducciones_traslado = 0;
var nuevo_producto_modal = templater`
<div class="modal-content" id="contenido_modal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">Registrar nuevo Producto</h4>
    </div>
    <div class="modal-body">
        <div class="col-sm-12">
            <div class="col-sm-4">
                <dl class="dl-horizontal">
                    <dt>Nombre</dt>
                    <input class="form-control" type="text" id="nombre_producto">
                </dl>
            </div>
            <div class="col-sm-4">
                <dl class="dl-horizontal">
                    <dt>Unidad</dt>
                    <input class="form-control" type="text" id="unidad_producto">
                </dl>
            </div>
            <div class="col-sm-4">
                <dl class="dl-horizontal">
                    <dt>Precio de venta</dt>
                    <input class="form-control" type="text" id="precio_nuevo_producto">
                </dl>
            </div>               
        </div>            
    </div>
    <div class="modal-footer">
        <div class="col-sm-6">
            <a class="btn btn-info btn-md btn-block" data-dismiss="modal">Volver</a>
        </div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-success btn-md btn-block" onclick="registrar_producto(this);" >Guardar</button>
        </div>
    </div>
</div>`;

var traslado_a_sede_modal = templater`
<div class="modal-content" id="contenido_modal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">Registrar nuevo Producto</h4>
    </div>
    <div class="modal-body">
        <div class="col-sm-12">

            <div class="col-sm-6">
                <dl class="dl-horizontal">
                    <dt>Encargado</dt>
                    <select id="traslado_sede_encargado" class="form-control">
                    </select>
                </dl>
            </div>           
            <div class="col-sm-6">
                <dl class="dl-horizontal">
                    <dt>Cantidad</dt>
                    <input class="form-control" type="text" id="traslado_sede_cantidad" value="${'cantidad'}">
                </dl>
            </div>   
        </div>            
    </div>
    <div class="modal-footer">
        <div class="col-sm-6">
            <a class="btn btn-info btn-md btn-block" data-dismiss="modal">Volver</a>
        </div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-success btn-md btn-block" onclick="traslado_a_sede(this,${'id'});" >Guardar</button>
        </div>
    </div>
</div>`;


var modificar_producto_modal = templater`
<div class="modal-content" id="contenido_modal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">Modificar Producto</h4>
    </div>
    <div class="modal-body">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <dl class="dl-horizontal">
                    <dt>Nombre</dt>
                    <dd><input class="form-control" type="text" id="nuevo_nombre_producto" value="${'nombre'}"></dd>
                </dl>
            </div>
            <div class="col-sm-6">
                <dl class="dl-horizontal">
                    <dt>Unidad</dt>
                    <dd><input class="form-control" type="text" id="nueva_unidad_producto" value="${'unidad'}"></dd>
                </dl>
            </div>            
        </div>            
    </div>
    <div class="modal-footer">
        <div class="col-sm-6">
            <a class="btn btn-info btn-md btn-block" data-dismiss="modal">Volver</a>
        </div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-success btn-md btn-block" onclick="modificar_producto(${'id'});" >Guardar cambios</button>
        </div>
    </div>
</div>`;


var nuevo_stock_modal = templater`
<div class="modal-content" id="contenido_modal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">Registrar nuevo stock</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <dl class="dl-horizontal">
                        <dt>Nombre</dt>
                        <dd>
                            <select id="productos_stock" class="form-control">
                            </select>
                        </dd>
                    </dl>
                </div>  
                <div class="col-sm-6">
                    <dl class="dl-horizontal">
                          <dt>Monto de compra</dt>
                          <dd><input class="form-control" type="text" id="monto_costo"></dd>
                    </dl>
                </div>               
            </div>            
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <dl class="dl-horizontal">
                        <dt>Cantidad</dt>
                        <dd><input class="form-control" type="text" id="cantidad"></dd>
                    </dl>
                </div>                             
            </div>            
        </div>                         
    </div>
    <div class="modal-footer">
        <div class="col-sm-6">
            <a class="btn btn-info btn-md btn-block" data-dismiss="modal">Volver</a>
        </div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-success btn-md btn-block" onclick="registrar_stock(this);" >Guardar</button>
        </div>
    </div>
</div>`;


var nuevo_traslado_modal = templater`
<div class="modal-content" id="contenido_modal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">Registrar nuevo traslado</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group" id="div_encargados"> 
                    <div class="col-sm-6">
                        <select class="form-control" name="encargados" id="encargados" style="width: 100%;"></select>
                    </div>
                </div>
                <div class="form-group" id="div_productos"> 
                    <div class="col-sm-6">
                        <select class="form-control" name="productos" id="productos" style="width: 100%;"
                        onChange="stock_para_producto(this)"></select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <p class="font-bold">Cantidad</p>
                        <input class="touchspin1 form-control" type="text" value="0" id="cant_producto">
                    </div>
                </div>
                <div class="col-sm-6 espacio">
                    <button type="button" class="btn btn-info btn-block" onclick="agregar_traslado()"><i class="fa fa-plus"> Agregar traslado</i></button>
                </div>
            </div>       
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Lista de traslado</h5>
                    </div>
                    <div class="ibox-content">
                        <table class="table" id="tabla_traslado">
                            <thead>
                                <tr>
                                    <th>Encargado</th>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>            
            </div>         
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-sm-6">
            <a class="btn btn-info btn-md btn-block" data-dismiss="modal">Volver</a>
        </div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-success btn-md btn-block" onclick="registrar_traslado(this);" >Guardar</button>
        </div>
    </div>
</div>`;

var fijar_precio_modal = templater`
<div class="modal-content" id="contenido_modal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">Registrar precio producto.</h4>
    </div>
    <div class="modal-body">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <dl class="dl-horizontal">
                    <dt>Nombre</dt>
                    <dd>${'nombre'}</dd>
                </dl>
            </div>
            <div class="col-sm-6">
                <dl class="dl-horizontal">
                      <dt>Precio</dt>
                      <dd><input class="form-control" type="text" id="precio_producto"></dd>
                </dl>
            </div>               
        </div>            
    </div>
    <div class="modal-footer">
        <div class="col-sm-6">
            <a class="btn btn-info btn-md btn-block" data-dismiss="modal">Volver</a>
        </div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-success btn-md btn-block" onclick="fijar_precio_producto(this,${'id'})">Guardar</button>
        </div>
    </div>
</div>`;

var oTable;
var oTable2;
var oTable3;
var oTable4;
var oTable5;

function report() {
    let region = document.querySelector("#table_productos"); // whole screen
    html2canvas(region, {
        onrendered: function (canvas) {
        let pngUrl = canvas.toDataURL();
        //let img = document.querySelector(".screen");
        //img.src = pngUrl;
        //document.write('<img src="'+pngUrl+'"/>');
        var download = document.getElementById("download");
        var image = canvas.toDataURL("image/png")
                    .replace("image/png", "image/octet-stream");
        download.setAttribute("href", image);
        },
    });
}

function eliminar_dato(tipo, id) {

    var tmp_confi = {}

    if (tipo == 'producto')
    {
        tmp_confi = {
            palabra: tipo,
            data_table: oTable2,
            titulo:tipo
        }
    }

    if (tipo == 'stock')
    {
        tmp_confi = {
            palabra: tipo,
            data_table: oTable,
            titulo:tipo
        }
    }

    if (tipo == 'traslado')
    {
        tmp_confi = {
            palabra: 'stock/encargado',
            data_table: oTable3,
            titulo:tipo
        }
    }
    console.log(tmp_confi);
    swal({
        title: "Eliminar el " + tmp_confi.titulo,
        text: '¿Deseas eliminar el '+ tmp_confi.titulo +' seleccionado?',
        type: "success",
        showCancelButton: true,
        confirmButtonColor: "red",
        confirmButtonText: "Eliminar",
        closeOnConfirm: false,
        html: true
    }, function () {

      $.ajax({
        type: "DELETE", //GET, POST, PUT, PATCH 
        url:   '/api/v1/'+ tmp_confi.palabra +'/' + id + '/?borrar=true', 
        beforeSend: function (xhr) {   //Include the bearer token in header
          xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
        },
        complete: function (Req, textStatus)
        {
          if (Req.status === 204) 
          {
            swal({  
              title: "",
              text: "Se ha eliminado (desactivado) exitosamente.",
              type: "success",
              showCancelButton: false,
              confirmButtonColor: "#23c6c8",
              confirmButtonText: "Cerrar",
              closeOnConfirm: false
              }, function () {
                  tmp_confi.data_table.api().ajax.reload(null, false);
                  oTable.api().ajax.reload(null, false);
                  swal.close();
            });
          }
        }// fin complete
      })

  });
}

function eliminar_translados(p_id, e_id) {

    swal({
        title: "Eliminar traslados",
        text: '¿Deseas eliminar el stock seleccionado?',
        type: "success",
        showCancelButton: true,
        confirmButtonColor: "red",
        confirmButtonText: "Eliminar",
        closeOnConfirm: false,
        html: true
    }, function () {

      $.ajax({
        type: "DELETE", //GET, POST, PUT, PATCH 
        url:   '/api/v1/stock_para_producto/' + p_id + '/' + e_id + '/?borrar=true', 
        beforeSend: function (xhr) {   //Include the bearer token in header
          xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
        },
        complete: function (Req, textStatus)
        {
          if (Req.status === 204) 
          {
            swal({  
              title: "",
              text: "Se ha eliminado exitosamente.",
              type: "success",
              showCancelButton: false,
              confirmButtonColor: "#23c6c8",
              confirmButtonText: "Cerrar",
              closeOnConfirm: false
              }, function () {
                  oTable3.api().ajax.reload(null, false);
                  oTable.api().ajax.reload(null, false);
                  swal.close();
            });
          }               
        }// fin complete
      })

  });

}

function nuevo_producto_action() {
    html = nuevo_producto_modal({})
    $("#body_modal").empty()
    $("#body_modal").append(html);
    $("#modal_generico").modal('toggle');
}


function modificar_producto_action(id,nombre,unidad) {
    html = modificar_producto_modal(
    {
        nombre:nombre,
        id:id,
        unidad:unidad
    })

    $("#body_modal").empty()
    $("#body_modal").append(html);
    $("#modal_generico").modal('toggle');
}


function nuevo_stock_action() {
    html = nuevo_stock_modal({});
    $("#body_modal").empty()
    $("#body_modal").append(html);     
    setTimeout(function(){
        productos_stock();
        $("#modal_generico").modal('toggle');
    }, 850);
}


function fijar_precio_action(id, nombre) {
    html = fijar_precio_modal({
        id:id,
        nombre:nombre
    });
    $("#body_modal").empty()
    $("#body_modal").append(html);     
    setTimeout(function(){
        $("#modal_generico").modal('toggle');
    }, 750);
}


function traslado_a_sede_action(id,cantidad) {
    html = traslado_a_sede_modal(
    {
        cantidad:cantidad,
        id:id
    })
    $("#body_modal").empty()
    $("#body_modal").append(html);
  
    setTimeout(function(){
        llenar_encargados('traslado_sede_encargado');  
        $("#modal_generico").modal('toggle');
    }, 750);

}



function productos_stock(...args){
    obj_p = {
        id: "productos_stock",
        url: "/api/v1/list_producto/",
        caption: "Seleccione un producto"
    }

    BASE_GET_LIST(obj_p);   
}


function llenar_encargados(id_html) {
    obj_e = {
        id: id_html,
        url: "/api/v1/encargado/",
        caption: "Seleccione un encargado",
    }
    BASE_GET_LIST(obj_e); 
}


function nuevo_traslado() {
    html = nuevo_traslado_modal({})
    $("#body_modal").empty()
    $("#body_modal").append(html);
    setTimeout(function(){
        productos_con_stock();
        setTimeout(function(){
            llenar_encargados("encargados");
            $("#modal_generico").modal('toggle');
        }, 650);      
    }, 850);
}


function stock_para_producto(self){

    var text = self.options[self.selectedIndex].text
    var id = self.options[self.selectedIndex].value
    var url = "/api/v1/stock/producto/"+ id +"?fields=cantidad_actual";  

    $.ajax({
        type: "GET",
        url: url, 
        beforeSend: function (xhr) {   //Include the bearer token in header
          xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
        },   
        success: function (data) {
            var cantidad_para_producto = 0;
            for (var i = 0; i < data.length; i++) {
                cantidad_para_producto = cantidad_para_producto + parseFloat(data[i].cantidad_actual);
            }
            $("#cant_producto").val(cantidad_para_producto);
            utiles.log('ajax',{
                cantidad_para_producto:id + "-" + text + "-" + cantidad_para_producto
            });   

        },
        error: function (xhr, textStatus, errorThrown) {
            
        }
    });
}


function eliminar_traslado(tipo, contador) {
    ultimo_item = {};
    contador = parseInt(contador);
    lista_traslado_original[contador] = null;
    var item = lista_traslado_original.slice(contador,contador+1);
    $("#row_tabla_traslado_"+ tipo + '_' + contador).remove();
}

function agregar_traslado() {

    item={
        encargados: $("#encargados option:selected").text(),
        productos: $("#productos option:selected").text(),
        cant_producto: parseFloat($("#cant_producto").val().replace(',','.')),
        encargado_id:  $("#encargados").val(),
        producto_id:  $("#productos").val(),
    }

    cadena_item = [item.encargados,item.productos,item.cant_producto].toString()

    if(utiles.si_esta(cadena_item,lista_traslado))
    {
        alert('Acaba de agregar este elemento, no puede estar repetido')
    }
    else
    {
        $("#cant_producto").val('');
        logica_agregar_traslado(item,cadena_item)
    }
}

function logica_agregar_traslado(item, cadena_item) {

    if (cadena_item){
        lista_traslado.push(cadena_item);
        lista_traslado_original.push(item);
        var tipo_traslado = 'actual';
        contador_traslado = contador_traslado + 1;
        var contador_actual = contador_traslado;
    }
    else
    {
        lista_gastos_anteriores.push(item);
        var tipo_traslado = 'pasado';
        contador_traslado_anteriores = contador_traslado_anteriores + 1;
        var contador_actual = contador_traslado_anteriores;
    }
    
    
    var btn_eliminar = '<button type="button" style="cursor:pointer;" onclick="eliminar_traslado(\''+tipo_traslado+'\',\''+contador_actual+'\')" class="btn btn-danger"><i class="fa fa-recycle"></i></button>';
    var row='<tr id="row_tabla_traslado_'+ tipo_traslado + '_' +contador_actual+'"><td>' + item.encargados+ '</td><td>' + item.productos + '</td><td>' + item.cant_producto + '</td><td>'+btn_eliminar+'</td></tr>';
    $("#tabla_traslado").append(row) ; 
}


function fijar_precio_producto(
    yo,
    id,
    campo="#precio_producto",
    sms="Se ha registrado el nuevo costo.."){
    
    $(yo).attr('disabled','disabled');
    $.ajax({
      type: "PATCH", //GET, , PUT,  
      url:   '/api/v1/stock/producto/'+id+'/monto/', 
      beforeSend: function (xhr) {   //Include the bearer token in header
        xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
      },
      data:
      {
        monto: $(campo).val()
      },
      complete: function (Req, textStatus)
      {
        $(yo).removeAttr('disabled');
        if (Req.status === 200) 
        {
            swal({  
            title: "",
            text: sms,
            type: "success",
            showCancelButton: false,
            confirmButtonColor: "#23c6c8",
            confirmButtonText: "Cerrar",
            closeOnConfirm: false
            }, function () {
                oTable2.api().ajax.reload(null, false);
                $("#modal_generico").modal('toggle');
                swal.close();
            });
        }  
        
      }// fin complete
    })// fin ajax
}

function registrar_producto(yo) {
    $(yo).attr('disabled','disabled');
    $.ajax({
      type: "POST", //GET, , PUT, PATCH 
      url:   '/api/v1/producto/', 
      beforeSend: function (xhr) {   //Include the bearer token in header
        xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
      },
      data:
      {
        nombre: $("#nombre_producto").val(),
        unidad: $("#unidad_producto").val()
      },
      complete: function (Req, textStatus)
      {
        $(yo).removeAttr('disabled');
        if (Req.status === 201) 
        {
            var res = JSON.parse(Req.responseText);
            fijar_precio_producto(
                yo,
                res.id,
                campo="#precio_nuevo_producto",
                sms="Se ha registrado el producto exitosamente."
            )
        }
                     
      }// fin complete
    })// fin ajax
}


function modificar_producto(id) {
    $.ajax({
      type: "PATCH",
      url:   '/api/v1/producto/'+id+'/', 
      beforeSend: function (xhr) {   //Include the bearer token in header
        xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
      },
      data:
      {
        nombre: $("#nuevo_nombre_producto").val(),
        unidad: $("#nueva_unidad_producto").val()
      },
      complete: function (Req, textStatus)
      {
        if (Req.status === 200) 
        {
            swal({  
                title: "",
                text: "Se ha modificado el producto.",
                type: "success",
                showCancelButton: false,
                confirmButtonColor: "#23c6c8",
                confirmButtonText: "Cerrar",
                closeOnConfirm: false
            }, function () {
                //location.href = '/perfil/';
                oTable2.api().ajax.reload(null, false);
                $("#nuevo_producto").modal('hide');
                swal.close();
            });
            $("#modal_generico").modal('toggle');
        }

                     
      }// fin complete
    })// fin ajax
}

function registrar_stock(yo) {
    $(yo).attr('disabled','disabled');

    $.ajax({
        type: "POST", //GET, , PUT, PATCH 
        url:   '/api/v1/stock/', 
        beforeSend: function (xhr) {   //Include the bearer token in header
            xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
        },
        data:
        {
            producto: $("#productos_stock").val(),
            cantidad_recibida: $("#cantidad").val().replace(',','.'),
            monto: $("#monto_costo").val()
        },
        complete: function (Req, textStatus)
        {
            $(yo).removeAttr('disabled');
            if (Req.status === 201) 
            {
                swal({  
                    title: "",
                    text: "Se ha registrado el stock exitosamente.",
                    type: "success",
                    showCancelButton: false,
                    confirmButtonColor: "#23c6c8",
                    confirmButtonText: "Cerrar",
                    closeOnConfirm: false
                }, function () {
                    //location.href = '/perfil/';
                    oTable4.api().ajax.reload(null, false);
                    oTable.api().ajax.reload(null, false);
                    oTable3.api().ajax.reload(null, false);
                    $("#nuevo_producto").modal('hide');
                    swal.close();
                });
            }  

            $("#modal_generico").modal('toggle');

        }// fin complete
    })// fin ajax
}


function registrar_traslado(yo) {
    $(yo).attr('disabled','disabled');

    if(lista_traslado_original.length == 0)
    {
        alert('Debe agregar al menos un producto');
        $(yo).removeAttr('disabled');
        return false;
    }


    var lista_enviar_traslado = [];

    for (var i = 0; i < lista_traslado_original.length; i++) {

        try{

            if(lista_traslado_original[i].cant_producto == 0 )
            {
                alert('No puede haber productos con cantidades igual o menor a cero.')
                return false;            
            }else{
                lista_enviar_traslado.push({
                    encargado_id:lista_traslado_original[i].encargado_id,
                    cantidad_asignada: lista_traslado_original[i].cant_producto,
                    producto_id:lista_traslado_original[i].producto_id
                })
            }
        }catch(error) {}
    }

    $.ajax({
        type: "POST",
        url: "/api/v1/stock/encargado/", 
        data:  JSON.stringify(lista_enviar_traslado),
        processData: false,
        contentType: "application/json; charset=utf-8", 
        dataType: 'json',      
        beforeSend: function (xhr) {   //Include the bearer token in header
          xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
        },   
        success: function (data) {
            $(yo).removeAttr('disabled');
            swal({
              title: "Creada",
              text: 'Se efectuo el traslado',
              type: "success",
              showCancelButton: false,
              confirmButtonColor: "green",
              confirmButtonText: "ok",
              closeOnConfirm: false
            },
            function(){
                oTable4.api().ajax.reload(null, false);
                oTable.api().ajax.reload(null, false);
                oTable3.api().ajax.reload(null, false);
                swal.close();
                $("#modal_generico").modal('toggle');
            });
            lista_traslado = new Array();
            lista_traslado_original = new Array();
            contador_traslado = -1;
            contador_traslado_anteriores = -1;
            total_deducciones_traslado = 0;

        },
        error: function (xhr, textStatus, errorThrown) {
            //utiles.sms_error(xhr.responseText)
            alert(textStatus);
            $(yo).removeAttr('disabled');
            $("[type='submit']").removeAttr("disabled");
        }
    });
}

function traslado_a_sede(yo,id){
    $(yo).attr('disabled','disabled');

    $.ajax({
        type: "POST",
        url: "/api/v1/stock_para_producto/"+id+"/encargado_a_encargado/", 
        data: {
            encargado: $("#traslado_sede_encargado").val(),
            cantidad_recibida: $("#traslado_sede_cantidad").val()
        },
        beforeSend: function (xhr) {   //Include the bearer token in header
          xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
        },   
        success: function (data) {
            $(yo).removeAttr('disabled');
            swal({
              title: "Creada",
              text: 'Se efectuo el traslado a sucursal',
              type: "success",
              showCancelButton: false,
              confirmButtonColor: "green",
              confirmButtonText: "ok",
              closeOnConfirm: false
            },
            function(){
                oTable4.api().ajax.reload(null, false);
                oTable.api().ajax.reload(null, false);
                oTable3.api().ajax.reload(null, false);                
                swal.close();
                $("#modal_generico").modal('toggle');
            });

        },
        error: function (xhr, textStatus, errorThrown) {
            //utiles.sms_error(xhr.responseText)
            alert(textStatus);
            $(yo).removeAttr('disabled');
        }
    });

}


function aceptar_stock(id) {
    $.ajax({
        type: "PATCH",
        url: "/api/v1/stock/"+id+"/aceptar/",      
        beforeSend: function (xhr) {   //Include the bearer token in header
            xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
        },   
        success: function (data) {
            swal({
              title: "Aceptada",
              text: 'Aceptado',
              type: "success",
              showCancelButton: false,
              confirmButtonColor: "green",
              confirmButtonText: "ok",
              closeOnConfirm: false
            },
            function(){
                oTable4.api().ajax.reload(null, false);
                oTable.api().ajax.reload(null, false);
                oTable3.api().ajax.reload(null, false);
                swal.close();
            });
        },
        error: function (xhr, textStatus, errorThrown) {
            //utiles.sms_error(xhr.responseText)
        }
    });
}

function rechazar_stock(id) {
    $.ajax({
        type: "DELETE",
        url: "/api/v1/stock_para_producto/encargado/"+id+"/?borrar=true",      
        beforeSend: function (xhr) {   //Include the bearer token in header
            xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
        },   
        success: function (data) {
            swal({
              title: "Stocks rechazado",
              text: 'Rechazado, reenviado a administrador',
              type: "success",
              showCancelButton: false,
              confirmButtonColor: "green",
              confirmButtonText: "ok",
              closeOnConfirm: false
            },
            function(){
                oTable4.api().ajax.reload(null, false);
                oTable.api().ajax.reload(null, false);
                oTable3.api().ajax.reload(null, false);
                swal.close();
            });
        },
        error: function (xhr, textStatus, errorThrown) {
            //utiles.sms_error(xhr.responseText)
        }
    });
}

function rechazar_stock_traslado(id) {
    $.ajax({
        type: "DELETE",
        url: "/api/v1/stock_para_producto/encargado/"+id+"/?borrar=true&reenviar_encargado=true",      
        beforeSend: function (xhr) {   //Include the bearer token in header
            xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
        },   
        success: function (data) {
            swal({
              title: "Stocks rechazado",
              text: 'Rechazado, reenviado a encargado',
              type: "success",
              showCancelButton: false,
              confirmButtonColor: "green",
              confirmButtonText: "ok",
              closeOnConfirm: false
            },
            function(){
                oTable4.api().ajax.reload(null, false);
                oTable.api().ajax.reload(null, false);
                oTable3.api().ajax.reload(null, false);
                swal.close();
            });
        },
        error: function (xhr, textStatus, errorThrown) {
            //utiles.sms_error(xhr.responseText)
        }
    });
}


function actualizar_precios_web(){
    $("#modal_generico").modal('toggle');
    $.ajax({
        type: "POST",
        url: "/api/v1/encargado/actualizar_costos_web/",      
        complete: function (Req, textStatus) {
            if (Req.status == 200)
            {
                $("#lista_nuevos_precios").empty();
                data = JSON.parse(Req.responseText);
                if (data.error)
                {
                    alert('error');
                }else{
                    for (var i = 0; i < data.datos.length; i++) {
                       var nuevaFila="<tr>";
                       nuevaFila+="<td>"+data.datos[i]+"</td>";
                       nuevaFila+="</tr>";
                       $("#lista_nuevos_precios").append(nuevaFila);             
                    }
                    oTable2.api().ajax.reload(null, false);
                }
            }else{
                utiles.log('ajax',{
                    xhr:Req.responseText
                });
            }
            $("#modal_generico").modal('toggle');
        }
    });

}


function actualizar_precio_dolar(){
    $("#modal_generico").modal('toggle');
    $.ajax({
        type: "POST",
        data:{
            monto:$("#precio_dolar").val()
        },
        beforeSend: function (xhr) {   //Include the bearer token in header
            xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
        },           
        url: "/api/v1/stock/precio_dolar/1/",      
        complete: function (Req, textStatus) {
            if (Req.status == 200)
            {
                swal({
                  title: "dolar",
                  text: 'Precio actualizado',
                  type: "success",
                  showCancelButton: false,
                  confirmButtonColor: "green",
                  confirmButtonText: "ok",
                  closeOnConfirm: false
                })
                oTable2.api().ajax.reload(null, false);

            }else{
                utiles.log('ajax',{
                    xhr:Req.responseText
                });
            }
            $("#modal_generico").modal('toggle');
        }
    });

}


$(document).ready(function () {

    $('#menu_inventario').addClass('active');
    refrescar_token();

    var url_inventario = '';
    var remove_colums = '';

    if (HDD.get('administrador') == 'si')
    {
        url_inventario = "{% url 'inventario_app:listar_inventario_ajax' %}";
        $(".solo_admin").removeClass('hide');
        $("#tab_actualizar_precios").removeClass('hide');
        remove_colums = [];
        utiles.log('registros','Modo admin con '+ JSON.stringify(url_inventario));
        llenar_encargados('filter_traslados_encargado');
    }
    else
    {
        url_inventario = "{% url 'inventario_app:listar_inventario_encargado_ajax' %}";
        $("#tab_mis_traslado").removeClass('hide');
        $("#tab_traslado_sucursal").removeClass('hide');
        $("#tab_actualizar_precios").removeClass('hide');
        $("#columna_botones_productos").remove();
        utiles.log('registros','Modo encargado con '+ JSON.stringify(url_inventario));
    }

    oTable = $('#stocks').dataTable({
        "aaSorting":[[0,"desc"]],
        "language": {
        "sLengthMenu":     "Mostrar _MENU_ inventarios",
        "sZeroRecords":    "No se encontraron resultados",
        "sEmptyTable":     "Ningún dato disponible en esta tabla",
        "sInfo":           "Mostrando inventarios del _START_ al _END_ de un total de _TOTAL_ inventarios",
        "sInfoEmpty":      "Mostrando inventarios del 0 al 0 de un total de 0 inventarios",
        "sInfoFiltered":   "(filtrado de un total de _MAX_ inventarios)",
        "sInfoPostFix":    "",
        "sSearch":         "Buscar:",
        "sThousands": ".",
        "sDecimal": ".",
        "sUrl":            "",
        "columnDefs": remove_colums,
        "sInfoThousands":  ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
          "sFirst":    "Primero",
          "sLast":     "Último",
          "sNext":     "Siguiente",
          "sPrevious": "Anterior"
        },
        "oAria": {
          "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
        },
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": url_inventario,
            "type": "POST",
            "headers": { 'Authorization':  HDD.get(settings.jwt_name) }
        },

    });

    if (HDD.get('encargado') == 'si')
    {    
        oTable.DataTable().column(3).visible( false)           
    }

    oTable2 = $('#table_productos').dataTable({
        "aaSorting":[[0,"desc"]],
        "language": {
        "sLengthMenu":     "Mostrar _MENU_ productos",
        "sZeroRecords":    "No se encontraron resultados",
        "sEmptyTable":     "Ningún dato disponible en esta tabla",
        "sInfo":           "Mostrando productos del _START_ al _END_ de un total de _TOTAL_ productos",
        "sInfoEmpty":      "Mostrando productos del 0 al 0 de un total de 0 productos",
        "sInfoFiltered":   "(filtrado de un total de _MAX_ productos)",
        "sInfoPostFix":    "",
        "sSearch":         "Buscar:",
        "sUrl":            "",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
          "sFirst":    "Primero",
          "sLast":     "Último",
          "sNext":     "Siguiente",
          "sPrevious": "Anterior"
        },
        "oAria": {
          "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
      },
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": "{% url 'inventario_app:listar_productos_ajax' %}",
            "type": "POST",
            "headers": { 'Authorization':  HDD.get(settings.jwt_name) },
        }
    });

    oTable3 = $('#traslado').dataTable({
        "aaSorting":[[0,"desc"]],
        "language": {
        "sLengthMenu":     "Mostrar _MENU_ inventarios",
        "sZeroRecords":    "No se encontraron resultados",
        "sEmptyTable":     "Ningún dato disponible en esta tabla",
        "sInfo":           "Mostrando inventarios del _START_ al _END_ de un total de _TOTAL_ inventarios",
        "sInfoEmpty":      "Mostrando inventarios del 0 al 0 de un total de 0 inventarios",
        "sInfoFiltered":   "(filtrado de un total de _MAX_ inventarios)",
        "sInfoPostFix":    "",
        "sSearch":         "Buscar:",
        "sUrl":            "",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
          "sFirst":    "Primero",
          "sLast":     "Último",
          "sNext":     "Siguiente",
          "sPrevious": "Anterior"
        },

        "oAria": {
          "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
      },
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": "{% url 'inventario_app:listar_traslados_ajax' %}",
            "type": "POST",
            "headers": { 'Authorization':  HDD.get(settings.jwt_name) },
            data: function (d) {
                d.filter_traslados_aceptado = $("#filter_traslados_aceptado").val();
                d.filter_traslados_encargado = $("#filter_traslados_encargado").val();
            },            
        }
    });
    
    $('#filter_traslados_aceptado').change(function(){
        oTable3.api().ajax.reload(null, false);
    })
    $('#filter_traslados_encargado').change(function(){
        oTable3.api().ajax.reload(null, false);
    })

    oTable4 = $('#mis_traslado').dataTable({
        "aaSorting":[[0,"desc"]],
        "language": {
        "sLengthMenu":     "Mostrar _MENU_ inventarios",
        "sZeroRecords":    "No se encontraron resultados",
        "sEmptyTable":     "Ningún dato disponible en esta tabla",
        "sInfo":           "Mostrando inventarios del _START_ al _END_ de un total de _TOTAL_ inventarios",
        "sInfoEmpty":      "Mostrando inventarios del 0 al 0 de un total de 0 inventarios",
        "sInfoFiltered":   "(filtrado de un total de _MAX_ inventarios)",
        "sInfoPostFix":    "",
        "sSearch":         "Buscar:",
        "sUrl":            "",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
          "sFirst":    "Primero",
          "sLast":     "Último",
          "sNext":     "Siguiente",
          "sPrevious": "Anterior"
        },

        "oAria": {
          "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
      },
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": "{% url 'inventario_app:listar_inventario_encargado_aceptar_ajax' %}",
            "type": "POST",
            "headers": { 'Authorization':  HDD.get(settings.jwt_name) },
        }
    });

    oTable5 = $('#mis_traslado_sucursal').dataTable({
        "aaSorting":[[0,"desc"]],
        "language": {
        "sLengthMenu":     "Mostrar _MENU_ inventarios",
        "sZeroRecords":    "No se encontraron resultados",
        "sEmptyTable":     "Ningún dato disponible en esta tabla",
        "sInfo":           "Mostrando inventarios del _START_ al _END_ de un total de _TOTAL_ inventarios",
        "sInfoEmpty":      "Mostrando inventarios del 0 al 0 de un total de 0 inventarios",
        "sInfoFiltered":   "(filtrado de un total de _MAX_ inventarios)",
        "sInfoPostFix":    "",
        "sSearch":         "Buscar:",
        "sUrl":            "",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
          "sFirst":    "Primero",
          "sLast":     "Último",
          "sNext":     "Siguiente",
          "sPrevious": "Anterior"
        },

        "oAria": {
          "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
      },
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": "{% url 'inventario_app:listar_traslados_sucursales_ajax' %}",
            "type": "POST",
            "headers": { 'Authorization': HDD.get(settings.jwt_name) },
        }
    });

});// fin ready
</script>
{% endblock extra_js %}