{% extends "base_ajax.html" %}
{% load static %}
{% block titulo %} Lista de Inventarios {% endblock titulo %}

 

{% block breadcrumb %}
{% endblock %}

{% block pagina %}
  <div class="row">
      <div class="col-md-12">
      <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h5>Lista de inventario para el producto {{producto}}</h5>
          </div>
            <div class="ibox-content">
                <table class="table table-bordered table-hover dataTables-example" >
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Cant. recibida</th>
                            <th>Fecha</th>
                            <th>Precio de compra</th>
                            <th>Botones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- cols 12 -->
</div>

{% endblock pagina %}


{% block extra_js %}
<script src="{% static 'js/sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'js/dataTables/datatables.min.js' %}"></script>
<script src="{% static 'js/dataTables/colvis.js' %}"></script>
<script type="text/javascript">
get_usuario_conectado();

var detalle_stock_modal = templater`
<div class="modal-content" id="contenido_modal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">Stock para ${'nombre'}</h4>
    </div>
    <div class="modal-body">
        <div class="col-sm-12">
            
        </div>            
    </div>
    <div class="modal-footer">
        <div class="col-sm-6">
            <a class="btn btn-info btn-md btn-block" data-dismiss="modal">Volver</a>
        </div>
        <div class="col-sm-6">
            <button type="submit" class="btn btn-success btn-md btn-block" id="guardar_cargo">Guardar</button>
        </div>
    </div>
</div>`;


var oTable;

function detalle_stock(id) {
    html = detalle_stock_modal({
        'nombre':'jovN'
    })
    $("#body_modal").empty()
    $("#body_modal").append(html);
    $("#modal_generico").modal('toggle');

}


function eliminar_dato(id) {
    swal({
        title: "Eliminar el inventario",
        text: '¿Deseas eliminar el inventario seleccionado?',
        type: "success",
        showCancelButton: true,
        confirmButtonColor: "red",
        confirmButtonText: "Eliminar",
        closeOnConfirm: false,
        html: true
    }, function () {

      $.ajax({
        type: "DELETE", //GET, POST, PUT, PATCH 
        url:   '/api/v1/stock/' + id + '/?borrar=si', 
        beforeSend: function (xhr) {   //Include the bearer token in header
          xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
        },
        complete: function (Req, textStatus)
        {
          if (Req.status === 204) 
          {
            swal({  
              title: "",
              text: "Se ha eliminado exitosamente.",
              type: "success",
              showCancelButton: false,
              confirmButtonColor: "#23c6c8",
              confirmButtonText: "Cerrar",
              closeOnConfirm: false
              }, function () {
                  //location.href = '/perfil/';
                  document.location='#/inventario/listar';
            });
          }               
        }// fin complete
      })

  });

}

$(document).ready(function () {
    $('#menu_inventario').addClass('active');
        refrescar_token();
    
        oTable = $('.table').dataTable({
        "aaSorting":[[0,"desc"]],
        "language": {
        "sLengthMenu":     "Mostrar _MENU_ inventarios",
        "sZeroRecords":    "No se encontraron resultados",
        "sEmptyTable":     "Ningún dato disponible en esta tabla",
        "sInfo":           "Mostrando inventarios del _START_ al _END_ de un total de _TOTAL_ inventarios",
        "sInfoEmpty":      "Mostrando inventarios del 0 al 0 de un total de 0 inventarios",
        "sInfoFiltered":   "(filtrado de un total de _MAX_ inventarios)",
        "sInfoPostFix":    "",
        "sSearch":         "Buscar:",
        "sUrl":            "",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
          "sFirst":    "Primero",
          "sLast":     "Último",
          "sNext":     "Siguiente",
          "sPrevious": "Anterior"
        },

        "oAria": {
          "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
      },
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": "{% url 'inventario_app:listar_inventario_producto_ajax' id %}",
            "type": "POST", 
            "headers": { 'Authorization':  HDD.get(settings.jwt_name) },
        }
    });
});

$("#guardar_cargo").on('click',function(e){

    $.ajax({
      type: "POST", //GET, , PUT, PATCH 
      url:   '/api/v1/producto/', 
      beforeSend: function (xhr) {   //Include the bearer token in header
        xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
      },
      data:
      {
        nombre: $("#nombre_producto").val(),
        unidad:$("#unidad_producto").val()
      },
      complete: function (Req, textStatus)
      {
        if (Req.status === 201) 
        {
          swal({  
            title: "",
            text: "Se ha registrado el producto exitosamente.",
            type: "success",
            showCancelButton: false,
            confirmButtonColor: "#23c6c8",
            confirmButtonText: "Cerrar",
            closeOnConfirm: false
            }, function () {
                //location.href = '/perfil/';
                //oTable.api().ajax.reload(null, false);
                $("#nuevo_producto").modal('hide');
                swal.close();

          });
        }               
      }// fin complete
    })// fin ajax

});

</script>
{% endblock extra_js %}