{% extends "base_ajax.html" %}
{% load static %}
{% block titulo %} Modificar Inventario {% endblock titulo %}

{% block head_css %}
    <link rel="stylesheet" href="{% static "css/imgareaselect-animated.css" %}" type="text/css" charset="utf-8">
{% endblock %} 

{% block breadcrumb %}
{% endblock %}

{% block head %}
    <style>
        .mb{
            margin-top: 10px;
            margin-bottom: -5px;
        }
        .thumb {
            height: 400px;
            border: 1px solid #000;
            margin: 10px 5px 0 0;
        }       
    </style>
{% endblock head %}

{% block pagina %}
    <div class="row">
        <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Modificar invenario</h5>
            </div>
            <div class="ibox-content">
                <form method="post" id="form_invenario">{% csrf_token %}
                    <div class="form-group row" autocomplete="off">
                        <div class="col-sm-6 espacio">
                            <select class="form-control" name="apodo" id="apodo" style="width: 100%;"></select>
                        </div>
                        <div class="col-sm-6">
                            <select class="form-control" name="producto" id="producto" style="width: 100%;"></select>
                        </div>
                    </div>

                    <div class="form-group row" autocomplete="off">
                        <div class="col-sm-6 espacio">
                            <select class="form-control" name="cant_recibida" id="cant_recibida" style="width: 100%;" placeholder="Cantidad recibifda"></select>
                        </div>
                        <div class="col-sm-6">
                          <input type="text" class="form-control" name="cant_consumida" id="cant_consumida" placeholder="Cantidad consumida" onkeypress="return permite(event, 'num')"/>
                        </div>
                        <div class="col-sm-6 espacio">
                            <input type="text" class="form-control" name="cant_actual" id="cant_actual" placeholder="Cantidad actual" />
                        </div>
                    </div>

                    <div class="form-group row" autocomplete="off">
                        <div class="col-sm-6 espacio">
                        <input type="text" class="form-control" name="monto" id="monto" placeholder="Monto" />
                    </div>                             
                    </div>
                    <div class="form-group row">
                      <div class="col-md-2 col-md-offset-1"><a class="btn btn-primary" href="#/inventario/listar">Volver</a></div>
                      <div class="col-md-2 col-md-offset-7">
                        <button type="submit" class="btn btn-primary" name="guardar_invenario">Guardar</button>
                      </div>
                    </div>
                </form>              
            </div>
        </div>
        </div> <!-- cols 12 -->
    </div>
{% endblock pagina %}

{% block extra_js %}
    <script src="{% static 'js/validaciones.js' %}"></script>
    <script type="text/javascript">

    get_usuario_conectado();

    HDD.set('last_url',window.location.pathname);

    $(document).ready(function () 
    {
        $("#menu_invenario").addClass("active");
        var apodo = ""
        var producto = ""
        $("#apodo").append($(document.createElement('option')).text('Encargados'));
        $("#producto").append($(document.createElement('option')).text('Productos'));

        invenario_id = "{{invenario_id}}"
        persona_id = "{{persona_id}}"

        $.ajax({
              type: "GET", //GET, POST, PUT
              url: '/api/v1/users/persona/'+persona_id+'/',  //the url to call
              beforeSend: function (xhr) {   //Include the bearer token in header
                    xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
              }
        }).done(function (response) {
          	
            $("#nombre").val(response.primer_nombre);

            apodo = response.pais_actual;
            producto = response.tipo_documento;



            $.ajax({
	            type: "GET", //GET, POST, PUT
	            url: '/api/v1/invenario/' + invenario_id + '/',
	            beforeSend: function (xhr) {   //Include the bearer token in header
                    xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
                }
            }).done(function ( data, textStatus, jqXHR ) {
              respuesta = jqXHR.responseJSON 
              $("#apodo").val(respuesta.nombre);
              $("#locacion").val(respuesta.locacion);

            }).fail(function (jqXHR, textStatus, data )  {
              return false;
            }); 


            // Se trae la lista de paises
            $.ajax({
            type: "GET", //GET, POST, PUT
            url: '/api/v1/paises/',  //the url to call
            }).done(function ( data, textStatus, jqXHR ) {
              respuesta = jqXHR.responseJSON 

              for (var i = 0; i < respuesta.length; i++) {
                  var option = $(document.createElement('option'));
                    option.text(respuesta[i].pais);
                    option.val(respuesta[i].id);
                    
                    if (pais != 0)
                    {
                      if (pais==respuesta[i].id){
                        option.attr('selected', 'selected')
                      }
                    }
                    $("#pais").append(option);
              }
              return true;

            }).fail(function (jqXHR, textStatus, data )  {

              return false;
            }); 
          }).fail(function (err)  {
              //Error during request
        }); 


        $.ajax({
            type: "GET", //GET, POST, PUT, PATCH 
            url: '/api/v1/invenario/' + invenario_id + '/porcentaje/', 
            beforeSend: function (xhr) {   //Include the bearer token in header
                xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
            },
            complete: function (Req, textStatus)
            {
                var res = JSON.parse(Req.responseText)
                if (Req.status === 400) 
                {
                    _error(res.errors);
                }
                if (Req.status === 200) 
                {
                  $('#porcentaje').val(res.porcentaje);
                }
            }//fin complete
        });


  $('#form_invenario').validate({
        errorPlacement: function (error, element)
            {element.before(error);},
        rules: {
            apodo: {
              required: true,
            },
            producto: {
                required: true,
            },
            cant_recibida: {
                required: true,
            },
            cant_consumida: {
                required: true,
            },
            cant_actual: {
                required: true,
            },
            monto: {
                required: true,
                number:true,
                minlength: 4,
                maxlength: 8
            },
            apodo: {
                required: true,
                minlength: 3,
                maxlength: 20,
            },
            pais: {
                required: true
            },
            locacion: {
                required: true,
                minlength: 4,
                maxlength: 200,
            },
        },
        messages: {
            apodo: {
                required: "Campo obligatorio"
            },
            producto: {
                required: "Campo obligatorio"
            },
            cant_recibida: {
                required: "Campo obligatorio"
            },
            cant_consumida: {
                required: "Campo obligatorio"
            },
            cant_actual: {
                required: "Campo obligatorio"
            },
            monto{
                required: "Campo obligatorio"
                minlength: "El minimo es de 4 caracteres",
                maxlength: "El maximo es de 8 caracteres",
            },
            },
        },
        submitHandler: function (_form)
        {
            $.ajax({
                type: "PATCH", //GET, POST, PUT, PATCH 
                url:   '/api/v1/users/persona/' + "{{persona_id}}" + '/',
                beforeSend: function (xhr) {   //Include the bearer token in header
                    xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
                },                
                data:{
                    mobile: $("#contacto").val(),
                    gender: $("#sexo").val(),
                },
                complete: function (Req, textStatus)
                {
                    var res = JSON.parse(Req.responseText)

                    if (Req.status === 400) 
                    {
                        _error(res.errors);
                    }
                    if (Req.status === 200) 
                    {
                      $.ajax({
                        type: "PATCH", //GET, POST, PUT, PATCH 
                        url:   '/api/v1/invenario/' + "{{invenario_id}}" + '/', 
                        beforeSend: function (xhr) {   //Include the bearer token in header
                             xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
                        },             
                        data:{
                          persona: res.persona,
                          nombre: $("#apodo").val(),
                          locacion: $("#locacion").val()
                        },
                        complete: function (Req, textStatus)
                        {
                            var res = JSON.parse(Req.responseText)

                            if (Req.status === 201) 
                            {
                              swal({  
                                title: "",
                                text: "Se modifico el invenario con exito",
                                type: "success",
                                showCancelButton: false,
                                confirmButtonColor: "#23c6c8",
                                confirmButtonText: "Cerrar",
                                closeOnConfirm: false
                                }, function () {
                                    location.href = '/invenario/listar';
                              });
                            }
                        }// fin complete
                      }) 
                    }
                }//fin complete
            });
            return false;
          }
        //...
  });

}); // Fin de ready

    
    </script>
{% endblock extra_js %}