{% extends "base_ajax.html" %}
{% load static %}
{% block titulo %} Registrar Inventario {% endblock titulo %}

{% block head_css %}
    <link href="{% static 'css/datapicker/datepicker3.css' %}" rel="stylesheet">
    <link href="{% static 'css/touchspin/jquery.bootstrap-touchspin.min.css' %}" rel="stylesheet">
{% endblock %} 

{% block breadcrumb %}
{% endblock %}

{% block head %}
    <style>
        .mb{
            margin-top: 10px;
            margin-bottom: -5px;
        }
        .thumb {
            height: 400px;
            border: 1px solid #000;
            margin: 10px 5px 0 0;
        }       
    </style>
{% endblock head %}

{% block pagina %}
    <div class="row">
        <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Registrar inventario</h5>
            </div>
            <div class="ibox-content">
              <form method="post" id="form_inventario">{% csrf_token %}
                <div class="form-group row" autocomplete="off">
                <div class="col-sm-6">
                    <div class="form-group" id="data_3">
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" data-date-format="dd-mm-yyyy" name="fecha" value="" placeholder="Fecha" id="fecha">
                        </div>
                    </div> 
                </div>
                <div class="col-sm-6 espacio hide" id="div_encargados">
                    <select class="form-control" name="encargados" id="encargados" style="width: 100%;"></select>
                </div>
                </div>

                <div class="form-group row" autocomplete="off">
                    
                    <div class="col-sm-6">
                        <select class="form-control" name="producto" id="producto" style="width: 100%;"></select>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-6">
                            <input class="touchspin1" type="text" value="0" name="cant_recibida" id="cant_recibida" placeholder="Ingresa la cantidad">
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group m-b"><span class="input-group-addon">$</span> <input type="text" class="form-control" name="monto" id="monto" placeholder="Ingresa el monto" onkeypress="return permite(event, 'num')"><span class="input-group-addon">.00</span></div>
                        </div>
                    </div>
                </div>
                <div class="form-group row " autocomplete="off">
                    
                    

                </div>

                <div class="form-group row">
                  <div class="col-md-2 col-md-offset-1"><a class="btn btn-primary" href="#/inventario/listar">Volver</a></div>
                  <div class="col-md-2 col-md-offset-7">
                    <button type="submit" class="btn btn-primary" name="guardar_inventario">Guardar</button>
                  </div>
                </div>
            </form>
            </div>
        </div>
        </div> <!-- cols 12 -->
    </div>
{% endblock pagina %}

{% block extra_js %}

<script src="{% static 'js/validaciones.js' %}"></script>
<script src="{% static 'js/datapicker/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/datapicker/bootstrap-datepicker.es.js' %}"></script>
<!-- TouchSpin -->
<script src="{% static 'js/touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>
<script type="text/javascript">
get_usuario_conectado();
HDD.set('last_url',window.location.pathname);

var encargado_session;

$(document).ready(function () 
{

    $("#menu_inventario").addClass("active");
    
    $(".touchspin1").TouchSpin({
        buttondown_class: 'btn btn-white',
        buttonup_class: 'btn btn-white',
        min: 0,
        max: 90000        
    });

    $('#data_3 .input-group.date').datepicker({
        language: 'es',
        startView: 4,
        todayBtn: "linked",
        todayHighlight: 1,
        keyboardNavigation: false,
        forceParse: false,
        autoclose: true
    });

    if (get_permiso_usuario(['administrador']))
    {
        $("#div_encargados").removeClass('hide');
        encargados();
        setTimeout(function() {
            productos();
        },900);
        
    }
    else
    {
        productos();
        $.ajax({
            type: "GET",
            url:   '/api/v1/users/persona/info_roles', 
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
            },
            complete: function (Reqdos, textStatus)
            {
                var res_dos = JSON.parse(Reqdos.responseText)
                if (Reqdos.status === 200) 
                {
                    encargado_session = res_dos.roles.encargado;

                }
            }
        }); 
    }



$('#form_inventario').validate({
errorPlacement: function (error, element)
{
    element.before(error);
},
rules: {
    producto: {
        required: true,
    },
    cant_recibida: {
        required: true,
        number:true,
    },
    monto: {
        required: true,
        minlength: 2,
        maxlength: 8,
        number:true,
    },
},
messages: {
    producto: {
        required: "Campo obligatorio"
    },
    cant_recibida: {
        required: "Campo obligatorio",
        number: "El campo debe ser numerico",
    },
    monto: {
        required: "Campo obligatorio",
        number: "El campo debe ser numerico",
        minlength: "El minimo es de 4 caracteres",
        maxlength: "El maximo es de 8 caracteres"
    },
},
submitHandler: function (_form)
{
    fecha_trabajo = $('#fecha').val().split('/');

    if ($("#encargados").val()){
        encargado = $("#encargados").val();
    }
    else
    {
        encargado = encargado_session;
    }

    $.ajax({
        type: "POST", //GET, POST, PUT, PATCH 
        url:   '/api/v1/stock/',
        beforeSend: function (xhr) {   //Include the bearer token in header
          xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
        },                
        data:{
            monto: $("#monto").val(),
            cantidad_recibida: $("#cant_recibida").val(),
            producto: $("#producto").val(),
            encargado: encargado,
            fecha_registro:  fecha_trabajo[2] + '-' + fecha_trabajo[1] + '-' + fecha_trabajo[0],
        },
        complete: function (Req, textStatus)
        {
            var res = JSON.parse(Req.responseText)

            if (Req.status === 400) 
            {
                /* Campos a obtener mensajes */
                campos = ['monto','cantidad_recibida','producto',
                          'encargado']
                errores = get_error_api(res,campos);
                // devuelvo los mensajes y los muestro en swalert
                _error(errores);

            }
            if (Req.status === 201) 
            {
                swal({  
                    title: "",
                    text: "Se registro el inventario con exito",
                    type: "success",
                    showCancelButton: false,
                    confirmButtonColor: "#23c6c8",
                    confirmButtonText: "Cerrar",
                    closeOnConfirm: false
                    }, function () {
                        location.href = '/inventario/listar';
                });
            }
        }//fin complete
    });
    return false;
  }
//...
});  
}); // Fin de ready

</script>
{% endblock extra_js %}