{% extends "base.html" %}
{% load static %}
{% block titulo %} Lista de Empleados {% endblock titulo %}

{% block head_css %}
    <link href="{% static 'css/sweetalert/sweetalert.css' %}" rel="stylesheet">
    <link href="{% static 'css/dataTables/datatables.min.css' %}" rel="stylesheet">

{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block pagina %}
  <div class="row">
      <div class="col-md-12">
      <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h5>Lista de emplados</h5>

          </div>
            <div class="ibox-content">

                    <div class="row">
                        <div class="col-sm-3 col-md-offset-9">
                            <a class="btn btn-sm btn-white btn-block" href="registrar"> <i class="fa fa-user-plus" aria-hidden="true"> Nuevo Empleado</i></a>
                        </div>
                    </div>
                    </br>
                <table class="table table-bordered table-hover dataTables-example" >
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Telefono</th>
                    <th>Encargado</th>
                    <th>Botones</th>
                </tr>
                </thead>
                    <tbody>
                        <tr></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- cols 12 -->
</div>

<div class="modal fade bs-example-modal-lg" id="detalle_empleado" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="contenido_modal">

            <div class="modal-header">
                <button class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Detalle </h4>
            </div>
            <div class="modal-body">
                <div class="col-sm-6">
                    <dl class="dl-horizontal">
                      <dt>Nombre</dt>
                      <dd><span id="nombre"></span></dd>
                    </dl>
                    <dl class="dl-horizontal">
                      <dt>Apellido</dt>
                      <dd><span id="apellido"></span></dd>
                    </dl>
                    <dl class="dl-horizontal">
                      <dt>DNI</dt>
                      <dd><span id="dni"></span></dd>
                    </dl>
                </div>

                <div class="col-sm-6">
                    <dl class="dl-horizontal">
                      <dt>Correo</dt>
                      <dd><span id="correo"></span></dd>
                    </dl>
                    <dl class="dl-horizontal">
                      <dt>Telefonos</dt>
                      <dd><span id="telefono"></span></dd>
                    </dl>
                </div>

                <div class="col-sm-6">
                    <dl class="dl-horizontal">
                      <dt>Apodo</dt>
                      <dd><span id="apodo"></span></dd>
                    </dl>
                </div>
                <div class="col-sm-12">
                    <dl class="dl-horizontal">
                      <dt>locacion</dt>
                      <dd><span id="locacion"></span></dd>
                    </dl>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-6 col-sm-offset-3">
                    <a class="btn btn-info btn-md btn-block" data-dismiss="modal">Volver</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock pagina %}


{% block extra_js %}
<script src="{% static 'js/sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'js/dataTables/datatables.min.js' %}"></script>
<script src="{% static 'js/dataTables/colvis.js' %}"></script>
<script type="text/javascript">
$('#menu_empleado').addClass('active');

get_usuario_conectado();




function carga_datos(cliente) {
$.ajax({
  type: "get",
  url: "/",
  data: {id:cliente},
  contentType: "application/json; charset=utf-8",
  dataType: "json",
  success: function (data) {
      $("#nombre").val(response.primer_nombre);
      $("#apellido").val(response.primer_apellido);
      $("#telefono_movil").val(response.mobile);
      $("#correo").val(response.email);
      $("#documento").val(response.numero_documento);
      $("#contacto").val(response.mobile);
      $("#sexo").val(response.gender);
      pais = response.pais_actual;
      tipo_doc = response.tipo_documento;

  }
})
}

function eliminar_dato(id,real=false) {
    swal({
        title: "Eliminar el empleado",
        text: '¿Deseas eliminar el empleado seleccionado?',
        type: "success",
        showCancelButton: true,
        confirmButtonColor: "red",
        confirmButtonText: "Eliminar",
        closeOnConfirm: false,
        html: true
    }, function () {
      if (real)
      {
        url='/api/v1/empleado/' + id + '/?borrar=true'
      }
      else
      {
        url='/api/v1/empleado/' + id + '/'
      }
      $.ajax({
        type: "DELETE", //GET, POST, PUT, PATCH 
        url:   url, 
        beforeSend: function (xhr) {   //Include the bearer token in header
          xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
        },
        complete: function (Req, textStatus)
        {
          if (Req.status === 204) 
          {
            swal({  
              title: "",
              text: "Se ha eliminado (desactivado) exitosamente.",
              type: "success",
              showCancelButton: false,
              confirmButtonColor: "#23c6c8",
              confirmButtonText: "Cerrar",
              closeOnConfirm: false
              }, function () {
                  //location.href = '/perfil/';
                  document.location='/empleado/listar';
            });
          }               
        }// fin complete
      })

  });

}

$(document).ready(function () {

    refrescar_token();
    
    var oTable = $('.table').dataTable({
        "aaSorting":[[0,"desc"]],
        "language": {
        "sLengthMenu":     "Mostrar _MENU_ empleados",
        "sZeroRecords":    "No se encontraron resultados",
        "sEmptyTable":     "Ningún dato disponible en esta tabla",
        "sInfo":           "Mostrando empleados del _START_ al _END_ de un total de _TOTAL_ empleados",
        "sInfoEmpty":      "Mostrando empleados del 0 al 0 de un total de 0 empleados",
        "sInfoFiltered":   "(filtrado de un total de _MAX_ empleados)",
        "sInfoPostFix":    "",
        "sSearch":         "Buscar:",
        "sUrl":            "",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
          "sFirst":    "Primero",
          "sLast":     "Último",
          "sNext":     "Siguiente",
          "sPrevious": "Anterior"
        },

        "oAria": {
          "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
      },
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": "{% url 'empleados_app:listar_empleado_ajax' %}",
            "type": "POST",
            "headers": { 'Authorization': HDD.get(settings.jwt_name) },
        }
    });
});
</script>
{% endblock extra_js %}