{% extends "base.html" %}
{% load static %}
{% block titulo %} Modificar Empleados {% endblock titulo %}

{% block head_css %}
    <link href="{% static 'css/datapicker/datepicker3.css' %}" rel="stylesheet">
{% endblock %} 

{% block breadcrumb %}
{% endblock %}

{% block head %}
    <style>
        .mb{
            margin-top: 10px;
            margin-bottom: -5px;
        }
        .thumb {
            height: 400px;
            border: 1px solid #000;
            margin: 10px 5px 0 0;
        }       
    </style>
{% endblock head %}

{% block pagina %}


    <div class="row">
        <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Modificar empleado</h5>
            </div>
            <div class="ibox-content">
            <ul class="nav nav-tabs">
               <li class="active"><a data-toggle="tab" href="#tab-1">Datos empleado</a></li>
               <li class=""><a data-toggle="tab" id="atajo1" href="#tab-2">Ganancias</a></li>
            </ul>
               <div class="tab-content">

                  <div id="tab-1" class="tab-pane active">
                      <div class="panel-body">
                        <form method="post" id="form_empleado">{% csrf_token %}
                            <div class="form-group row" autocomplete="off">
                                <div class="col-sm-6 espacio">
                                    <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre" onkeypress="return permite(event, 'car')"/>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="apellido" id="apellido" placeholder="Apellido" onkeypress="return permite(event, 'car')"/>
                                </div>
                            </div>
                            <div class="form-group row " autocomplete="off">
                                <div class="col-sm-2 espacio">
                                    <select class="form-control" name="tipo_documento" id="tipo_documento" style="width: 100%;"></select>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" name="documento" id="documento" class="form-control" placeholder="Ingresa el documento de identidad" onkeypress="return permite(event, 'num')">
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label">Sexo&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                        <div class="radio-custom radio-primary radio-inline">
                                        <input type="radio" id="femenino" name="sexo" value="0"/>
                                        <label for="femenino">Femenino</label>                              
                                      </div>
                                      <div class="radio-custom radio-primary radio-inline">
                                        <input type="radio" id="masculino" name="sexo"  value="1"/>
                                        <label for="masculino">Masculino</label>
                                      </div>
                                </div>
                            </div>

                            <div class="form-group row" autocomplete="off">
                                <div class="col-sm-6 espacio">
                                    <select class="form-control" name="pais" id="pais" style="width: 100%;"></select>
                                </div>
                                <div class="col-sm-6">
                                  <input type="text" class="form-control" name="contacto" id="contacto" placeholder="Ingresa un numero de telefono" onkeypress="return permite(event, 'num')"/>
                                </div>
                            </div>

                            <div class="form-group row hide" autocomplete="off" id="div_encargados"> 
                                <div class="col-sm-6">
                                    <select class="form-control" name="encargados" id="encargados" style="width: 100%;"></select>
                                </div>   
                            </div>

                            <div class="form-group row">
                              <div class="col-md-2 col-md-offset-1"><a class="btn btn-primary" href="/empleado/listar">Volver</a></div>
                              <div class="col-md-2 col-md-offset-7">
                                <button type="submit" class="btn btn-primary" name="guardar_empleado">Guardar</button>
                              </div>
                            </div>
                        </form>
                      </div>
                  </div>

                  <div id="tab-2" class="tab-pane">
                      <div class="panel-body">
                        <form method="post" id="form_empleados_tattoos">{% csrf_token %}

                            <div class="form-group row" autocomplete="off">
                                <div class="col-sm-6" title="Costo tatuaje chico">
                                    <div class="input-group m-b"><span class="input-group-addon">$</span> <input type="text" class="form-control" name="costo_tattoo_chico" id="costo_tattoo_chico" maxlength="6" placeholder="Costo tattoo chico"><span class="input-group-addon">.00</span></div>
                                </div>
                                <div class="col-sm-6" title="Costo tatuaje grande">
                                    <div class="input-group m-b"><span class="input-group-addon">$</span> <input type="text" class="form-control" name="costo_tattoo_grande" id="costo_tattoo_grande" maxlength="6" placeholder="Costo tattoo grande"><span class="input-group-addon">.00</span></div>
                                </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-md-2 col-md-offset-1"><a class="btn btn-primary" href="/empleado/listar">Volver</a></div>
                              <div class="col-md-2 col-md-offset-7">
                                <button type="submit" class="btn btn-primary" name="guardar_ganancia_empleado">Guardar</button>
                              </div>
                            </div>
                        </form>
                      </div>
                  </div>


              </div>
            </div>
        </div>
        </div> <!-- cols 12 -->
    </div>
{% endblock pagina %}

{% block extra_js %}
<script src="{% static 'js/validaciones.js' %}"></script>
<script src="{% static 'js/jquery.imgareaselect.pack.js' %}"></script>
<script type="text/javascript">
get_usuario_conectado();
HDD.set('last_url',window.location.pathname);

$(document).ready(function () 
{

    empleado_id = "{{empleado_id}}";
    persona_id = "{{persona_id}}";

    if (get_permiso_usuario(['administrador']))
    {
        $("#div_encargados").removeClass('hide');

        encargado_de_empleado(empleado_id,function(encargado){
            opts = {
                seleccionar: encargado
            }
            encargados(opts);
        });

    }

    atajo1 = $.parametrosUrl.ganancia;
    if (atajo1) $("#atajo1").click();

    $("#menu_empleado").addClass("active");
    var tipo_doc = ""
    var pais = ""
    $("#pais").append($(document.createElement('option')).text('Paises'));
    $("#tipo_documento").append($(document.createElement('option')).text('Tipos'));


    $.ajax({
          type: "GET", //GET, POST, PUT
          url: '/api/v1/users/persona/'+persona_id+'/',  //the url to call
          beforeSend: function (xhr) {   //Include the bearer token in header
              xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
          }
    }).done(function (response) {
      	
        $("#nombre").val(response.primer_nombre);
        $("#apellido").val(response.primer_apellido);
        $("#telefono_movil").val(response.mobile);
        $("#correo").val(response.email);
        $("#documento").val(response.numero_documento);
        $("#contacto").val(response.mobile);

        if (response.gender)
        {
        	$("#masculino").prop("checked", true); 
        }
        else
        {
        	$("#femenino").prop("checked", true); 
        }

        pais = response.pais_actual;
        tipo_doc = response.tipo_documento;


        $.ajax({
            type: "GET", //GET, POST, PUT
            url: '/api/v1/documentos/',
        }).done(function ( data, textStatus, jqXHR ) {
          respuesta = jqXHR.responseJSON 

          for (var i = 0; i < respuesta.tipo.length; i++) {
              var option = $(document.createElement('option'));
                option.text(respuesta.tipo[i].id);
                option.val(respuesta.tipo[i].id);
                if (tipo_doc != 0)
                {
                  if (tipo_doc==respuesta.tipo[i].id){
                    option.attr('selected', 'selected')
                  }
                }
                $("#tipo_documento").append(option);
          }
          return true;

        }).fail(function (jqXHR, textStatus, data )  {
          return false;
        }); 

        // Se trae la lista de paises
        $.ajax({
        type: "GET", //GET, POST, PUT
        url: '/api/v1/paises/',  //the url to call
        }).done(function ( data, textStatus, jqXHR ) {
          respuesta = jqXHR.responseJSON 

          for (var i = 0; i < respuesta.length; i++) {
              var option = $(document.createElement('option'));
                option.text(respuesta[i].pais);
                option.val(respuesta[i].id);
                
                if (pais != 0)
                {
                  if (pais==respuesta[i].id){
                    option.attr('selected', 'selected')
                  }
                }
                $("#pais").append(option);
          }
          return true;

        }).fail(function (jqXHR, textStatus, data )  {

          return false;
        }); 
      }).fail(function (err)  {
          //Error during request
    }); 


    $.ajax({
        type: "GET", //GET, POST, PUT
        url: '/api/v1/empleado/'+empleado_id+'/ganancia/ ',
        beforeSend: function (xhr) {   //Include the bearer token in header
                  xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
        }
    }).done(function ( data, textStatus, jqXHR ) {
        respuesta = jqXHR.responseJSON;
        $("#costo_tattoo_grande").val(respuesta.ganancia_grande);
        $("#costo_tattoo_chico").val(respuesta.ganancia_chico);

    }).fail(function (jqXHR, textStatus, data )  {
      return false;
    }); 


$('#form_empleado').validate({
    errorPlacement: function (error, element)
    {
        element.before(error);
    },
    rules: {
        tipo_documento: {
          required: true,
        },
        documento: {
            required: true,
        },
        sexo: {
            required: true,
        },
        nombre: {
            required: true,
            minlength: 3,
            maxlength: 20,
        },
        apellido: {
            required: true,
            minlength: 3,
            maxlength: 20,
        },
        contacto: {
            required: true,
            number:true,
            minlength: 11,
            maxlength: 20
        },
        pais: {
            required: true
        },
    },
    messages: {
        tipo_documento: {
            iqual:"Seleccione el tipo",
            required: "Campo obligatorio"
        },
        documento: {
            required: "Campo obligatorio"
        },
        nombre: {
            required: "Campo obligatorio",
            minlength: "El minimo es de 3 caracteres",
            maxlength: "El maximo es de 20 caracteres",
        },
        apellido: {
            required: "Campo obligatorio",
            minlength: "El minimo es de 3 caracteres",
            maxlength: "El maximo es de 20 caracteres",
        },
        sexo: {
            required: "Campo obligatorio"
        },
        documento: {
            required: "Campo obligatorio"
        },
        contacto: {
            required: "Campo obligatorio",
            number: "El campo debe ser numerico",
            minlength: "El minimo es de 11 caracteres",
            maxlength: "El maximo es de 20 caracteres"
        },
        pais: {
            required: "Campo obligatorio"
        }
    },
    submitHandler: function (_form)
    {
        genero = $('input:radio[name=sexo]:checked').val();

        $.ajax({
            type: "PATCH", //GET, POST, PUT, PATCH 
            url:   '/api/v1/users/persona/' + "{{persona_id}}" + '/',
            beforeSend: function (xhr) {   //Include the bearer token in header
              xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
            },                
            data:{
                mobile: $("#contacto").val(),
                gender: genero,
                primer_nombre: $("#nombre").val(),
                primer_apellido: $("#apellido").val(),
                tipo_documento: $("#tipo_documento").val(),
                numero_documento: $("#documento").val(),
                pais: $("#pais").val()
            },
            complete: function (Req, textStatus)
            {
                var res = JSON.parse(Req.responseText)

                if (Req.status === 400) 
                {
                    /* Campos a obtener mensajes */
                    campos = ['mobile','pais','sexo',
                              'primer_nombre','primer_apellido',
                              'numero_documento','tipo_documento',
                              'gender','codigo']
                    errores = get_error_api(res,campos);
                    // devuelvo los mensajes y los muestro en swalert
                    _error(errores);
                }
                if (Req.status === 200) 
                {
                    sms = "Se modifico el empleado con exito";

                    if (get_permiso_usuario(['administrador']))
                    {
                        obj_empleado ={
                            id: empleado_id
                        } 
                        asociar_empleado_encargado(obj_empleado,sms);
                    }
                    else
                    {
                        swal({  
                            title: "",
                            text: sms,
                            type: "success",
                            showCancelButton: false,
                            confirmButtonColor: "#23c6c8",
                            confirmButtonText: "Cerrar",
                            closeOnConfirm: false
                            }, function () {
                                location.href = '/empleado/listar';
                        });
                    }

                }
            }//fin complete
        });
        return false;
    }
    //...
});



  $('#form_empleados_tattoos').validate({
        errorPlacement: function (error, element)
        {
            element.before(error);
        },
        rules: {
            costo_tattoo_grande: {
                required: true,
            },
            costo_tattoo_chico: {
                required: true,
            }            
        },
        messages: {
            costo_tattoo_chico: {
                required: "Campo obligatorio"
            },
            costo_tattoo_grande: {
                required: "Campo obligatorio"
            },            
        },
        submitHandler: function (_form)
        {
            $.ajax({
                type: "POST", //GET, POST, PUT, PATCH 
                url: '/api/v1/empleado/'+empleado_id+'/ganancia/ ', 
                beforeSend: function (xhr) {   //Include the bearer token in header
                  xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
                },                
                data:{
                    chico: $("#costo_tattoo_chico").val(),
                    grande: $("#costo_tattoo_grande").val(),
                    empleado: empleado_id
                },
                complete: function (Req, textStatus)
                {
                    var res = JSON.parse(Req.responseText)

                    if (Req.status === 400) 
                    {
                        /* Campos a obtener mensajes */
                        campos = ['monto']
                        errores = get_error_api(res,campos);
                        // devuelvo los mensajes y los muestro en swalert
                        _error(errores);
                    }
                    if (Req.status === 201) 
                    {
                      
                        swal({  
                            title: "",
                            text: "Se actualizo la ganancia para este empleado",
                            type: "success",
                            showCancelButton: false,
                            confirmButtonColor: "#23c6c8",
                            confirmButtonText: "Cerrar",
                            closeOnConfirm: false
                            }, function () {
                                location.href = '/empleado/listar';
                        });

                    }
                }//fin complete
            });
            return false;
        }
        //...
  });



}); // Fin de ready


</script>
{% endblock extra_js %}