{% extends "base.html" %}
{% load static %}
{% block titulo %} Registrar Empleado {% endblock titulo %}

{% block head_css %}
    <link rel="stylesheet" href="{% static 'css/imgareaselect-animated.css' %}" type="text/css" charset="utf-8">
{% endblock %} 

{% block breadcrumb %}
{% endblock %}

{% block head %}
    <style>
        .mb{
            margin-top: 10px;
            margin-bottom: -5px;
        }
        .thumb {
            height: 400px;
            border: 1px solid #000;
            margin: 10px 5px 0 0;
        }       
    </style>
{% endblock head %}

{% block pagina %}
    <div class="row">
        <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Registrar empleado</h5>
            </div>
            <div class="ibox-content">
              <form method="post" id="form_empleado">{% csrf_token %}
                <div class="form-group row" autocomplete="off">
                    <div class="col-sm-6 espacio">
                        <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre" onkeypress="return permite(event, 'car')"/>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="apellido" id="apellido" placeholder="Apellido" onkeypress="return permite(event, 'car')"/>
                    </div>
                </div>
                <div class="form-group row " autocomplete="off">
                    <div class="col-sm-2 espacio">
                        <select class="form-control" name="tipo_documento" id="tipo_documento" style="width: 100%;"></select>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="documento" id="documento" class="form-control" placeholder="Ingresa el documento de identidad" onkeypress="return permite(event, 'num')">
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">Sexo&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <div class="radio-custom radio-primary radio-inline">
                            <input type="radio" id="femenino" name="sexo" value="False"/>
                            <label for="femenino">Femenino</label>                              
                          </div>
                          <div class="radio-custom radio-primary radio-inline">
                            <input type="radio" id="masculino" name="sexo"  value="True"/>
                            <label for="masculino">Masculino</label>
                          </div>
                    </div>
                </div>

                <div class="form-group row" autocomplete="off">
                    <div class="col-sm-6 espacio">
                        <select class="form-control" name="pais" id="pais" style="width: 100%;"></select>
                    </div>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="contacto" id="contacto" placeholder="Ingresa un numero de telefono" onkeypress="return permite(event, 'num')"/>
                    </div>
                </div>

                <div class="form-group row hide" autocomplete="off" id="div_encargados"> 
                    <div class="col-sm-6">
                        <select class="form-control" name="encargados" id="encargados" style="width: 100%;"></select>
                    </div>   
                </div>

                <div class="form-group row">
                  <div class="col-md-2 col-md-offset-1"><a class="btn btn-primary" href="listar">Volver</a></div>
                  <div class="col-md-2 col-md-offset-7">
                    <button type="submit" class="btn btn-primary" name="guardar_empleado">Guardar</button>
                  </div>
                </div>
            </form>
            </div>
        </div>
        </div> <!-- cols 12 -->
    </div>
{% endblock pagina %}

{% block extra_js %}

<script src="{% static 'js/validaciones.js' %}"></script>
<script src="{% static 'js/jquery.imgareaselect.pack.js' %}"></script>
<script type="text/javascript">
get_usuario_conectado();
HDD.set('last_url',window.location.pathname);

$(document).ready(function (){
    
    $("#menu_empleado").addClass("active");

    if (get_permiso_usuario(['administrador']))
    {
        encargados();
        $("#div_encargados").removeClass('hide');
    }
    
    documentos();

    paises();

  $('#form_empleado').validate({
        errorPlacement: function (error, element)
        {
            element.before(error);
        },
        rules: {
            tipo_documento: {
              required: true,
            },
            documento: {
                required: true,
            },
            sexo: {
                required: true,
            },
            nombre: {
                required: true,
                minlength: 3,
                maxlength: 20,
            },
            apellido: {
                required: true,
                minlength: 3,
                maxlength: 20,
            },
            contacto: {
                required: true,
                number:true,
                minlength: 11,
                maxlength: 20
            },
            pais: {
                required: true
            },     
        },
        messages: {
            tipo_documento: {
                required: "Campo obligatorio"
            },
            documento: {
                required: "Campo obligatorio"
            },
            nombre: {
                required: "Campo obligatorio",
                minlength: "El minimo es de 3 caracteres",
                maxlength: "El maximo es de 20 caracteres",
            },
            apellido: {
                required: "Campo obligatorio",
                minlength: "El minimo es de 3 caracteres",
                maxlength: "El maximo es de 20 caracteres",
            },
            sexo: {
                required: "Campo obligatorio"
            },
            documento: {
                required: "Campo obligatorio"
            },
            contacto: {
                required: "Campo obligatorio",
                number: "El campo debe ser numerico",
                minlength: "El minimo es de 11 caracteres",
                maxlength: "El maximo es de 20 caracteres"
            },
            pais: {
                required: "Campo obligatorio"
            },       
        },
        submitHandler: function (_form)
        {
            genero = $('input:radio[name=sexo]:checked').val();

            $.ajax({
                type: "POST", //GET, POST, PUT, PATCH 
                url:   '/api/v1/users/persona/parcial/' + HDD.get('idpersona'),
                beforeSend: function (xhr) {   //Include the bearer token in header
                  xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
                },                
                data:{
                    mobile: $("#contacto").val(),
                    gender: genero,
                    primer_nombre: $("#nombre").val(),
                    primer_apellido: $("#apellido").val(),
                    tipo_documento: $("#tipo_documento").val(),
                    numero_documento: $("#documento").val(),
                    pais: $("#pais").val()
                },
                complete: function (Req, textStatus)
                {
                    var res = JSON.parse(Req.responseText)

                    if (Req.status === 400) 
                    {
                        /* Campos a obtener mensajes */
                        campos = ['mobile','pais','sexo',
                                  'primer_nombre','primer_apellido',
                                  'numero_documento','tipo_documento',
                                  'gender','codigo']
                        errores = get_error_api(res,campos);
                        // devuelvo los mensajes y los muestro en swalert
                        _error(errores);

                    }
                    if (Req.status === 201) 
                    {

                        nuevo_empleado(res);

                    }
                }//fin complete
            });
            return false;
          }
        //...
    });  
}); // Fin de ready


function nuevo_empleado(respuesta) {

  $.ajax({
    type: "POST", //GET, POST, PUT, PATCH 
    url:   '/api/v1/empleado/', 
    beforeSend: function (xhr) {   //Include the bearer token in header
      xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
    },             
    data:{
      persona: respuesta.persona
    },
    complete: function (Req, textStatus)
    {
        var res = JSON.parse(Req.responseText)

        if (Req.status === 201) 
        {
            asociar_empleado_encargado(res)
        }
    }// fin complete
  }) //fin ajax

}



</script>

{% endblock extra_js %}