{% extends "base_ajax.html" %}
{% load static %}
{% block titulo %}Cuenta Encargado{% endblock titulo %}

{% block head %}
    <style>
        .mb{
            margin-top: 10px;
            margin-bottom: -5px;
        }
        .thumb {
            height: 400px;
            border: 1px solid #000;
            margin: 10px 5px 0 0;
        }       
    </style>
{% endblock head %}

{% block pagina %}
    <div class="row">

        <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Balance del encargado #{{encargado_id}} {{nombre}}: </h5>
            </div>
            <div class="ibox-content">

                <div class="row">
                    <div class="col-lg-3">
                        <div class="widget style1 lazur-bg">
                            <div class="row vertical-align">
                                <div class="col-xs-9 text-right">
                                    <h2 class="font-bold"> {{simbolo}} {{ saldo|floatformat:"2" }}</h2>
                                </div>
                            </div>
                        </div>
                    </div>       

                    <div class="col-lg-6">
                        <div class="widget style1 yellow-bg">
                            <div class="row vertical-align">
                                <div class="col-xs-9 text-right">
                                    <h2 class="font-bold"> {{operaciones}} Operaciones</h2>
                                </div>
                            </div>
                        </div>
                    </div> 


                </div>              
             
            </div>
        </div>
        </div> <!-- cols 12 -->

        <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Cuenta</h5>
            </div>
            <div class="ibox-content">
            <ul class="nav nav-tabs">
               <li class="active"><a data-toggle="tab" href="#tab-1">Transferencia</a></li>
               <li class=""><a data-toggle="tab" id="atajo" href="#tab-2">Movimientos</a></li>
            </ul>
               <div class="tab-content">

                  <div id="tab-1" class="tab-pane active">
                      <div class="panel-body">
                        <form method="post" id="form_cuenta">{% csrf_token %}
                        <div class="form-group row" autocomplete="off">
                            <div class="col-sm-6 espacio">
                                <input type="text" class="form-control" name="monto" id="monto" placeholder="monto" onkeypress="return permite(event, 'num')"/>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control" id="tipo_movimiento">
                                    <option value="+"> Abono </option>
                                    <option value="-"> Retiro </option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group" autocomplete="off">
                                    <textarea class="form-control" rows="1" id='descripcion' style="width: 100%; color: #000;" placeholder="Coloque una descripcion"></textarea>
                                </div>                        
                            </div>    
                        </div>

                        <div class="form-group row">
                          <div class="col-md-2 col-md-offset-1"><a class="btn btn-primary" href="#/encargado/listar">Volver</a></div>
                          <div class="col-md-2 col-md-offset-7">
                            <button type="submit" class="btn btn-primary" name="guardar_encargado">Guardar</button>
                          </div>
                        </div>
                    </form>

                      </div>
                  </div>
                  <div id="tab-2" class="tab-pane">
                      <div class="panel-body">
                        <div class="col">
                            <table id="movimientos" class="table  table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Tipo Operacion</th>
                                        <th>Monto</th>
                                        <th>Descripcion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr></tr>
                                </tbody>
                            </table>
                            
                        </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
        </div> <!-- cols 12 -->
    </div>
{% endblock pagina %}

{% block extra_js %}
<script src="{% static 'js/dataTables/datatables.min.js' %}"></script>
<script src="{% static 'js/dataTables/colvis.js' %}"></script>
<script src="{% static 'js/validaciones.js' %}"></script>
<script type="text/javascript">
get_usuario_conectado();
HDD.set('last_url',window.location.pathname);
var url_movimientos = "{% url 'encargados_app:listar_transacciones_encargado_ajax' encargado_id %}"
$(document).ready(function () 
{
    $("#menu_encargado").addClass("active");
    $('#form_cuenta').validate({
    errorPlacement: function (error, element)
    {
        element.before(error);
    },
    rules: {
        monto: {
            required: true,
        }
    },
    messages: {
        monto: {
            required: "Campo obligatorio"
        }
    },
    submitHandler: function (_form)
    {
        if ($("#tipo_movimiento").val() == '+' )
        {
            monto = parseFloat($("#monto").val())
        }
        else
        {
            monto = parseFloat($("#monto").val()) * (-1);
        }


        $.ajax({
            type: "POST", //GET, POST, PUT, PATCH 
            url:   '/api/v1/transaccion/',
            beforeSend: function (xhr) {   //Include the bearer token in header
              xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
            },                
            data:{
                cuenta_destino: "{{cuenta_id}}",
                monto: monto,
                descripcion: $("#descripcion").val()
            },
            complete: function (Req, textStatus)
            {
                var res = JSON.parse(Req.responseText)

                if (Req.status === 400) 
                {
                    /* Campos a obtener mensajes */
                    campos = ['cuenta_destino','monto_transaccion']
                    errores = get_error_api(res,campos);
                    // devuelvo los mensajes y los muestro en swalert
                    _error(errores);

                }
                if (Req.status === 201) 
                {
                    swal({  
                        title: "",
                        text: "Operacion realizada exitosamente",
                        type: "success",
                        showCancelButton: false,
                        confirmButtonColor: "#23c6c8",
                        confirmButtonText: "Cerrar",
                        closeOnConfirm: false
                        }, function () {
                            location.href = '/encargado/cuentas/'+ "{{encargado_id}}";
                    });
                }
            }//fin complete
        });
        return false;
      }
    //...
});

    oTable = $('#movimientos').dataTable({
    "aaSorting":[[0,"desc"]],
    "language": {
    "sLengthMenu":     "Mostrar _MENU_ inventarios",
    "sZeroRecords":    "No se encontraron resultados",
    "sEmptyTable":     "Ningún dato disponible en esta tabla",
    "sInfo":           "Mostrando inventarios del _START_ al _END_ de un total de _TOTAL_ inventarios",
    "sInfoEmpty":      "Mostrando inventarios del 0 al 0 de un total de 0 inventarios",
    "sInfoFiltered":   "(filtrado de un total de _MAX_ inventarios)",
    "sInfoPostFix":    "",
    "sSearch":         "Buscar:",
    "sThousands": ".",
    "sDecimal": ".",
    "sUrl":            "",
    "sInfoThousands":  ",",
    "sLoadingRecords": "Cargando...",
    "oPaginate": {
      "sFirst":    "Primero",
      "sLast":     "Último",
      "sNext":     "Siguiente",
      "sPrevious": "Anterior"
    },

    "oAria": {
      "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
      "sSortDescending": ": Activar para ordenar la columna de manera descendente"
    }
  },
    "processing": true,
    "serverSide": true,
    "ajax": {
        "url": url_movimientos,
        "type": "POST",
        "headers": { 'Authorization':  HDD.get(settings.jwt_name) }
    },

});

}); // Fin de ready

</script>
{% endblock extra_js %}