{% extends "base_ajax.html" %}
{% load static %}
{% block titulo %} Encargados dashboard {% endblock titulo %}

{% block head_css %}
{% endblock %} 
{% block breadcrumb %}
{% endblock %}
{% block head %}
{% endblock head %}

{% block pagina %}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row" id="row_encargados">

    </div>
</div>
{% endblock pagina %}

{% block extra_js %}
<script type="text/javascript">
get_usuario_conectado();

if (get_permiso_usuario(['administrador']))
{

  var encargadoTemplate = templater`
  <div class="col-lg-4 col-md-4 col-sm-4 animated fadeInRight">
      <div class="contact-box" style="height: 205px;">
          <a href="#">
          <div class="col-sm-4">
              <div class="text-center">
                  <div class="row">
                      <div class="col-md-12 col-md-offset-0 col-xs-6 col-xs-offset-3"><img alt="img" class="img-circle m-t-xs img-responsive" src="${'perfil'}"></div>
                  </div>
                  <br>
                  <h3 class="m-t-xs font-bold">${ 'apodo' }</h3>
              </div>
          </div>
          <div class="col-sm-8">
              <h3><strong>${ 'nombre' } ${ 'apellido' }</strong></h3>
              <p><i class="fa fa-map-marker"></i> ${ 'localidad' }</p>
              <address>
                  ${'direccion'}<br>
                  <abbr title="${ 'tipo_documento' }">${ 'tipo_documento' }:</abbr> ${ 'numero_documento' }<br>
                  <abbr title="Telefono">Tlf:</abbr> ${ 'telefono' }
              </address>
          </div>
          <div class="clearfix"></div>
              </a>
      </div>
  </div>`;


      $.ajax({
          type: "GET", //GET, POST, PUT
          url: '/api/v1/encargado/',  //the url to call
          beforeSend: function (xhr) {   //Include the bearer token in header
            xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
          },
      }).done(function ( data, textStatus, jqXHR ) {

            respuesta = jqXHR.responseJSON 
            console.log(respuesta);

            for (var i = 0; i < respuesta.length; i++) {
                 
                 direccion = respuesta[i].datos_personales.direccion;
                 
                 if (direccion == null){
                    direccion = ' '
                 }

                 if (respuesta[i].datos_personales.avatar != '')
                 {
                    avatar = '/media/'+respuesta[i].datos_personales.avatar
                 }
                 else
                 {
                    avatar =  "{% static 'img/user.png' %}"
                 }
                 var enc = {
                      nombre: respuesta[i].datos_personales.primer_nombre,
                      apellido: respuesta[i].datos_personales.primer_apellido,
                      apodo: respuesta[i].nombre,
                      id: i,
                      telefono: respuesta[i].datos_personales.mobile,
                      tipo_documento: respuesta[i].datos_personales.tipo_documento,
                      numero_documento: respuesta[i].datos_personales.numero_documento,
                      direccion: direccion,
                      localidad: respuesta[i].locacion,
                      perfil: avatar
                 }    

                 myTemplate = encargadoTemplate( enc );
                 $("#row_encargados").append(myTemplate);
            }

            return true;

      }).fail(function (jqXHR, textStatus, data )  {
          return false;
      }); 

}
else
{
    if (get_permiso_usuario(['encargado']))
    {
        setTimeout(function(){ location.href = '/empleado/listar'; }, 140); 
    }
}
</script>
{% endblock extra_js %}
