{% extends "base_ajax.html" %}
{% load static %}
{% block titulo %} Reporte Metodo de Pago {% endblock titulo %}

{% block pagina %}
<div class="row">
    <div class="col-md-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Reporte metodo de pago encargado</h5>
        </div>
        <div class="ibox-content">
          
            <form action="#" autocomplete="on">
              <div class="row">
              <div class="col-lg-4 col-md-4 col-xs-6">
                <div class="widget style1 navy-bg">
                  <div class="row">
                      <div class="col-xs-3 text-letf">
                          <span>Inicio</span>
                      </div>
                      <div class="col-xs-9">
                        <div class="form-group" id="data_3">
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar-minus"></i></span>
                                <input class="form-control" data-date-format="dd-mm-yyyy" id="fecha_inicio" type="text" autocomplete="on" placeholder="dd-mm-aaaa"></input>
                            </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-xs-6">
                  <div class="widget style1 navy-bg">
                      <div class="row">
                        <div class="col-xs-3 text-letf">
                            <span>Fin</span>
                        </div>
                        <div class="col-xs-9">
                          <div class="form-group" id="data_4">
                              <div class="input-group date">
                                  <span class="input-group-addon"><i class="fa fa-calendar-minus"></i></span>
                                  <input class="form-control" data-date-format="dd-mm-yyyy" id="fecha_fin" type="text" autocomplete="on" placeholder="dd-mm-aaaa"></input>
                              </div>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-2 col-md-2 col-xs-4 solo_admin hide">
                  <div class="form-group"> 
                  <select class="form-control" name="encargado" id="encargados" style="width: 100%;"></select>
                  </div>
              </div>              
              <div class="col-lg-2 col-md-2 col-xs-4">
                <div class="widget style2 lazur-bg">
                  <div class="row">
                    <div class="col-xs-12 text-letf">
                        <button class="btn btn-success" type="button" onclick="filtrar()">Filtrar</button>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </form>

          <div class="row">
            <div class="col-lg-3 col-md-3 col-xs-6">
              <div class="widget style1" style="background-color: #1a375d;">
                  <div class="row">
                    <div class="col-xs-12 text-right">
                        <span> Total Transferencia</span>
                    </div>
                    <div class="col-xs-3">
                        <i class="fas fa-money-bill fa-3x" style="color:green"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <h2 class="font-bold" id="por_transferencia">0</h2>
                    </div>
                  </div>
              </div>
            </div>        
            <div class="col-lg-3 col-md-3 col-xs-6">
              <div class="widget style1" style="background-color: #1a375d;">
                  <div class="row">
                    <div class="col-xs-12 text-right">
                        <span> Total punto de venta</span>
                    </div>
                    <div class="col-xs-3">
                        <i class="fas fa-money-bill fa-3x" style="color:green"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <h2 class="font-bold" id="por_punto_venta">0</h2>
                    </div>
                  </div>
              </div>
            </div>  
            <div class="col-lg-3 col-md-3 col-xs-6">
              <div class="widget style1" style="background-color: #1a375d;">
                  <div class="row">
                    <div class="col-xs-12 text-right">
                        <span> Total Efectivo</span>
                    </div>
                    <div class="col-xs-3">
                        <i class="fas fa-money-bill fa-3x" style="color:green"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <h2 class="font-bold" id="por_efectivo">0</h2>
                    </div>
                  </div>
              </div>
            </div>            
                      
          </div>

                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1">Transferencia</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-2">Punto</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-3">Efectivo</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <table id="table_transferencias" class="table table-bordered table-hover dataTables-example" width="100%">
                            <thead>
                            <tr>
                                <th>Cliente</th>
                                <th>Cedula</th>
                                <th>Referencia</th>
                                <th>Monto</th>
                            </tr>
                            </thead>
                                <tbody>
                                    <tr></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">
                            <table id="table_puntos" class="table table-bordered table-hover dataTables-example" width="100%">
                            <thead>
                                <tr>
                                  <th>Cliente</th>
                                  <th>Cedula</th>
                                  <th>Referencia</th>
                                  <th>Monto</th>
                                </tr>
                            </thead>
                                <tbody>
                                    <tr></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane">
                        <div class="panel-body"> 
                            <table id="table_efectivo" class="table table-bordered table-hover dataTables-example" width="100%">
                            <thead>
                            <tr>
                                <th>Cliente</th>
                                <th>Cedula</th>
                                <th>Monto</th>
                            </tr>
                            </thead>
                                <tbody>
                                    <tr></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>   
                </div>          
        </div>
      </div> <!-- cols 12 -->
    </div>
</div>

{% endblock pagina %}


{% block extra_js %}
<script src="{% static 'js/dataTables/colvis.js' %}"></script>
<script src="{% static 'js/datapicker/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/datapicker/bootstrap-datepicker.es.js' %}"></script>
<script type="text/javascript">
get_usuario_conectado();
var enc = HDD.get('encargado_id');
HDD.set('last_url',window.location.pathname);
$('#menu_reporte_encargado').addClass('active');
var table_transferencias, table_puntos, table_efectivo;

function refrescar_widgets(fechas) {

  if (HDD.get('administrador') == 'si')
  {
    if (fechas)
    {
      fecha_inicio = $("#fecha_inicio").val();
      fecha_fin = $("#fecha_fin").val();    
      url = '/api/v2/encargado/venta/reporte?start='+fecha_inicio+'&end='+fecha_fin;
    }
    else
    {
      url = '/api/v2/encargado/venta/reporte?'
    }
    enc_select = $("#encargados").val();

    if (enc_select != "Seleccione un encargado")
    {
      url += '&encargado='+enc_select
    }

  }
  else
  {
    if (fechas)
    {
      fecha_inicio = $("#fecha_inicio").val();
      fecha_fin = $("#fecha_fin").val();    
      url = '/api/v2/encargado/venta/reporte?start='+fecha_inicio+'&end='+fecha_fin;
    }
    else
    {
      url = '/api/v2/encargado/venta/reporte'
    }    
  }


  $.ajax({
    type: "GET",
    url:   url, 
    beforeSend: function (xhr) {
      xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
    },
    complete: function (Req, textStatus, jqXHR)
    {
      respuesta = Req.responseJSON;
      if (Req.status === 200) 
      {
        $("#por_transferencia").text(respuesta.por_transferencia);
        $("#por_efectivo").text(respuesta.por_efectivo);
        $("#por_punto_venta").text(respuesta.por_punto_venta);
      }               
    }// fin complete
  })
}

function filtrar() {

  refrescar_widgets(true);
  fecha_inicio = $("#fecha_inicio").val();
  fecha_fin = $("#fecha_fin").val();

  if (HDD.get('administrador') == 'si')
  {
    enc_select = $("#encargados").val();
    url_transferencias = "/ajax/listar_ventas_reporte_encargado_metodo/"+enc_select+"/?modo=transferencia&start="+fecha_inicio+"&end="+fecha_fin;
    url_puntos = "/ajax/listar_ventas_reporte_encargado_metodo/"+enc_select+"/?modo=punto&start="+fecha_inicio+"&end="+fecha_fin;
    url_efectivo = "/ajax/listar_ventas_reporte_encargado_metodo/"+enc_select+"/?modo=efectivo&start="+fecha_inicio+"&end="+fecha_fin;
  }
  else
  {
    url_transferencias = "/ajax/listar_ventas_reporte_encargado_metodo/"+enc+"/?modo=transferencia&start="+fecha_inicio+"&end="+fecha_fin;
    url_puntos = "/ajax/listar_ventas_reporte_encargado_metodo/"+enc+"/?modo=punto&start="+fecha_inicio+"&end="+fecha_fin;
    url_efectivo = "/ajax/listar_ventas_reporte_encargado_metodo/"+enc+"/?modo=efectivo&start="+fecha_inicio+"&end="+fecha_fin;  
  }


  table_transferencias = $('#table_transferencias').DataTable();
  table_transferencias.ajax.url( url_transferencias ).load();
  table_puntos = $('#table_puntos').DataTable();
  table_puntos.ajax.url( url_puntos ).load();
  table_efectivo = $('#table_efectivo').DataTable();
  table_efectivo.ajax.url( url_efectivo ).load();     
  

}

$("#encargados").on("change",function(){
  if ( $("#encargados").val() != "Seleccione un encargado"){
    filtrar();
  }
});

$(document).ready(function () {

  refrescar_widgets(false);

  $('.input-group.date').datepicker({
      language: 'es',
      startView: 4,
      todayBtn: "linked",
      todayHighlight: 1,
      keyboardNavigation: false,
      forceParse: false,
      autoclose: true,
      format: 'dd-mm-yyyy'
  });

  if (HDD.get('administrador') == 'si')
  {
    encargados();
    $(".solo_admin").removeClass('hide');
    url_transferencias = "/ajax/listar_ventas_reporte_metodo/?modo=transferencia";
    url_puntos = "/ajax/listar_ventas_reporte_metodo/?modo=punto";
    url_efectivo = "/ajax/listar_ventas_reporte_metodo/?modo=efectivo";
  }
  else
  {
    url_transferencias = "/ajax/listar_ventas_reporte_encargado_metodo/"+enc+"/?modo=transferencia";
    url_puntos = "/ajax/listar_ventas_reporte_encargado_metodo/"+enc+"/?modo=punto";
    url_efectivo = "/ajax/listar_ventas_reporte_encargado_metodo/"+enc+"/?modo=efectivo"; 
  }

  table_transferencias = $('#table_transferencias').dataTable({
    "aaSorting":[[0,"desc"]],
    "language": {
    "sLengthMenu":     "Mostrar _MENU_ venta",
    "sZeroRecords":    "No se encontraron resultados",
    "sEmptyTable":     "Ningún dato disponible en esta tabla",
    "sInfo":           "Mostrando venta del _START_ al _END_ de un total de _TOTAL_ venta",
    "sInfoEmpty":      "Mostrando venta del 0 al 0 de un total de 0 venta",
    "sInfoFiltered":   "(filtrado de un total de _MAX_ venta)",
    "sInfoPostFix":    "",
    "sSearch":         "Buscar:",
    "sUrl":            "",
    "sInfoThousands":  ",",
    "sLoadingRecords": "Cargando...",
    "oPaginate": {
      "sFirst":    "Primero",
      "sLast":     "Último",
      "sNext":     "Siguiente",
      "sPrevious": "Anterior"
    },

    "oAria": {
      "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
      "sSortDescending": ": Activar para ordenar la columna de manera descendente"
      }
    },
    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
    "processing": true,
    "serverSide": true,
    "ajax": {
        "url": url_transferencias,
        "type": "POST", 
        "headers": { 'Authorization':  HDD.get(settings.jwt_name) },
    }
  });


  table_puntos = $('#table_puntos').dataTable({
    "aaSorting":[[0,"desc"]],
    "language": {
    "sLengthMenu":     "Mostrar _MENU_ venta",
    "sZeroRecords":    "No se encontraron resultados",
    "sEmptyTable":     "Ningún dato disponible en esta tabla",
    "sInfo":           "Mostrando venta del _START_ al _END_ de un total de _TOTAL_ venta",
    "sInfoEmpty":      "Mostrando venta del 0 al 0 de un total de 0 venta",
    "sInfoFiltered":   "(filtrado de un total de _MAX_ venta)",
    "sInfoPostFix":    "",
    "sSearch":         "Buscar:",
    "sUrl":            "",
    "sInfoThousands":  ",",
    "sLoadingRecords": "Cargando...",
    "oPaginate": {
      "sFirst":    "Primero",
      "sLast":     "Último",
      "sNext":     "Siguiente",
      "sPrevious": "Anterior"
    },

    "oAria": {
      "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
      "sSortDescending": ": Activar para ordenar la columna de manera descendente"
      }
    },
    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
    "processing": true,
    "serverSide": true,
    "ajax": {
        "url": url_puntos,
        "type": "POST", 
        "headers": { 'Authorization':  HDD.get(settings.jwt_name) },
    }
  });


  table_efectivo = $('#table_efectivo').dataTable({
    "aaSorting":[[0,"desc"]],
    "language": {
    "sLengthMenu":     "Mostrar _MENU_ venta",
    "sZeroRecords":    "No se encontraron resultados",
    "sEmptyTable":     "Ningún dato disponible en esta tabla",
    "sInfo":           "Mostrando venta del _START_ al _END_ de un total de _TOTAL_ venta",
    "sInfoEmpty":      "Mostrando venta del 0 al 0 de un total de 0 venta",
    "sInfoFiltered":   "(filtrado de un total de _MAX_ venta)",
    "sInfoPostFix":    "",
    "sSearch":         "Buscar:",
    "sUrl":            "",
    "sInfoThousands":  ",",
    "sLoadingRecords": "Cargando...",
    "oPaginate": {
      "sFirst":    "Primero",
      "sLast":     "Último",
      "sNext":     "Siguiente",
      "sPrevious": "Anterior"
    },

    "oAria": {
      "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
      "sSortDescending": ": Activar para ordenar la columna de manera descendente"
      }
    },
    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
    "processing": true,
    "serverSide": true,
    "ajax": {
        "url": url_efectivo,
        "type": "POST", 
        "headers": { 'Authorization':  HDD.get(settings.jwt_name) },
    }
  });

});
</script>
{% endblock extra_js %}