{% extends "base_ajax.html" %}
{% load static %}
{% block titulo %} Lista de cierre de productos {% endblock titulo %}

{% block pagina %}
<div class="row">
    <div class="col-md-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Reporte encargado</h5>
        </div>
        <div class="ibox-content">
          
            <form action="#" autocomplete="on">
              <div class="row">
              <div class="col-lg-4 col-md-4 col-xs-6">
                <div class="widget style1 navy-bg">
                  <div class="row">
                      <div class="col-xs-3 text-letf">
                          <span>Inicio</span>
                      </div>
                      <div class="col-xs-9">
                        <div class="form-group" id="data_3">
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar-minus"></i></span>
                                <input class="form-control" data-date-format="dd-mm-yyyy" id="fecha_inicio" type="text" autocomplete="on" placeholder="dd-mm-aaaa"></input>
                            </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-xs-6">
                  <div class="widget style1 navy-bg">
                      <div class="row">
                        <div class="col-xs-3 text-letf">
                            <span>Fin</span>
                        </div>
                        <div class="col-xs-9">
                          <div class="form-group" id="data_4">
                              <div class="input-group date">
                                  <span class="input-group-addon"><i class="fa fa-calendar-minus"></i></span>
                                  <input class="form-control" data-date-format="dd-mm-yyyy" id="fecha_fin" type="text" autocomplete="on" placeholder="dd-mm-aaaa"></input>
                              </div>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-2 col-md-2 col-xs-4">
                <div class="widget style2 lazur-bg">
                  <div class="row">
                    <div class="col-xs-12 text-letf">
                        <button class="btn btn-success" type="button" onclick="filtrar()">Filtrar</button>
                    </div>
                  </div>
                </div>
              </div>
              </div>

              <div class="row">
              <div class="col-lg-3 col-md-3 col-xs-4">
                  <div class="widget style1 lazur-bg">
                      <div class="row">
                          <div class="col-xs-12 text-right">
                              <span> Ganancia Neta </span>
                          </div>
                          <div class="col-xs-3">
                              <i class="fa fa-money fa-3x"></i>
                          </div>
                          <div class="col-xs-9 text-right">
                            <h2 class="font-bold" id="ganancia_neta">0</h2>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-4">
                <div class="widget style1 red-bg">
                  <div class="row">
                      <div class="col-xs-12 text-right">
                          <span> Diferencia </span>
                      </div>
                      <div class="col-xs-3">
                          <i class="fa fa-money fa-3x"></i>
                      </div>
                      <div class="col-xs-9 text-right">
                        <h2 class="font-bold" id="diferencia">0</h2>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-4">
                <div class="widget style1 red-bg">
                  <div class="row">
                      <div class="col-xs-12 text-right">
                          <span> Pago Encargado </span>
                      </div>
                      <div class="col-xs-3">
                          <i class="fa fa-money fa-3x"></i>
                      </div>
                      <div class="col-xs-9 text-right">
                        <h2 class="font-bold" id="pago_encargados">0</h2>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-4">
                  <div class="widget style1 yellow-bg">
                      <div class="row">
                        <div class="col-xs-12 text-right">
                            <span> Total Neto </span>
                        </div>
                        <div class="col-xs-3">
                            <i class="fa fa-money fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                          <h2 class="font-bold" id="total_neto">0</h2>
                        </div>
                      </div>
                  </div>
              </div>
              </div>
            </form>

          <div class="row">
            <div class="col-lg-2 col-md-2 col-xs-4">
              <div class="widget style1" style="background-color: #1a375d;">
                  <div class="row">
                    <div class="col-xs-12 text-right">
                        <span> Total Transferencia</span>
                    </div>
                    <div class="col-xs-3">
                        <i class="fas fa-money-bill fa-3x" style="color:green"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <h2 class="font-bold" id="por_transferencia">0</h2>
                    </div>
                  </div>
              </div>
            </div>        
            <div class="col-lg-2 col-md-2 col-xs-4">
              <div class="widget style1" style="background-color: #1a375d;">
                  <div class="row">
                    <div class="col-xs-12 text-right">
                        <span> Total punto de venta</span>
                    </div>
                    <div class="col-xs-3">
                        <i class="fas fa-money-bill fa-3x" style="color:green"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <h2 class="font-bold" id="por_punto_venta">0</h2>
                    </div>
                  </div>
              </div>
            </div>  
            <div class="col-lg-2 col-md-2 col-xs-4">
              <div class="widget style1" style="background-color: #1a375d;">
                  <div class="row">
                    <div class="col-xs-12 text-right">
                        <span> Total Efectivo</span>
                    </div>
                    <div class="col-xs-3">
                        <i class="fas fa-money-bill fa-3x" style="color:green"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <h2 class="font-bold" id="por_efectivo">0</h2>
                    </div>
                  </div>
              </div>
            </div>     
            <div class="col-lg-2 col-md-2 col-xs-4">
              <div class="widget style1" style="background-color: #1a375d;">
                  <div class="row">
                    <div class="col-xs-12 text-right">
                        <span> Total Cheques</span>
                    </div>
                    <div class="col-xs-3">
                        <i class="fas fa-money-bill fa-3x" style="color:green"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <h2 class="font-bold" id="por_cheques">0</h2>
                    </div>
                  </div>
              </div>
            </div>         
            <div class="col-lg-2 col-md-2 col-xs-4">
              <div class="widget style1" style="background-color: #1a375d;">
                  <div class="row">
                    <div class="col-xs-12 text-right">
                        <span> Total Otros tipos</span>
                    </div>
                    <div class="col-xs-3">
                        <i class="fas fa-money-bill fa-3x" style="color:green"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <h2 class="font-bold" id="por_otros">0</h2>
                    </div>
                  </div>
              </div>
            </div>                           
          </div>

            <table class="table table-bordered table-hover dataTables-example" >
                <thead>
                    <tr>
                        <th>cliente</th>
                        <th>telefono</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Costo Unitario</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr></tr>
                </tbody>
            </table>
          
        </div>
      </div> <!-- cols 12 -->
    </div>
</div>

{% endblock pagina %}


{% block extra_js %}
<script src="{% static 'js/dataTables/colvis.js' %}"></script>
<script src="{% static 'js/datapicker/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/datapicker/bootstrap-datepicker.es.js' %}"></script>
<script type="text/javascript">
get_usuario_conectado();
HDD.set('last_url',window.location.pathname);
$('#menu_reporte_encargado').addClass('active');

var detalle_stock_modal = templater`
<div class="modal-content" id="contenido_modal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">Stock para ${'nombre'}</h4>
    </div>
    <div class="modal-body">
        <div class="col-sm-12">
            
        </div>            
    </div>
    <div class="modal-footer">
        <div class="col-sm-6">
            <a class="btn btn-info btn-md btn-block" data-dismiss="modal">Volver</a>
        </div>
        <div class="col-sm-6">
            <button type="submit" class="btn btn-success btn-md btn-block" id="guardar_cargo">Guardar</button>
        </div>
    </div>
</div>`;


var oTable;

function refrescar_widgets(fechas) {

  if (fechas)
  {
    fecha_inicio = $("#fecha_inicio").val();
    fecha_fin = $("#fecha_fin").val();    
    url = '/api/v1/encargado/venta/reporte?start='+fecha_inicio+'&end='+fecha_fin;
  }
  else
  {
    url = '/api/v1/encargado/venta/reporte'
  }

  $.ajax({
    type: "GET",
    url:   url, 
    beforeSend: function (xhr) {
      xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
    },
    complete: function (Req, textStatus, jqXHR)
    {
      respuesta = Req.responseJSON;
      if (Req.status === 200) 
      {
        $("#ganancia_neta").text(respuesta.ganancia);
        $("#total_neto").text(respuesta.total_neto);
        $("#pago_encargados").text(respuesta.pago_encargados);
        $("#diferencia").text(respuesta.deuda);
        /// metodos de pago
        $("#por_transferencia").text(respuesta.por_transferencia);
        $("#por_efectivo").text(respuesta.por_efectivo);
        $("#por_punto_venta").text(respuesta.por_punto_venta);
        $("#por_cheques").text(respuesta.por_cheques);
        $("#por_otros").text(respuesta.por_otros);        
      }               
    }// fin complete
  })
}

function filtrar() {

  refrescar_widgets(true);
  fecha_inicio = $("#fecha_inicio").val();
  fecha_fin = $("#fecha_fin").val();    
  //var url_ventas = "{% url 'reporte_app:listar_reporte_venta_detalle_ajax' %}" + '?start='+fecha_inicio+'&end='+fecha_fin;

  {% if pk_de_encargado %}
  url_ventas ="{% url 'encargados_app:listar_ventas_reporte_encargado_ajax' pk_de_encargado %}" + '?start='+fecha_inicio+'&end='+fecha_fin;
  {% else %}
  url_ventas ="{% url 'encargados_app:listar_ventas_reporte_encargado_ajax' 0 %}".
  replace('0',HDD.get('encargado_id')) + '?start='+fecha_inicio+'&end='+fecha_fin;
  {% endif %}

  if ( $.fn.dataTable.isDataTable( '.table' ) ) {
    oTable = $('.table').DataTable();
    oTable.ajax.url( url_ventas ).load();
  }

}


$(document).ready(function () {

  refrescar_widgets(false);
/*  if ("{{ultimo_cierre}}" != 'None')
  {
      $("#fecha_inicio").val("{{ultimo_cierre.fecha_fin|date:'d-m-Y'}}");
      $("#fecha_inicio").attr('disabled','disabled');
  }*/


  $('.input-group.date').datepicker({
      language: 'es',
      startView: 4,
      todayBtn: "linked",
      todayHighlight: 1,
      keyboardNavigation: false,
      forceParse: false,
      autoclose: true,
      format: 'dd-mm-yyyy'
  });

  if (HDD.get('administrador') == 'si')
  {
      if("{{params.start}}")
      {
          url_ventas = "{% url 'encargados_app:listar_ventas_ajax' %}" + '?start={{params.start}}'
      }
      else
      {
          url_ventas = "{% url 'encargados_app:listar_ventas_ajax' %}"
      }
  }
  else
  {
    {% if pk_de_encargado %}
    url_ventas ="{% url 'encargados_app:listar_ventas_reporte_encargado_ajax' pk_de_encargado %}"

    {% else %}

    if("{{params.start}}" && "{{params.end}}")
    {
      url_ventas ="{% url 'encargados_app:listar_ventas_reporte_encargado_ajax' 0 %}".
      replace('0',HDD.get('encargado_id'))
      url_ventas += "?start={{params.start}}&end={{params.end}}"
    }
    else
    {
      url_ventas ="{% url 'encargados_app:listar_ventas_reporte_encargado_ajax' 0 %}".
      replace('0',HDD.get('encargado_id'))
    }
    
    {% endif %}
  }

  oTable = $('.table').dataTable({
    "aaSorting":[[0,"desc"]],
    "language": {
    "sLengthMenu":     "Mostrar _MENU_ venta",
    "sZeroRecords":    "No se encontraron resultados",
    "sEmptyTable":     "Ningún dato disponible en esta tabla",
    "sInfo":           "Mostrando venta del _START_ al _END_ de un total de _TOTAL_ venta",
    "sInfoEmpty":      "Mostrando venta del 0 al 0 de un total de 0 venta",
    "sInfoFiltered":   "(filtrado de un total de _MAX_ venta)",
    "sInfoPostFix":    "",
    "sSearch":         "Buscar:",
    "sUrl":            "",
    "sInfoThousands":  ",",
    "sLoadingRecords": "Cargando...",
    "oPaginate": {
      "sFirst":    "Primero",
      "sLast":     "Último",
      "sNext":     "Siguiente",
      "sPrevious": "Anterior"
    },

    "oAria": {
      "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
      "sSortDescending": ": Activar para ordenar la columna de manera descendente"
      }
    },
    "processing": true,
    "serverSide": true,
    "ajax": {
        "url": url_ventas,
        "type": "POST", 
        "headers": { 'Authorization':  HDD.get(settings.jwt_name) },
    }
  });
});
</script>
{% endblock extra_js %}