{% extends template %}

{% load static %}
{% block titulo %} Lista de Ventas {% endblock titulo %}
 
{% block breadcrumb %}
{% endblock %}
{% block pagina %}

<div class="row">
    <div class="col-md-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Lista de todas las ventas</h5>
        </div>

          <div class="ibox-content">
              <div class="row">
                <div class="col-sm-2">
                  <select class="form-control" id="filter_deuda">
                    <option>Deuda</option>
                    <option>SI</option>
                    <option>NO</option>
                  </select>
                </div>
                <br>    
              </div>

              <table class="table table-bordered table-hover dataTables-example" >                
                <thead>
                <tr>
                    <th>Encargado</th>
                    <th>Cliente</th>
                    <th>ci &oacute; rif</th>
                    <th>Total</th>
                    <th>Pagado</th>
                    <th>deuda</th>
                    <th>Productos</th>
                    <th>Fecha</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                  <tbody>
                      <tr></tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>

{% endblock pagina %}
{% block extra_js %}
<script src="{% static 'js/dataTables/colvis.js' %}"></script>
<script type="text/javascript">
get_usuario_conectado();
$('#menu_ventas').addClass('active');
HDD.set('last_url',window.location.pathname);


function eliminar_dato(id) {
    swal({
        title: "Eliminar la venta",
        text: '¿Deseas eliminar la venta seleccionada?',
        type: "info",
        showCancelButton: true,
        confirmButtonColor: "red",
        confirmButtonText: "Eliminar",
        closeOnConfirm: false,
        html: true
    }, function () {
      $.ajax({
        type: "POST", 
        url:  '/api/v1/encargado/venta/eliminar/',
        beforeSend: function (xhr) {
          xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
        },
        data:{
            venta_id:id
        },
        complete: function (Req, textStatus)
        {
          if (Req.status === 201) 
          {
            swal({  
              title: "",
              text: "Se ha eliminado exitosamente.",
              type: "success",
              showCancelButton: false,
              confirmButtonColor: "#23c6c8",
              confirmButtonText: "Cerrar",
              closeOnConfirm: false
              }, function () {
                  //location.href = '/perfil/';
                  document.location=window.location.pathname;
            });
          }               
        }// fin complete
      })

  });

}


$(document).ready(function () {
    refrescar_token();
    var url_ventas = ''
    f1 = "{{params.start}}";
    f2 = "{{params.end}}";
      
    if (HDD.get('administrador') == 'si')
    {
        if(f1.length > 0)
        {
            url_ventas = "{% url 'encargados_app:listar_ventas_ajax' %}" + '?start={{params.start}}'
        }
        else
        {
            url_ventas = "{% url 'encargados_app:listar_ventas_ajax' %}"
        }
        
    }
    else
    {
      {% if pk_de_encargado %}
      url_ventas = '/ajax/listar_ventas_encargado/{{pk_de_encargado}}/'
      {% else %}
      url_ventas = '/ajax/listar_ventas_encargado/'+HDD.get('encargado_id')+'/'
      {% endif %}
    }

    {% if pk_de_cliente %}
      if(f1.length > 0 & f2.length > 0)
      {
        url_ventas = "/ajax/listar_ventas_cliente/{{pk_de_cliente}}/" + '?start={{params.start}}&end={{params.end}}';
      }
      else
      {
        url_ventas = "/ajax/listar_ventas_cliente/{{pk_de_cliente}}/";
      }
    {% endif %}


    var oTable = $('.table').dataTable({
        "aaSorting":[[0,"desc"]],
        "language": {
        "sLengthMenu":     "Mostrar _MENU_ ventas",
        "sZeroRecords":    "No se encontraron resultados",
        "sEmptyTable":     "Ningún dato disponible en esta tabla",
        "sInfo":           "Mostrando ventas del _START_ al _END_ de un total de _TOTAL_ ventas",
        "sInfoEmpty":      "Mostrando ventas del 0 al 0 de un total de 0 ventas",
        "sInfoFiltered":   "(filtrado de un total de _MAX_ ventas)",
        "sInfoPostFix":    "",
        "sSearch":         "Buscar:",
        "sUrl":            "",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
          "sFirst":    "Primero",
          "sLast":     "Último",
          "sNext":     "Siguiente",
          "sPrevious": "Anterior"
        },

        "oAria": {
          "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
      },
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": url_ventas,
            "type": "POST",
            "headers": { 'Authorization':  HDD.get(settings.jwt_name) },
            data: function (d) {
                d.filter_deuda = $("#filter_deuda").val();
            },                
        }
    });

    $('#filter_deuda').change(function(){
        oTable.api().ajax.reload(null, false);
    })
    
    if (HDD.get('encargado') == 'si')
    {    
        oTable.DataTable().column(0).visible( false)           
    }

    {% if template == 'base_simple.html' %}
       oTable.DataTable().column(6).visible( false) 
    {% endif %}
});
</script>
{% endblock extra_js %}