{% extends "base_ajax.html" %}
{% load static %}
{% block titulo %} Lista de Clientes {% endblock titulo %}
{% block breadcrumb %}
{% endblock %}
{% block pagina %}
  <div class="row">
      <div class="col-md-12">
      <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h5>Lista de todas los clientes</h5>
          </div>
            <div class="ibox-content">
                <table class="table table-bordered table-hover dataTables-example" >
                <thead>
                <tr>
                    <th>Encargado</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Telefono</th>
                    <th>Cedula o rif</th>
                    <th>Deudas</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                    <tbody>
                        <tr></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- cols 12 -->
</div>
{% endblock pagina %}
{% block extra_js %}
<script src="{% static 'js/dataTables/colvis.js' %}"></script>
<script type="text/javascript">
get_usuario_conectado();
$('#menu_clientes').addClass('active');
HDD.set('last_url',window.location.pathname);

function eliminar_dato(id) {
    swal({
        title: "Eliminar la venta",
        text: '¿Deseas eliminar la venta seleccionada?',
        type: "success",
        showCancelButton: true,
        confirmButtonColor: "red",
        confirmButtonText: "Eliminar",
        closeOnConfirm: false,
        html: true
    }, function () {
      $.ajax({
        type: "POST", 
        url:  '/api/v1/encargado/venta/eliminar/',
        beforeSend: function (xhr) {
          xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
        },
        data:{
            venta_id:id
        },
        complete: function (Req, textStatus)
        {
          if (Req.status === 201) 
          {
            swal({  
              title: "",
              text: "Se ha eliminado exitosamente.",
              type: "success",
              showCancelButton: false,
              confirmButtonColor: "#23c6c8",
              confirmButtonText: "Cerrar",
              closeOnConfirm: false
              }, function () {
                  //location.href = '/perfil/';
                  document.location='#/encargado/listar';
            });
          }               
        }// fin complete
      })

  });

}


$(document).ready(function () {

    var url_clientes = ''

    if (HDD.get('administrador') == 'si')
    {
      url_clientes = "{% url 'encargados_app:listar_clientes_ajax' %}"
    }
    else
    {
      {% if pk_de_encargado %}
      url_clientes = '/ajax/listar_clientes_encargado/{{pk_de_encargado}}/'
      {% else %}
      url_clientes = '/ajax/listar_clientes_encargado/'+HDD.get('encargado_id')+'/'
      {% endif %}
    }


    var oTable = $('.table').dataTable({
        "aaSorting":[[0,"desc"]],
        "language": {
        "sLengthMenu":     "Mostrar _MENU_ clientes",
        "sZeroRecords":    "No se encontraron resultados",
        "sEmptyTable":     "Ningún dato disponible en esta tabla",
        "sInfo":           "Mostrando clientes del _START_ al _END_ de un total de _TOTAL_ clientes",
        "sInfoEmpty":      "Mostrando clientes del 0 al 0 de un total de 0 clientes",
        "sInfoFiltered":   "(filtrado de un total de _MAX_ clientes)",
        "sInfoPostFix":    "",
        "sSearch":         "Buscar:",
        "sUrl":            "",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
          "sFirst":    "Primero",
          "sLast":     "Último",
          "sNext":     "Siguiente",
          "sPrevious": "Anterior"
        },

        "oAria": {
          "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
      },
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": url_clientes,
            "type": "POST",
            "headers": { 'Authorization':  HDD.get(settings.jwt_name) },
        }
    });

    if (HDD.get('encargado') == 'si')
    {    
        oTable.DataTable().column(0).visible( false)           
    }

});
</script>
{% endblock extra_js %}