{% extends "base_ajax.html" %}
{% load static %}
{% block titulo %} Modificar Encargado {% endblock titulo %}

{% block head_css %}
    <link href="{% static 'css/datapicker/datepicker3.css' %}" rel="stylesheet">
{% endblock %} 

{% block breadcrumb %}
{% endblock %}

{% block head %}
    <style>
        .mb{
            margin-top: 10px;
            margin-bottom: -5px;
        }
        .thumb {
            height: 400px;
            border: 1px solid #000;
            margin: 10px 5px 0 0;
        }       
    </style>
{% endblock head %}

{% block pagina %}
    <div class="row">
        <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Modificar encargado</h5>
            </div>
            <div class="ibox-content">
            <ul class="nav nav-tabs">
               <li class="active"><a data-toggle="tab" href="#tab-1">Datos encargado</a></li>
               <li class=""><a data-toggle="tab" id="atajo" href="#tab-2">Monto ganancia</a></li>
            </ul>
               <div class="tab-content">

                  <div id="tab-1" class="tab-pane active">
                      <div class="panel-body">
                        <form method="post" id="form_encargado">{% csrf_token %}
                    <div class="form-group row" autocomplete="off">
                        <div class="col-sm-6 espacio">
                            <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre" onkeypress="return permite(event, 'car')"/>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="apellido" id="apellido" placeholder="Apellido" onkeypress="return permite(event, 'car')"/>
                        </div>
                    </div>
                    <div class="form-group row " autocomplete="off">
                        <div class="col-sm-2 espacio">
                            <select class="form-control" name="tipo_documento" id="tipo_documento" style="width: 100%;"></select>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" name="documento" id="documento" class="form-control" placeholder="Ingresa el documento de identidad" onkeypress="return permite(event, 'num')">
                        </div>
                        <div class="col-sm-6">
                            <label class="control-label">Sexo&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <div class="radio-custom radio-primary radio-inline">
                                <input type="radio" id="femenino" name="sexo" value="0"/>
                                <label for="femenino">Femenino</label>                              
                              </div>
                              <div class="radio-custom radio-primary radio-inline">
                                <input type="radio" id="masculino" name="sexo"  value="1"/>
                                <label for="masculino">Masculino</label>
                              </div>
                        </div>
                    </div>

                    <div class="form-group row" autocomplete="off">
                        <div class="col-sm-6 espacio">
                            <select class="form-control" name="pais" id="pais" style="width: 100%;"></select>
                        </div>
                        <div class="col-sm-6">
                          <input type="text" class="form-control" name="contacto" id="contacto" placeholder="Ingresa un numero de telefono" onkeypress="return permite(event, 'num')"/>
                        </div>
                    </div>

                    <div class="form-group row" autocomplete="off">
                        <div class="col-sm-6 espacio">
                        <input type="text" class="form-control" name="apodo" id="apodo" placeholder="Apodo" />
                    </div> 
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="correo" id="correo" placeholder="Correo electronico"/>
                    </div>                             
                    </div>

                    <div class="form-group row" autocomplete="off">
                    <div class="col-sm-12">
                      <input type="text" class="form-control" name="locacion" id="locacion" placeholder="Locacion" onkeypress="return permite(event, 'num_car')"/>
                    </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-2 col-md-offset-1"><a class="btn btn-primary" href="#/encargado/listar">Volver</a></div>
                      <div class="col-md-2 col-md-offset-7">
                        <button type="submit" class="btn btn-primary" name="guardar_encargado">Guardar</button>
                      </div>
                    </div>
                        </form>
                      </div>
                  </div>
                  <div id="tab-2" class="tab-pane">
                      <div class="panel-body">
                        <form method="post" id="form_encargado_procentaje">{% csrf_token %}

                            <div class="form-group row" autocomplete="off">
                                <div class="col-sm-6">
                                    <div class="input-group m-b"><span class="input-group-addon">$</span> <input type="text" class="form-control" name="monto" id="monto" maxlength="4" placeholder="Monto de ganancia"><span class="input-group-addon">.00</span></div>
                                </div>
                                <div class="col-sm-6">
                                    <select class="form-control" name="tipo_ganancia" id="tipo_ganancia" style="width: 100%;">
                                        <option>Seleccione </option>
                                        <option value="1" id="tipo_ganancia_monto">Monto</option>
                                        <option value="2" id="tipo_ganancia_procentaje">Porcentaje</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-2 col-md-offset-1"><a class="btn btn-primary" href="#/encargado/listar">Volver</a></div>
                                <div class="col-md-2 col-md-offset-7">
                                <button type="submit" class="btn btn-primary" name="modificar_porcentaje">Guardar</button>
                                </div>                               
                            </div>
                        </form>
                      </div>
                  </div>
              </div>
            </div>
        </div>
        </div> <!-- cols 12 -->
    </div>
{% endblock pagina %}

{% block extra_js %}
<script src="{% static 'js/validaciones.js' %}"></script>
<script type="text/javascript">
get_usuario_conectado();
$("#menu_encargado").addClass("active");

encargado_id = "{{encargado_id}}"
persona_id = "{{persona_id}}"

HDD.set('last_url',window.location.pathname);

$(document).ready(function ()
{
    asignar = $.parametrosUrl.asignar;
    if (asignar) $("#atajo").click();

    costos = $.parametrosUrl.costos;
    if (costos) $("#atajo2").click();

    var tipo_doc = ""
    var pais = ""
    $("#pais").append($(document.createElement('option')).text('Paises'));
    $("#tipo_documento").append($(document.createElement('option')).text('Tipos'));

    $.ajax({
          type: "GET", //GET, POST, PUT
          url: '/api/v1/users/persona/'+persona_id+'/',  //the url to call
          beforeSend: function (xhr) {   //Include the bearer token in header
              xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
          }
    }).done(function (response) {
      	
        $("#nombre").val(response.primer_nombre);
        $("#apellido").val(response.primer_apellido);
        $("#telefono_movil").val(response.mobile);
        $("#correo").val(response.email);
        $("#documento").val(response.numero_documento);
        $("#contacto").val(response.mobile);

        if (response.gender)
        {
        	$("#masculino").prop("checked", true); 
        }
        else
        {
        	$("#femenino").prop("checked", true); 
        }

        pais = response.pais_actual;
        tipo_doc = response.tipo_documento;


        $.ajax({
            type: "GET", //GET, POST, PUT
            url: '/api/v1/documentos/',
        }).done(function ( data, textStatus, jqXHR ) {
          respuesta = jqXHR.responseJSON 

          for (var i = 0; i < respuesta.tipo.length; i++) {
              var option = $(document.createElement('option'));
                option.text(respuesta.tipo[i].id);
                option.val(respuesta.tipo[i].id);
                if (tipo_doc != 0)
                {
                  if (tipo_doc==respuesta.tipo[i].id){
                    option.attr('selected', 'selected')
                  }
                }
                $("#tipo_documento").append(option);
          }
          return true;

        }).fail(function (jqXHR, textStatus, data )  {
          return false;
        }); 

        $.ajax({
            type: "GET", //GET, POST, PUT
            url: '/api/v1/encargado/' + encargado_id + '/',
            beforeSend: function (xhr) {   //Include the bearer token in header
              xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
            }
        }).done(function ( data, textStatus, jqXHR ) {
          respuesta = jqXHR.responseJSON 
          $("#apodo").val(respuesta.nombre);
          $("#locacion").val(respuesta.locacion);

        }).fail(function (jqXHR, textStatus, data )  {
          return false;
        }); 


        // Se trae la lista de paises
        $.ajax({
        type: "GET", //GET, POST, PUT
        url: '/api/v1/paises/',  //the url to call
        }).done(function ( data, textStatus, jqXHR ) {
          respuesta = jqXHR.responseJSON 

          for (var i = 0; i < respuesta.length; i++) {
              var option = $(document.createElement('option'));
                option.text(respuesta[i].pais);
                option.val(respuesta[i].id);
                
                if (pais != 0)
                {
                  if (pais==respuesta[i].id){
                    option.attr('selected', 'selected')
                  }
                }
                $("#pais").append(option);
          }
          return true;

        }).fail(function (jqXHR, textStatus, data )  {

          return false;
        }); 



      }).fail(function (err)  {
        // fail de persona
          //Error during request
    }); 

$('#form_encargado').validate({
    errorPlacement: function (error, element)
    {
        element.before(error);
    },
    rules: {
        correo: {
            required: false,
            email: true
        },
        tipo_documento: {
            required: true,
        },
        documento: {
            required: true,
        },
        sexo: {
            required: true,
        },
        nombre: {
            required: true,
            minlength: 3,
            maxlength: 20,
        },
        apellido: {
            required: true,
            minlength: 3,
            maxlength: 20,
        },
        contacto: {
            required: true,
            number:true,
            minlength: 11,
            maxlength: 20
        },
        apodo: {
            required: true,
            minlength: 3,
            maxlength: 20,
        },
        pais: {
            required: true
        },
        locacion: {
            required: true,
            minlength: 4,
            maxlength: 200,
        },
    },
    messages: {
        correo: {
            required: "Campo obligatorio",
            email: "El coreo no es valido"
        },
        tipo_documento: {
            required: "Campo obligatorio"
        },
        documento: {
            required: "Campo obligatorio"
        },
        nombre: {
            required: "Campo obligatorio",
            minlength: "El minimo es de 3 caracteres",
            maxlength: "El maximo es de 20 caracteres",
        },
        apellido: {
            required: "Campo obligatorio",
            minlength: "El minimo es de 3 caracteres",
            maxlength: "El maximo es de 20 caracteres",
        },
        apodo: {
            required: "Campo obligatorio",
            minlength: "El minimo es de 3 caracteres",
            maxlength: "El maximo es de 20 caracteres",
        },
        sexo: {
            required: "Campo obligatorio"
        },
        documento: {
            required: "Campo obligatorio"
        },
        contacto: {
            required: "Campo obligatorio",
            number: "El campo debe ser numerico",
            minlength: "El minimo es de 11 caracteres",
            maxlength: "El maximo es de 20 caracteres"
        },
        pais: {
            required: "Campo obligatorio"
        },
        locacion: {
            required: "Campo obligatorio",
            minlength: "El minimo es de 4 caracteres",
            maxlength: "El maximo es de 200 caracteres",
        },
    },
    submitHandler: function (_form)
    {
        genero = $('input:radio[name=sexo]:checked').val();

        $.ajax({
            type: "PATCH", //GET, POST, PUT, PATCH 
            url:   '/api/v1/users/persona/' + "{{persona_id}}" + '/',
            beforeSend: function (xhr) {   //Include the bearer token in header
              xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
            },                
            data:{
                mobile: $("#contacto").val(),
                gender: genero,
                primer_nombre: $("#nombre").val(),
                primer_apellido: $("#apellido").val(),
                tipo_documento: $("#tipo_documento").val(),
                numero_documento: $("#documento").val(),
                pais: $("#pais").val(),
                email:$("#correo").val()
            },
            complete: function (Req, textStatus)
            {
                var res = JSON.parse(Req.responseText)

                if (Req.status === 400) 
                {
                    /* Campos a obtener mensajes */
                    campos = ['mobile','pais','email','sexo',
                              'primer_nombre','primer_apellido',
                              'numero_documento','tipo_documento',
                              'gender']
                    errores = get_error_api(res,campos);
                    // devuelvo los mensajes y los muestro en swalert
                    _error(errores);
                }
                if (Req.status === 200) 
                {
                  $.ajax({
                    type: "PATCH", //GET, POST, PUT, PATCH 
                    url:   '/api/v1/encargado/' + encargado_id + '/', 
                    beforeSend: function (xhr) {   //Include the bearer token in header
                      xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
                    },             
                    data:{
                      persona: res.persona,
                      nombre: $("#apodo").val(),
                      locacion: $("#locacion").val()
                    },
                    complete: function (Req, textStatus)
                    {
                        var res = JSON.parse(Req.responseText)

                        if (Req.status === 200) 
                        {
                          swal({  
                            title: "",
                            text: "Se modifico el encargado con exito",
                            type: "success",
                            showCancelButton: false,
                            confirmButtonColor: "#23c6c8",
                            confirmButtonText: "Cerrar",
                            closeOnConfirm: false
                            }, function () {
                                location.href = '/encargado/listar';
                          });
                        }
                    }// fin complete
                  }) 
                }
            }//fin complete
        });
        return false;
      }
    //...
});

$('#form_encargado_procentaje').validate({
    errorPlacement: function (error, element)
    {
        element.before(error);
    },
    rules: {
        monto: {
            required: true,
        }
    },
    messages: {
        monto: {
            required: "Campo obligatorio"
        }
    },
    submitHandler: function (_form)
    {
        $.ajax({
            type: "POST", //GET, POST, PUT, PATCH 
            url: '/api/v1/encargado/' + encargado_id + '/ganancia/', 
            beforeSend: function (xhr) {   //Include the bearer token in header
              xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
            },                
            data:{
                ganancia: $("#monto").val(),
                tipo: $("#tipo_ganancia").val()
            },
            complete: function (Req, textStatus)
            {
                var res = JSON.parse(Req.responseText)

                if (Req.status === 400) 
                {
                    /* Campos a obtener mensajes */
                    campos = ['monto','tipo']
                    errores = get_error_api(res,campos);
                    // devuelvo los mensajes y los muestro en swalert
                    _error(errores);
                }
                if (Req.status === 201) 
                {
                  
                    swal({  
                        title: "",
                        text: "Se actualizo el monto de ganancia",
                        type: "success",
                        showCancelButton: false,
                        confirmButtonColor: "#23c6c8",
                        confirmButtonText: "Cerrar",
                        closeOnConfirm: false
                        }, function () {
                            location.href = '/encargado/listar';
                    });

                }
            }//fin complete
        });
        return false;
    }
    //...
});

$('#form_encargado_tattoos').validate({
    errorPlacement: function (error, element)
    {
        element.before(error);
    },
    rules: {
        costo_tattoo_grande: {
            required: true,
        },
        costo_tattoo_chico: {
            required: true,
        }            
    },
    messages: {
        costo_tattoo_chico: {
            required: "Campo obligatorio"
        },
        costo_tattoo_grande: {
            required: "Campo obligatorio"
        },            
    },
    submitHandler: function (_form)
    {
        $.ajax({
            type: "POST", //GET, POST, PUT, PATCH 
            url: '/api/v1/costo_tatto_actual/', 
            beforeSend: function (xhr) {   //Include the bearer token in header
              xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
            },                
            data:{
                chico: $("#costo_tattoo_chico").val(),
                grande: $("#costo_tattoo_grande").val(),
                encargado: encargado_id
            },
            complete: function (Req, textStatus)
            {
                var res = JSON.parse(Req.responseText)

                if (Req.status === 400) 
                {
                    /* Campos a obtener mensajes */
                    campos = ['monto']
                    errores = get_error_api(res,campos);
                    // devuelvo los mensajes y los muestro en swalert
                    _error(errores);
                }
                if (Req.status === 201) 
                {
                  
                    swal({  
                        title: "",
                        text: "Se actualizo los costos de los tatuajes",
                        type: "success",
                        showCancelButton: false,
                        confirmButtonColor: "#23c6c8",
                        confirmButtonText: "Cerrar",
                        closeOnConfirm: false
                        }, function () {
                            location.href = '/encargado/listar';
                    });

                }
            }//fin complete
        });
        return false;
    }
    //...
});

}); // Fin de ready

    
// optengo la ganancia actual del encargado
$.ajax({
    type: "GET", //GET, POST, PUT, PATCH 
    url: '/api/v1/encargado/' + encargado_id + '/ganancia/', 
    beforeSend: function (xhr) {   //Include the bearer token in header
      xhr.setRequestHeader("Authorization", 'JWT ' + HDD.get(settings.jwt_name));
    },
    complete: function (Req, textStatus)
    {
        var res = JSON.parse(Req.responseText)

        if (Req.status === 400) 
        {
            console.log (res.errors);
            _error(res.errors);
        }
        if (Req.status === 200) 
        {
          
            $("#monto").val(res.ganancia_actual);
            if (res.tipo_actual == 1){
                $("#tipo_ganancia_monto").attr('selected','selected');
            }
            else
            {
                $("#tipo_ganancia_procentaje").attr('selected','selected');
            }

        }
    }//fin complete
});          
</script>
{% endblock extra_js %}