{% extends "base_ajax.html" %}
{% load static %}
{% block titulo %} Lista de pagos. {% endblock titulo %}
 
{% block breadcrumb %}
{% endblock %}
{% block pagina %}
<div class="row">
    <div class="col-md-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Lista de todas las pagos</h5>
        </div>
        <div class="ibox-content">
            <div class="row">
                {% if pk_de_venta %}
                <div class="col-md-7">
                    <div class="widget style1 navy-bg">
                      <div class="row">
                          <div class="col-xs-5 text-letf">
                              <span> Deuda pendiente</span>
                          </div>
                          <div class="col-xs-4 text-right">
                            <h2 class="font-bold" id="monto_deuda">{{deuda}}</h2>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    {% if deuda > 0%}
                    <a class="btn btn-sm btn-white btn-block" onclick="nuevo_pago_action()"> <i class="fas fa-user-plus" aria-hidden="true"> Nuevo Pago</i></a>
                    {% endif %}
                </div>
                
                {% else %}
                {% endif %}
            </div>
            <table class="table table-bordered table-hover dataTables-example" >
            <thead>
            <tr>
                <th>monto</th>
                <th>metodo</th>
                <th>banco</th>
                <th>referencia</th>
                <th>Acciones</th>
            </tr>
            </thead>
                <tbody>
                    <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
    </div> <!-- cols 12 -->
</div>

<div class="modal fade bs-example-modal-lg" id="modal_generico" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div id="body_modal">
        <div id="loading" width="100%" style="width: 550px;" class="modal-body">
           <img src="{% static 'img/loading4.gif' %}"> 
        </div>  
        </div>
    </div>
</div>

{% endblock pagina %}
{% block extra_js %}
<script src="{% static 'js/dataTables/colvis.js' %}"></script>
<script src="{% static 'js/sertiven/red.js' %}"></script>
<script type="text/javascript">
get_usuario_conectado();
$('#menu_pagos').addClass('active');
HDD.set('last_url',window.location.pathname);
var lista_pago_original = new Array();
var lista_pago = new Array();
var contador_pago = -1;
var oTable;
var agregar_pago_modal = templater`
<div class="modal-content" id="contenido_modal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">Registrar nuevo pago</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group row"> 
                    <div class="col-sm-5">
                        <select class="form-control" name="tipo_pago" id="tipo_pago" style="width: 100%;"
                        ></select>
                    </div>                     
                    <div class="col-sm-4">
                        <input disabled='disabled' class="form-control" type="text" name="monto" id="monto" placeholder="Monto de pago.">
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-info btn-block" onclick="agregar_pago()"><i class="fa fa-plus"></i></button>
                    </div>                        
                </div>
                <div class="form-group row"> 
                    <div class="col-sm-5">
                        <select disabled='disabled' class="form-control" name="bancos" id="bancos" style="width: 100%;"
                        ></select>
                    </div>                       
                    <div class="col-sm-4">
                        <input disabled='disabled' class="form-control" type="text" name="referencia" id="referencia" placeholder="Numero de referencia o de cheque">
                    </div>
                    
                </div>
            </div>       
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Lista de pagos.</h5>
                    </div>
                    <div class="ibox-content">
                        <table class="table" id="tabla_pagos">
                            <thead>
                                <tr>
                                    <th>Metodo</th>
                                    <th>Banco</th>
                                    <th>Ref. o nro. cheque</th>
                                    <th>Monto</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>            
            </div>         
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-sm-6">
            <a class="btn btn-info btn-md btn-block" data-dismiss="modal">Volver</a>
        </div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-success btn-md btn-block" onclick="pagar();" >Guardar</button>
        </div>
    </div>
</div>`;

function nuevo_pago_action() {
    html = agregar_pago_modal({});
    $("#body_modal").empty()
    $("#body_modal").append(html); 
    bancos();
    setTimeout(function(){ metodos_pagos(); }, 500);
    $("#modal_generico").modal('toggle');
    $("#tipo_pago").on('change',function(){
        $("#monto").removeAttr('disabled');
        $("#bancos").removeAttr('disabled');
        $("#referencia").removeAttr('disabled');
    });    
    return true;    
}

function eliminar_pago_anterior(id) {
    swal({
        title: "Eliminar el pago",
        text: '¿Deseas eliminar el pago seleccionado?',
        type: "success",
        showCancelButton: true,
        confirmButtonColor: "red",
        confirmButtonText: "Eliminar",
        closeOnConfirm: false,
        html: true
    }, function () {

      $.ajax({
        type: "DELETE", //GET, POST, PUT, PATCH 
        url:   '/api/v1/pago_venta/' + id + '/', 
        beforeSend: function (xhr) {   //Include the bearer token in header
          xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
        },
        complete: function (Req, textStatus)
        {
          if (Req.status === 204) 
          {
            swal({  
              title: "",
              text: "Se ha eliminado exitosamente.",
              type: "success",
              showCancelButton: false,
              confirmButtonColor: "#23c6c8",
              confirmButtonText: "Cerrar",
              closeOnConfirm: false
              }, function () {
                  actualizar_deuda()
                  swal.close();
            });
          }               
        }// fin complete
      })

  });
}

function eliminar_pago(tipo, contador) {
    ultimo_item = {};
    contador = parseInt(contador);
    lista_pago_original[contador] = null;
    var item = lista_pago_original.slice(contador,contador+1);
    $("#row_tabla_pago_"+ tipo + '_' + contador).remove();
}


function agregar_pago() {

    item = {
        referencia: $("#referencia").val(),
        metodo_id:  $("#tipo_pago").val(),
        monto:  $("#monto").val(),
    }

    if ($("#bancos option:selected").text() != 'Seleccione un banco')
    {
        item.banco_id = $("#bancos option:selected").val();
        
    }
    cadena_item = [item.referencia,item.metodo_id,item.monto].toString()

    if(utiles.si_esta(cadena_item,lista_pago))
    {
        _info('Acaba de agregar este elemento, no puede estar repetido')
    }
    else
    {
        $("#referencia").val('');
        $("#monto").val('');
        logica_agregar_pago(item,cadena_item)
    }
}

function logica_agregar_pago(item, cadena_item) {

    if (cadena_item){
        lista_pago.push(cadena_item);
        lista_pago_original.push(item);
        var tipo_pago = 'actual';
        contador_pago = contador_pago + 1;
        var contador_actual = contador_pago;
    }

    if ( $("#bancos option:selected").text() == 'Seleccione un banco')
    {
        var banco_txt = '';
    }else{
        var banco_txt =$("#bancos option:selected").text();
    }

    var btn_eliminar = '<button type="button" style="cursor:pointer;" onclick="eliminar_pago(\''+tipo_pago+'\',\''+contador_actual+'\')" class="btn btn-danger"><i class="fa fa-recycle"></i></button>';
    var row='<tr id="row_tabla_pago_'+ tipo_pago + '_' +contador_actual+'"><td>' + $("#tipo_pago option:selected").text() + '</td><td>' + banco_txt + '</td><td>'+item.referencia+'</td><td>'+item.monto+'</td><td>'+btn_eliminar+'</td></tr>';
    $("#tabla_pagos").append(row) ; 
}

function pagar() {
    var lista_enviar = []
    for (var i = 0; i < lista_pago_original.length; i++) {
        
        if (lista_pago_original[i] !== null)
        {
            lista_enviar.push(lista_pago_original[i]);
        }
        else
        {
            console.log('nulo');
        }
    }
                 
    _(POST,{
        url:"/api/v1/encargado/venta/pagar/",
        parametros: {
          "venta_id": "{{pk_de_venta}}",
          "lista_pagos_string": JSON.stringify(lista_enviar)
        },
        beforeSend: function (xhr) {
            xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
        },
        caso_201:function(data){
            _exito('Se agrego el o los pagos correctamente.');
            $("#modal_generico").modal('toggle');
            actualizar_deuda();
            lista_pago_original = new Array();
            lista_pago = new Array();
            contador_pago = -1;
        },
        caso_400:function(data){
            campos = ['lista_pagos'];
            var msjerror = get_error_api(data,campos);
            _error(msjerror);
            lista_pago_original = new Array();
            lista_pago = new Array();
            contador_pago = -1;
            return false;                      
        }        
    });  

}

function actualizar_deuda() {
    _(GET,{
        url:"/api/v1/venta/{{pk_de_venta}}/",
        beforeSend: function (xhr) {
            xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
        },
        caso_200:function(data){
            $("#monto_deuda").text(data.restante);
            oTable.api().ajax.reload(null, false);         
        }     
    });     
}

$(document).ready(function () {

    refrescar_token();
    var url_pagos = ''

    {% if pk_de_venta %}
    url_pagos = '/ajax/listar_pagos_venta/{{pk_de_venta}}/'
    {% else %}
    url_pagos = '/ajax/listar_pagos_venta'
    {% endif %}


    oTable = $('.table').dataTable({
        "aaSorting":[[0,"desc"]],
        "language": {
        "sLengthMenu":     "Mostrar _MENU_ pagos",
        "sZeroRecords":    "No se encontraron resultados",
        "sEmptyTable":     "Ningún dato disponible en esta tabla",
        "sInfo":           "Mostrando pagos del _START_ al _END_ de un total de _TOTAL_ pagos",
        "sInfoEmpty":      "Mostrando pagos del 0 al 0 de un total de 0 pagos",
        "sInfoFiltered":   "(filtrado de un total de _MAX_ pagos)",
        "sInfoPostFix":    "",
        "sSearch":         "Buscar:",
        "sUrl":            "",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
          "sFirst":    "Primero",
          "sLast":     "Último",
          "sNext":     "Siguiente",
          "sPrevious": "Anterior"
        },

        "oAria": {
          "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
      },
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": url_pagos,
            "type": "POST",
            "headers": { 'Authorization':  HDD.get(settings.jwt_name) },
        }
    });
});
</script>
{% endblock extra_js %}