{% extends "base_ajax.html" %}
{% load static %}
{% block titulo %} Registrar Encargado {% endblock titulo %}
{% block head_css %}
{% endblock %} 
{% block breadcrumb %}
{% endblock %}
{% block head %}
<style>
    .mb{
        margin-top: 10px;
        margin-bottom: -5px;
    }
    .thumb {
        height: 400px;
        border: 1px solid #000;
        margin: 10px 5px 0 0;
    }       
</style>
{% endblock head %}
{% block pagina %}
    <div class="row">
        <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Registrar encargado</h5>
            </div>
            <div class="ibox-content">
              <form method="post" id="form_encargado">{% csrf_token %}
                <div class="form-group row" autocomplete="off">
                    <div class="col-sm-6 espacio">
                        <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre" onkeypress="return permite(event, 'car')"/>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="apellido" id="apellido" placeholder="Apellido" onkeypress="return permite(event, 'car')"/>
                    </div>
                </div>
                <div class="form-group row " autocomplete="off">
                    <div class="col-sm-2 espacio">
                        <select class="form-control" name="tipo_documento" id="tipo_documento" style="width: 100%;"></select>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="documento" id="documento" class="form-control" placeholder="Ingresa el documento de identidad" onkeypress="return permite(event, 'num')">
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">Sexo&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <div class="radio-custom radio-primary radio-inline">
                            <input type="radio" id="femenino" name="sexo" value="False"/>
                            <label for="femenino">Femenino</label>                              
                          </div>
                          <div class="radio-custom radio-primary radio-inline">
                            <input type="radio" id="masculino" name="sexo"  value="True"/>
                            <label for="masculino">Masculino</label>
                          </div>
                    </div>
                </div>

                <div class="form-group row" autocomplete="off">
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="contacto" id="contacto" placeholder="Ingresa un numero de telefono" onkeypress="return permite(event, 'num')"/>
                    </div>
                </div>

                <div class="form-group row" autocomplete="off">
                    <div class="col-sm-6 espacio">
                        <input type="text" class="form-control" name="apodo" id="apodo" placeholder="Apodo" />
                    </div> 
                            
                </div>

                <div class="form-group row" autocomplete="off">
                <div class="col-sm-12">
                  <input type="text" class="form-control" name="locacion" id="locacion" placeholder="Locacion" onkeypress="return permite(event, 'num_car')"/>
                </div>
                </div>

                <div class="form-group row">
                  <div class="col-md-2 col-md-offset-1"><a class="btn btn-primary" href="#/encargado/listar">Volver</a></div>
                  <div class="col-md-2 col-md-offset-7">
                    <button type="submit" class="btn btn-primary" name="guardar_encargado">Guardar</button>
                  </div>
                </div>
            </form>
            </div>
        </div>
        </div> <!-- cols 12 -->
    </div>
{% endblock pagina %}
{% block extra_js %}
<script src="{% static 'js/validaciones.js' %}"></script>
<script type="text/javascript">
get_usuario_conectado();
HDD.set('last_url',window.location.pathname);
$(document).ready(function () 
{
    $("#menu_encargado").addClass("active");

    documentos()

$('#form_encargado').validate({
    errorPlacement: function (error, element)
        {element.before(error);},
    rules: {
        tipo_documento: {
          required: true,
        },
        documento: {
            required: true,
        },
        sexo: {
            required: true,
        },
        nombre: {
            required: true,
            minlength: 3,
            maxlength: 20,
        },
        apellido: {
            required: true,
            minlength: 3,
            maxlength: 20,
        },
        contacto: {
            required: true,
            number:true,
            minlength: 11,
            maxlength: 20
        },
        apodo: {
            required: true,
            minlength: 3,
            maxlength: 20,
        },
        locacion: {
            required: true,
            minlength: 4,
            maxlength: 200,
        },
    },
    messages: {

        tipo_documento: {
            required: "Campo obligatorio"
        },
        documento: {
            required: "Campo obligatorio"
        },
        nombre: {
            required: "Campo obligatorio",
            minlength: "El minimo es de 3 caracteres",
            maxlength: "El maximo es de 20 caracteres",
        },
        apellido: {
            required: "Campo obligatorio",
            minlength: "El minimo es de 3 caracteres",
            maxlength: "El maximo es de 20 caracteres",
        },
        apodo: {
            required: "Campo obligatorio",
            minlength: "El minimo es de 3 caracteres",
            maxlength: "El maximo es de 20 caracteres",
        },
        sexo: {
            required: "Campo obligatorio"
        },
        documento: {
            required: "Campo obligatorio"
        },
        contacto: {
            required: "Campo obligatorio",
            number: "El campo debe ser numerico",
            minlength: "El minimo es de 11 caracteres",
            maxlength: "El maximo es de 20 caracteres"
        },
        locacion: {
            required: "Campo obligatorio",
            minlength: "El minimo es de 4 caracteres",
            maxlength: "El maximo es de 200 caracteres",
        },
    },
    submitHandler: function (_form)
    {
        genero = $('input:radio[name=sexo]:checked').val();

        $.ajax({
            type: "POST", //GET, POST, PUT, PATCH 
            url:   '/api/v1/users/persona/parcial/' + HDD.get('idpersona'),
            beforeSend: function (xhr) {   //Include the bearer token in header
              xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
            },                
            data:{
                mobile: $("#contacto").val(),
                gender: genero,
                primer_nombre: $("#nombre").val(),
                primer_apellido: $("#apellido").val(),
                tipo_documento: $("#tipo_documento").val(),
                numero_documento: $("#documento").val(),
            },
            complete: function (Req, textStatus)
            {
                var res = JSON.parse(Req.responseText)

                if (Req.status === 400) 
                {
                    /* Campos a obtener mensajes */
                    campos = ['mobile','sexo',
                              'primer_nombre','primer_apellido',
                              'numero_documento','tipo_documento',
                              'gender']
                    errores = get_error_api(res,campos);
                    // devuelvo los mensajes y los muestro en swalert
                    _error(errores);

                }
                if (Req.status === 201) 
                {
                  $.ajax({
                    type: "POST", //GET, POST, PUT, PATCH 
                    url:   '/api/v1/encargado/', 
                    beforeSend: function (xhr) {   //Include the bearer token in header
                      xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
                    },             
                    data:{
                      persona: res.persona,
                      nombre: $("#apodo").val(),
                      locacion: $("#locacion").val()
                    },
                    complete: function (Req, textStatus)
                    {
                        var res = JSON.parse(Req.responseText)

                        if (Req.status === 201) 
                        {
                          swal({  
                            title: "",
                            text: "Se registro el encargado con exito",
                            type: "success",
                            showCancelButton: false,
                            confirmButtonColor: "#23c6c8",
                            confirmButtonText: "Cerrar",
                            closeOnConfirm: false
                            }, function () {
                                location.href = '#/encargado/listar';
                                swal.close();
                          });
                        }
                    }// fin complete
                  })  
                }
            }//fin complete
        });
        return false;
      }
    //...
});  
}); // Fin de ready
</script>
{% endblock extra_js %}