{% extends "base_ajax.html" %}
{% load static %}
{% block titulo %} Utilidades {% endblock titulo %}
{% block breadcrumb %}
{% endblock %}
{% block pagina %}
<div class="row">
    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Lista de utilidades</h5>
            </div>
            <div class="ibox-content">

                <div class="row">
                    <div class="col-md-4 col-sm-4 col-lg-4">
                        <button type="button" class="btn btn-info" onclick="bolivares_soberanos_action();">Bolivares soberanos</button>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4">
                        <span>Esta es una calculadora que pasa los montos pasados a bolivares soberanos</span>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-md-4 col-sm-4 col-lg-4">
                        <button type="button" class="btn btn-success" onclick="pagos_action();">Inconsistencias pago</button>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4">
                        <span>Si el monto de los pagos no concuerda, esto validara la información</span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-lg-4">
                        <button type="button" class="btn btn-info" onclick="actualizar_git();">Actualizar sistema</button>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4">
                        <span>Intenta bajar los cambios desde internet</span>
                    </div>
                </div>   
            </div>
        </div>
    </div> <!-- cols 12 -->
</div>


<div class="modal fade bs-example-modal-lg" id="modal_generico" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div id="body_modal">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title" id="titulo_modal"></h4>
                </div>
                <div class="modal-body" id="contenido_modal"></div>
                <div class="modal-footer">
                    <div class="col-sm-6">
                        <a class="btn btn-info btn-md btn-block" data-dismiss="modal">Volver</a>
                    </div>
                    <div class="col-sm-6" id="boton_accion_modal"></div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock pagina %}
{% block extra_js %}
<script type="text/javascript">
get_usuario_conectado();
$('#menu_ventas').addClass('active');
HDD.set('last_url',window.location.pathname);

function bolivares_soberanos_action() {

    var bolivares_soberanos_contenido_modal = templater`
    <div class="col-sm-12">
        <div class="col-sm-6 col-md-6">
            <dl class="dl-horizontal">
                <dt>Bolivar fuerte</dt>
                <input class="form-control" type="text" id="bolivar_fuerte">
            </dl>
        </div>
        <div class="col-sm-6 col-md-6">
            <dl class="dl-horizontal">
                <dt>Bolivar soberano</dt>
                <input class="form-control" type="text" id="bolivar_soberano">
            </dl>
        </div>     
    </div>`;

    html = bolivares_soberanos_contenido_modal({});
    $("#contenido_modal").empty();
    $("#contenido_modal").append(html);
    $("#boton_accion_modal").empty();
    $("#boton_accion_modal").append(`<button type="button" class="btn btn-success btn-md btn-block"
    onclick="bolivares_soberanos();">Calcular</button>`);
    $("#modal_generico").modal('toggle');   
}

function bolivares_soberanos() {
    var bolivar_fuerte = parseFloat($("#bolivar_fuerte").val());
    var calculo = bolivar_fuerte / parseFloat(100000);
    $("#bolivar_soberano").val(calculo);
}





function pagos_action() {

    var pagos_contenido_modal = templater`
    <div class="col-sm-12">
        <div id="loading" class="modal-body">
           <img src="{% static "img/loading4.gif" %}"> 
        </div> 
    </div>`;

    html = pagos_contenido_modal({});
    $("#contenido_modal").empty();
    $("#contenido_modal").append(html);
    $("#boton_accion_modal").empty();
    $("#modal_generico").modal('toggle');   

    $.ajax({
        type: "GET",
        url: "/api/v1/encargado/corregir_pagos",
        beforeSend: function (xhr) {   //Include the bearer token in header
          xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
        },   
        success: function (data) {
            utiles.log('ajax',{
                success_corregir_pago:data
            });
            pagos_contenido_modal = templater`
            <div class="col-sm-12">
                <div id="loading">
                   <strong>Verificación automatica completa, por favor verifique.</strong>
                </div> 
            </div>`;

            html = pagos_contenido_modal({});
            $("#contenido_modal").empty();
            $("#contenido_modal").append(html);
            $("#boton_accion_modal").empty();

        },
        error: function (xhr, textStatus, errorThrown) {
            utiles.log('ajax',{
                error_corregir_pagoe:xhr.responseText
            });            
            $("#modal_generico").modal('toggle');  
        }
    });
}


function actualizar_git() {

    var pagos_contenido_modal = templater`
    <div class="col-sm-12">
        <div id="loading" class="modal-body">
           <img src="{% static "img/loading4.gif" %}"> 
        </div> 
    </div>`;

    html = pagos_contenido_modal({});
    $("#contenido_modal").empty();
    $("#contenido_modal").append(html);
    $("#boton_accion_modal").empty();
    $("#modal_generico").modal('toggle');   

    $.ajax({
        type: "GET",
        url: "/api/v1/actualizar_git/",
        beforeSend: function (xhr) {   //Include the bearer token in header
          xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
        },   
        success: function (data) {
            utiles.log('ajax',{
                success_corregir_pago:data
            });
            pagos_contenido_modal = templater`
            <div class="col-sm-12">
                <div id="loading">
                   <strong>Sistema actualizado</strong>
                </div> 
            </div>`;

            html = pagos_contenido_modal({});
            $("#contenido_modal").empty();
            $("#contenido_modal").append(html);
            $("#boton_accion_modal").empty();

        },
        error: function (xhr, textStatus, errorThrown) {
            utiles.log('ajax',{
                error_corregir_pagoe:xhr.responseText
            });            
            $("#modal_generico").modal('toggle');  
        }
    });
}

$(document).ready(function () {
   
});
</script>
{% endblock extra_js %}