{% extends "base_ajax.html" %}
{% load static %}
{% block titulo %} {{block.super}} Venta {% endblock titulo %}

{% block pagina %}
  <div class="row">
      <div class="col-md-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Venta</h5>
        </div>
        <div class="ibox-content">
            <div class="row"> 
                <div class="col-sm-6">
                    <div class="form-group row">
                        <div class="col-sm-8">
                            <input class="form-control" type="text" name="cedula_cliente" id="cedula_cliente" placeholder="Ingresa la cedula" autocomplete="on">
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-info btn-block" onclick="buscar_cedula()"><i class="fa fa-shear">Buscar</i></button>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input class="form-control" type="text" name="nombre_cliente" id="nombre_cliente" placeholder="Ingresa el nombre">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input class="form-control" type="text" name="apellido_cliente" id="apellido_cliente" placeholder="Ingresa el apellido">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input class="form-control" type=s"text" name="telefono_venta" id="telefono_venta" placeholder="Ingresa la telefono">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group" id="div_productos"> 
                                <div class="col-sm-5">
                                    <p class="font-bold">Producto</p>
                                    <select class="form-control" name="productos" id="productos" style="width: 100%;"
                                    ></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-5">
                                    <p class="font-bold">Cantidad</p>
                                    <input class="touchspin1 form-control" type="text" value="0" id="cant_producto">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-info btn-block" onclick="agregar_producto()"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>       
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Lista de productos</h5>
                        </div>
                        <div class="ibox-content">
                            <table class="table" id="tabla_productos">
                                <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                        <th>Costo</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>Total</td>
                                        <td id="total_sumatoria_ventas">0</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        <br/>

        <div class="ibox-title">
            <h5>Pago</h5>
        </div>        
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group row"> 
                        <div class="col-sm-5">
                            <select class="form-control" name="tipo_pago" id="tipo_pago" style="width: 100%;"
                            ></select>
                        </div>                     
                        <div class="col-sm-4">
                            <input disabled='disabled' class="form-control" type="text" name="monto" id="monto" placeholder="Monto de pago.">
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-info btn-block" onclick="agregar_pago(this)"><i class="fa fa-plus"></i></button>
                        </div>                        
                    </div>
                    <div class="form-group row"> 
                        <div class="col-sm-5">
                            <select disabled='disabled' class="form-control" name="bancos" id="bancos" style="width: 100%;"
                            ></select>
                        </div>                       
                        <div class="col-sm-4">
                            <input disabled='disabled' class="form-control" type="text" name="referencia" id="referencia" placeholder="Numero de referencia o de cheque">
                        </div>
                        
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Lista de pagos</h5>
                        </div>
                        <div class="ibox-content">
                            <table class="table" id="tabla_pagos">
                                <thead>
                                    <tr>
                                        <th>Metodo</th>
                                        <th>Banco</th>
                                        <th>Ref. o nro. cheque</th>
                                        <th>Monto</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2">&nbsp;</td>
                                        <td>Total</td>
                                        <td id="total_sumatoria_pagos">0</td>
                                    </tr>
                                </tfoot>
                            </table>                          
                        </div>
                    </div>
                </div>                
            </div>
        </div>
        
        <div class="form-group row">
          <div class="col-md-2 col-md-offset-1"><a class="btn btn-primary" href="#/encargado/ventas/listar">Volver</a></div>
          <div class="col-md-2 col-md-offset-7">
            <button type="submit" class="btn btn-primary" onclick="get_cliente_venta(this, realizar_venta);">Vender</button>
          </div>
        </div>

        </div>
    </div> <!-- cols 12 -->
</div>

<div class="modal fade bs-example-modal-lg" id="modal_generico" tabindex="-1" role="dialog" data-keyboard="true" data-backdrop="static" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div id="body_modal">
            <img style="display:block; margin:auto; width: 85px;" src="{% static 'img/loading4.gif' %}" > 
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg" id="modal_generico_2" tabindex="-1" role="dialog" data-keyboard="true" data-backdrop="static" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div id="body_modal">
            <img style="display:block; margin:auto; width: 85px;" src="{% static 'img/loading4.gif' %}" > 
        </div>
    </div>
</div>
{% endblock pagina %}


{% block extra_js %}
<script src="{% static 'js/sertiven/red.js' %}"></script>
<script type="text/javascript">
get_usuario_conectado();
$('#menu_venta').addClass('active');

var arreglo = []; // arreglo con todos los productos de los encargados, dinamico
var algun_pago = false;
var lista_producto = new Array();
var lista_producto_original = new Array();
var lista_gastos_anteriores = new Array();
var lista_pago = new Array();
var lista_pago_original = new Array();
var lista_pago_anteriores = new Array();
var contador_producto = -1;
var contador_producto_anteriores = -1;
var contador_pago = -1;
var contador_pago_anteriores = -1;
var total_deducciones_producto = 0;
var anterior_total_ventas = 0;
var anterior_total_pagos = 0;
var seleccionar_cliente_modal = templater`
<div class="modal-content" id="contenido_modal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">Seleccione un cliente</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                ${'lista'}
                <p>
            </div>
        </div>            
    </div>
</div>`;

var li_cliente = templater`
<li onclick='llenar_cliente("${'nombre'}","${'apellido'}","${'telefono'}","${'ci_rif'}");'>${'nombre'} - ${'ci_rif'}</li>
`;


utiles.log('variables',{
    lista_producto:lista_producto,
    lista_producto_original:lista_producto_original,
    algun_pago:algun_pago
});



function eliminar_producto(tipo, contador, cantidad_remover) {
    ultimo_item = {};
    contador = parseInt(contador);
    utiles.log('registros','Producto eliminado '+ JSON.stringify(lista_producto_original[contador] ));
    lista_producto_original[contador] = null;
    var item = lista_producto_original.slice(contador,contador+1);
    utiles.log('variables',{
        lista_producto:lista_producto,
        lista_producto_original:lista_producto_original,
        algun_pago:algun_pago
    });    
    var tmp = parseFloat($("#total_sumatoria_ventas").text());
    $("#total_sumatoria_ventas").text(tmp - parseFloat(cantidad_remover));
    $("#row_tabla_producto_"+ tipo + '_' + contador).remove();
}


function eliminar_pago(tipo, contador, cantidad_remover) {
    ultimo_item = {};
    contador = parseInt(contador);
    lista_pago_original[contador] = null;
    var item = lista_pago_original.slice(contador,contador+1);
    var tmp = parseFloat($("#total_sumatoria_pagos").text());
    $("#total_sumatoria_pagos").text(tmp - parseFloat(cantidad_remover));    
    $("#row_tabla_pago_"+ tipo + '_' + contador).remove();
}


function agregar_producto() {

    if($("#cant_producto").val() == ''){
        _error('Cantidad no puede estar vacia.');
        return false;
    }
    if($("#cant_producto").val() == 0){
        _error('Cantidad no puede ser cero.');
        return false;
    }
    c_uno = arreglo[$("#productos").val()].cantidad;
    c_dos = $("#cant_producto").val();

    if(parseFloat(c_dos) > parseFloat(c_uno) ){
        _error('Cantidad no puede ser mayor al stock.');
        return false;
    }

    item={
        productos: arreglo[$("#productos").val()].producto_nombre,
        cantidad: parseFloat($("#cant_producto").val().replace(',','.')),
        producto_id:  $("#productos").val(),
        costo_producto: arreglo[$("#productos").val()].costo_producto
    }

    cadena_item = [item.productos,item.cantidad].toString()

    if(utiles.si_esta(cadena_item,lista_producto))
    {
        _info('Acaba de agregar este elemento, no puede estar repetido')
    }
    else
    {
        $("#cant_producto").val('');
        logica_agregar_producto(item,cadena_item)
    }
}

function logica_agregar_producto(item, cadena_item) {

    if (cadena_item){
        lista_producto.push(cadena_item);
        lista_producto_original.push(item);
        var tipo_producto = 'actual';
        contador_producto = contador_producto + 1;
        var contador_actual = contador_producto;
    }
    else
    {
        lista_gastos_anteriores.push(item);
        var tipo_producto = 'pasado';
        contador_producto_anteriores = contador_producto_anteriores + 1;
        var contador_actual = contador_producto_anteriores;
    }
    
    var costo_producto = item.costo_producto * item.cantidad

    utiles.log('registros','Producto agregado '+ JSON.stringify(item));

    anterior_total_ventas = parseFloat($("#total_sumatoria_ventas").text());
    $("#total_sumatoria_ventas").text(anterior_total_ventas + costo_producto)

    var btn_eliminar = '<button type="button" style="cursor:pointer;" onclick="eliminar_producto(\''+tipo_producto+'\',\''+contador_actual+'\',\''+costo_producto+'\')" class="btn btn-danger"><i class="fa fa-recycle"></i></button>';
    var row='<tr id="row_tabla_producto_'+ tipo_producto + '_' +contador_actual+'"><td>' + item.productos + '</td><td>' + item.cantidad + '</td><td>'+costo_producto+'</td><td>'+btn_eliminar+'</td></tr>';

    utiles.log('variables',{
        lista_producto:lista_producto,
        lista_producto_original:lista_producto_original,
        algun_pago:algun_pago
    });    

    $("#tabla_productos").append(row) ; 
}


function agregar_pago(btn) {
    $(btn).attr('disabled','disabled');
    item = {
        referencia: $("#referencia").val(),
        metodo_id:  $("#tipo_pago").val(),
        banco_id:  $("#bancos").val(),
        monto:  $("#monto").val(),
    }

    cadena_item = [item.referencia,item.metodo_id,item.monto,item.banco_id].toString()

    ///if(utiles.si_esta(cadena_item,lista_pago))
    ///{
    ///    _info('Acaba de agregar este elemento, no puede estar repetido');
    ///    $(btn).removeAttr('disabled');
    ///}
    ///else
    ///{
    algun_pago = true;
    $("#referencia").val('');
    $("#monto").val('');
    $(btn).removeAttr('disabled');
    logica_agregar_pago(item,cadena_item);
    ///}
}


function logica_agregar_pago(item, cadena_item) {

    if (cadena_item){
        lista_pago.push(cadena_item);
        lista_pago_original.push(item);
        var tipo_pago = 'actual';
        contador_pago = contador_pago + 1;
        var contador_actual = contador_pago;
    }
    else
    {
        lista_gastos_anteriores.push(item);
        var tipo_pago = 'pasado';
        contador_pago_anteriores = contador_pago_anteriores + 1;
        var contador_actual = contador_pago_anteriores;
    }


    utiles.log('registro',{
        'logica_agregar_pago':item
    });


    anterior_total_pagos = parseFloat($("#total_sumatoria_pagos").text());
    $("#total_sumatoria_pagos").text(anterior_total_pagos + parseFloat(item.monto));

    utiles.log('variables',{
        'tipo_pago':tipo_pago,
        'contador_actual':contador_actual,
        'anterior_total_pagos':anterior_total_pagos
    });

    var btn_eliminar = '<button type="button" style="cursor:pointer;" onclick="eliminar_pago(\''+tipo_pago+'\',\''+contador_actual+'\',\''+item.monto+'\')" class="btn btn-danger"><i class="fa fa-recycle"></i></button>';

    var row='<tr id="row_tabla_pago_'+ tipo_pago + '_' +contador_actual+'"><td>' + $("#tipo_pago option:selected").text() + '</td><td>' + $("#bancos option:selected").text() + '</td><td>'+item.referencia+'</td><td>'+item.monto+'</td><td>'+btn_eliminar+'</td></tr>';
    $("#tabla_pagos").append(row) ; 
}


function stock_para_encargado(){
    var url = "/api/v1/encargado/"+HDD.get('encargado_id')+"/stocks/";  

    $.ajax({
        type: "GET",
        url: url, 
        beforeSend: function (xhr) {   //Include the bearer token in header
          xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
        },   
        success: function (data) {

            $("#productos").val("");
            utiles.log('ajax',{
                success_stock_para_encargado:data
            });

            var stock_producto = {};
            var cantidad_para_producto= 0;

            for (var i = 0; i < data.length; i++) {
                arreglo[data[i].producto_stock_id] = {
                    'cantidad':0,
                    'producto_stock_id':data[i].producto_stock_id,
                    'producto_nombre':data[i].producto_nombre,
                    'producto_unidad':data[i].producto_unidad,
                    'costo_producto':data[i].costo_producto
                }
            }

            for (var i = 0; i < data.length; i++) {
                arreglo[data[i].producto_stock_id].cantidad += parseFloat(data[i].cantidad_actual)
            }

            arreglo.forEach(function(element, index, array){
                var option = $(document.createElement('option'));
                var label = element.producto_nombre + ': ' + element.cantidad + ' ' + element.producto_unidad;
                option.text(label);
                option.val(element.producto_stock_id);
                $("#productos").append(option);                
            });


            utiles.log('variables',{
                arreglo_del_inventario_encargado:arreglo
            });

        },
        error: function (xhr, textStatus, errorThrown) {
            
        }
    });

}


function llenar_cliente(nombre, apellido, telefono, ci_rif) {
    $('#nombre_cliente').val( nombre );
    $('#apellido_cliente').val( apellido );
    $('#telefono_venta').val( telefono );
    $('#cedula_cliente').val( ci_rif );
    $("#modal_generico").modal('toggle');
}

function vaciar_cliente() {
    $('#nombre_cliente').val('');
    $('#apellido_cliente').val('');
    $('#telefono_venta').val('');
    $('#cedula_cliente').val('');
    utiles.log('registros','Se limpio cliente');    
}


function buscar_cedula() {
    buscar_cliente(
    0,
    function(data){
        if (data.length == 0)
        {
            alert('No se encontro el cliente, puede registrarlo');
            utiles.log('registros','No se encontro el cliente, puede registrarlo');
            return false;
        }

        if (data.length == 1)
        {
            cliente = data[0];
            $('#nombre_cliente').val( cliente.nombre );
            $('#apellido_cliente').val( cliente.apellido );
            $('#telefono_venta').val( cliente.telefono );
            $('#cedula_cliente').val( cliente.ci_rif ); 
            utiles.log('registros','Cliente encontrado y llenado '+ JSON.stringify(cliente));
            return true;               
        }
        else
        {
            var _clientes = '<ul>'
            for (var i = 0; i < data.length; i++) {
                _clientes += li_cliente(data[i]);
            }
            _clientes += '</ul>'

            html = seleccionar_cliente_modal({
                'lista': _clientes
            })
            $("#body_modal").empty()
            $("#body_modal").append(html);
            $("#modal_generico").modal('toggle');
            return true;    
        }
    },
    function(ajax_pet){
        if(ajax_pet.status == 401)
        {
            _error_reload('Se expiro su sesion porfavor ingrese nuevamente');
        }else{
            $(btn).removeAttr('disabled');
            console.log(ajax_pet)
            _error("un error buscando cliente");
        }
    })
}





function buscar_cliente(btn, exito, fracaso) {

    var ci_rif = $('#cedula_cliente').val();
    $.ajax({
        type: "GET",
        url: "/api/v1/cliente/?q=" + ci_rif ,
        beforeSend: function (xhr) {   //Include the bearer token in header
          xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
        },   
        success: function (data) {
            utiles.log('ajax',{
                success_buscar_cliente:data
            });

            if (btn!=0) $(btn).removeAttr('disabled');
            exito(data);

        },
        error: function (xhr, textStatus, errorThrown) {
            
            if (btn!=0) $(btn).removeAttr('disabled');
            utiles.log('ajax',{
                error_buscar_cliente:xhr.responseText
            });            
            fracaso(xhr);
        }
    });
}


function crear_cliente(callback) {
    var nombre = $('#nombre_cliente').val();
    var apellido = $('#apellido_cliente').val();
    var telefono = $('#telefono_venta').val();
    var ci_rif = $('#cedula_cliente').val();

    $.ajax({
        type: "POST",
        url: "/api/v1/cliente/",
        data: {
          "nombre": nombre,
          "apellido": apellido,
          "telefono": telefono,
          "encargado_id": HDD.get('encargado_id'),
          "ci_rif":ci_rif
        },
        beforeSend: function (xhr) {   //Include the bearer token in header
            xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
        },   
        success: function (data) {
            callback(data.id);
            $("#modal_generico_2").modal('toggle');
            utiles.log('registros','Cliente creado '+ JSON.stringify(data));
        },
        error: function (xhr, textStatus, errorThrown) {
            _error("El cliente no se pudo registrar");
            $("#modal_generico_2").modal('toggle');
            utiles.log('ajax','Cliente no registrado '+ JSON.stringify(xhr.responseText));
        }
    });

}


function get_cliente_venta(btn, callback) {
    $(btn).attr('disabled','disabled');
    $("#modal_generico_2").modal('toggle');

    buscar_cliente(
        btn,
        function(data){
            if (data.length == 1)
            {
                callback(data[0].id);
            }
            else
            {
                crear_cliente(callback)
            }
        },
        function(ajax_pet){
            if(ajax_pet.status == 401)
            {
                _error_reload('Se expiro su sesion porfavor ingrese nuevamente');
            }else{
                $(btn).removeAttr('disabled');
                console.log(ajax_pet)
                _error('Error en buscar_cliente');
            }
            
        }
    )
}


function realizar_venta(id_cliente){
    var lista_enviar = []
    for (var i = 0; i < lista_producto_original.length; i++) {
        
        if (lista_producto_original[i] !== null)
        {
            lista_enviar.push(lista_producto_original[i]);
        }
        else
        {
            console.log('nulo');
        }
    }

    _(POST,{
        url:"/api/v1/encargado/venta/",
        parametros: {
          "cliente_id": id_cliente,
          "lista_productos_string": JSON.stringify(lista_enviar)
        },
        beforeSend: function (xhr) {
            xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
        },
        caso_201:function(data){
            $("#modal_generico_2").modal('toggle');
            if (algun_pago)
            {
                realizar_pago(data.id)
                utiles.log('ajax','Cliente paga '+ JSON.stringify(data));
            }
            else
            {
                vaciar_cliente();
                _exito_reload('Venta existosa');
            }   
        },
        caso_400:function(data){
            $("#modal_generico_2").modal('toggle');
            campos = ['stock'];
            var msjerror = get_error_api(data,campos);
            _error(msjerror);
            return false;                      
        }        
    });   
}


function realizar_pago(venta_id){
    var lista_enviar = []
    for (var i = 0; i < lista_pago_original.length; i++) {
        
        if (lista_pago_original[i] !== null)
        {
            lista_enviar.push(lista_pago_original[i]);
        }
    }

    $.ajax({
        type: "POST",
        url: "/api/v1/encargado/venta/pagar/",
        data: {
          "venta_id": venta_id,
          "lista_pagos_string": JSON.stringify(lista_enviar)
        },
        beforeSend: function (xhr) {   //Include the bearer token in header
            xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
        },   
        success: function (data) {
            vaciar_cliente();
            stock_para_encargado();
            utiles.log('ajax','Exito en pago '+ JSON.stringify(data));
            _exito_reload('Venta existosa con pago!');
        },
        error: function (xhr, textStatus, errorThrown) {
            vaciar_cliente();
            stock_para_encargado();
            utiles.log('ajax','Error en pago '+ JSON.stringify(xhr.responseText));
            _exito_reload("La venta SI se registro, pero hubo un error al momento de pagar")
        }
    });    
}


$(document).ready(function () {
    var mi_cliente = $.parametrosUrl.cliente;
    if (mi_cliente)
    {
        $('#cedula_cliente').val(mi_cliente);
        buscar_cedula();
    }
    else
    {
        vaciar_cliente();
    }

    setTimeout(function(){ bancos(); }, 365);
    setTimeout(function(){ stock_para_encargado(); }, 750);
    setTimeout(function(){ metodos_pagos(); }, 1790);

    $("#tipo_pago").on('change',function(){
        $("#monto").removeAttr('disabled');
        $("#bancos").removeAttr('disabled');
        $("#referencia").removeAttr('disabled');
    });
    
});
</script>
{% endblock extra_js %}
