{% extends "accounts/base.html" %}
{% load i18n %}
{% block title %}Email Confirmed{% endblock %}
{% block content %}
<h3 class="font-green">Email Confirmed</h3>
<p>confirmed text</p>
{% if request.user.is_authenticated %}
<div class="form-actions">
    <a href="{{ url }}" class="btn green btn-outline">{% trans "Dashboard" %}</a>
</div>
{% else %}
<div class="form-actions">
    <a href="{{ login_url }}" class="btn green btn-outline">{% trans "Login" %}</a>
</div>
{% endif %}
{% endblock %}