{% extends "email_base.html" %}
{% block content %}
<table width="90%" border="0" cellspacing="0" cellpadding="0">
    <tr><td align="center">
        <div style="height: 100px; line-height: 100px; font-size: 10px;">&nbsp;</div>
        <div style="line-height: 44px;">
            <font face="Arial, Helvetica, sans-serif" size="5" color="#57697e" style="font-size: 34px;">
            <span style="font-family: Arial, Helvetica, sans-serif; font-size: 34px; color: #57697e;">
                Welcome to the Metronic
            </span></font>
        </div>
        <div style="height: 30px; line-height: 30px; font-size: 10px;">&nbsp;</div>
    </td></tr>
    <tr><td align="center">
        <div style="line-height: 30px;">
            <font face="Arial, Helvetica, sans-serif" size="5" color="#4db3a4" style="font-size: 17px;">
            <span style="font-family: Arial, Helvetica, sans-serif; font-size: 17px; color: #4db3a4;">
                Hi Dylan, your registration is completed!
            </span></font>
        </div>
        <div style="height: 35px; line-height: 35px; font-size: 10px;">&nbsp;</div>
    </td></tr>
    <tr><td align="center">
                <table width="80%" align="center" border="0" cellspacing="0" cellpadding="0">
                    <tr><td align="center">
                        <div style="line-height: 24px;">
                            <font face="Arial, Helvetica, sans-serif" size="4" color="#57697e" style="font-size: 16px;">
                            <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #57697e;">
                                Lorem ipsum dolor sit amet consectetuer adipiscing elit, sed diam nonumy nibh elit esmod tincidunt ut laoreet dolore magna aliquam volutpat wisi enim ad minim veniam quis dolore.
                            </span></font>
                        </div>
                    </td></tr>
                </table>
        <div style="height: 45px; line-height: 45px; font-size: 10px;">&nbsp;</div>
    </td></tr>
    <tr><td align="center">
        <div style="line-height:24px;">
            <a href="#" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 13px;">
                <font face="Arial, Helvetica, sans-seri; font-size: 13px;" size="3" color="#596167">
                    <img src="http://artloglab.com/metromail2/images/confirm-reg.gif" width="225" height="43" alt="CONFIRM REGISTRATION" border="0" style="display: block;" /></font></a>
        </div>
        <div style="height: 100px; line-height: 100px; font-size: 10px;">&nbsp;</div>
    </td></tr>
</table>
{% endblock %}