{% extends "accounts/base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

    <div class="form-actions">
        <a href="{{ login_url }}" class="btn green btn-outline">Log in</a>
    </div>

{% endblock %}