{% extends "accounts/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    {% if validlink %}

    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

    <form method="post">{% csrf_token %}

        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">{{ form.new_password1.label }}</label>
            {% render_field form.new_password1 class="form-control  placeholder-no-fix" placeholder=form.new_password1.label autocomplete="false" %}
            <span id="id_username-error" class="help-block">{{ form.new_password1.errors }}</span>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">{{ form.new_password2.label }}</label>
            {% render_field form.new_password2 class="form-control  placeholder-no-fix" placeholder=form.new_password2.label autocomplete="false" %}
            <span id="id_username-error" class="help-block">{{ form.new_password2.errors }}</span>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-success uppercase pull-right">{% trans "Submit" %}</button>
        </div>
    </form>

    {% else %}

    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

    {% endif %}

{% endblock %}