{% extends "email_base.html" %}
{% load i18n %}
{% block content %}
<p>{% blocktrans %}Someone has used your email address to request a password reset. Unfortunately, there is no {{ site_name }} account set up with this email address.{% endblocktrans %}</p>
<p>{% blocktrans %}Click here to sign up for a {{ site_name }} account now!{% endblocktrans %}</p>
<p><a href="{{ protocol }}://{{ domain }}{% url 'try-asante' %}">
    {{ protocol }}://{{ domain }}{% url 'try-asante' %}</a></p>
<p>{% blocktrans %}The {{ site_name }} team{% endblocktrans %}</p>
{% endblock %}