{% extends "accounts/base.html" %}
{% load i18n static %}
{% load widget_tweaks %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <form action="{% password_reset_mobile_done %}" method="post">
    {% csrf_token %}
    <div id="message_container"></div>
    <div class="form-group {% if form.code.errors %}has-error{% endif %}">
        <label class="control-label visible-ie8 visible-ie9">{{ form.code.label }}</label>
        {% render_field form.code class="form-control form-control-solid placeholder-no-fix" placeholder=form.code.label autocomplete="false" %}
        <span id="id_username-error" class="help-block">{{ form.code.errors }}</span>
    </div>

    <p>{%  trans "Enter the code you received." %}</p>


    <div class="form-actions">
        <button type="submit" id="validate-submit-btn" class="btn btn-success uppercase pull-right">{%  trans "Verify Phone" %}</button>
    </div>
    </form>
{% endblock %}