{% extends "email_base.html" %}
{% load i18n %}
{% block content %}
<p>{% blocktrans %}You're receiving this email because you registered a account at {{ site_name }}.{% endblocktrans %}</p>

<p>{%  trans "Please go to the following page and confirm your email:" %}</p>

<p><a href="{{ protocol }}://{{ domain }}{{ confirm_url }}">
{{ protocol }}://{{ domain }}{{ confirm_url }}</a></p>

<p>{%  trans "Thanks for using our site! " %}</p>

<p>{% blocktrans %}The {{ site_name }} team{% endblocktrans %}</p>
{% endblock %}