{% extends "base_ajax.html" %}
{% load static %}
{% block titulo %} Asignar encargado/empleado {% endblock titulo %}

{% block head_css %}
	<link href="{% static 'css/datapicker/datepicker3.css' %}" rel="stylesheet">
{% endblock %} 

{% block breadcrumb %}
{% endblock %}

{% block head %}
	<style>
		.mb{
			margin-top: 10px;
			margin-bottom: -5px;
		}
		.thumb {
            height: 400px;
            border: 1px solid #000;
            margin: 10px 5px 0 0;
        }		
	</style>
{% endblock head %}

{% block pagina %}
	<div class="row">
	    <div class="col-md-12">
	    <div class="ibox float-e-margins">
	        <div class="ibox-title">
	            <h5>Asigar personas</h5>
	        </div>
            <div class="ibox-content">
              <div class="panel-body">
            	<form method="post" id="asignar_persona">{% csrf_token %}
					
					<div class="form-group row" autocomplete="off">
						<div class="col-sm-6 espacio">
						  	<select class="form-control" name="persona_asignar" id="persona_asignar" style="width: 100%;"></select>
						</div>
						<div class="col-sm-6">
						  	<select class="form-control" name="tipo_asignacion" id="tipo_asignacion" style="width: 100%;">
						  		<option value="">Seleccione</option>
						  		<option value="encargado">Encargado</option>
						  		<!--<option value="empleado">Empleado</option>-->
						  	</select>
						</div>
					</div>

					<div class="form-group row hide" autocomplete="off" id="campos_encargados">

						<div class="col-sm-6 espacio">
	                        <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Apodo encargado" onkeypress="return permite(event, 'car')"/>
	                    </div>

						<div class="col-sm-6 espacio">
	                        <input type="text" class="form-control" name="locacion" id="locacion" placeholder="locacion encargado" onkeypress="return permite(event, 'num_car')"/>
	                    </div>

					</div>

					<div class="form-group row hide" autocomplete="off" id="campos_empleados">

						<select class="form-control" name="encargados" id="encargados" style="width: 100%;"></select>

					</div>

					<div>
						<div class="form-group row hide" id="div_btn_guardar">
							<div class="col-xs-2 col-xs-push-6 col-md-push-10 mb">
								<button type="submit" class="btn btn-primary" name="asignar">Guardar</button>
							</div>
						</div>
					</div>
		        </form>
              </div>
            </div>
        </div>
    	</div> <!-- cols 12 -->
	</div>
{% endblock pagina %}

{% block extra_js %}
<script src="{% static 'js/validaciones.js' %}"></script>
<script src="{% static 'js/datapicker/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/datapicker/bootstrap-datepicker.es.js' %}"></script>
<script type="text/javascript">

HDD.set('last_url',window.location.pathname);
get_usuario_conectado();


$("#tipo_asignacion").on('change',function(e){

	type = $("#tipo_asignacion").val();

	if (type == 'encargado'){
		$("#campos_encargados").removeClass('hide')
		$("#campos_empleados").addClass('hide');

	}
	if (type == 'empleado'){
		encargados();
		$("#campos_empleados").removeClass('hide')
		$("#campos_encargados").addClass('hide');
	}
	$("#div_btn_guardar").removeClass('hide')
		

});

$(document).ready(function () 
{
	$("#menu_asinar").addClass("active");
	var tipo_doc = ""
	var pais = ""

	$.ajax({
	type: "GET", //GET, POST, PUT
	url: '/api/v1/users/persona/asignar/',  //the url to call
	beforeSend: function (xhr) {   //Include the bearer token in header
		xhr.setRequestHeader("Authorization","JWT " + HDD.get(settings.jwt_name));
	},	
	}).done(function ( data, textStatus, jqXHR ) {
	  respuesta = jqXHR.responseJSON 
	  
	  for (var i = 0; i < respuesta.length; i++) {
	      var option = $(document.createElement('option'));
	        option.text(respuesta[i].resumen);
	        option.val(respuesta[i].id);
	        $("#persona_asignar").append(option);
	  }
	  return true;

	}).fail(function (jqXHR, textStatus, data )  {

	  return false;
	}); 

	$('#asignar_persona').validate({
			errorPlacement: function (error, element)
			{
				element.before(error);
			},
			rules: {
				nombre: {
			        required: true,
			        minlength: 4,
			        maxlength: 20
	            },
				sexo: {
				    required: true,
				},
				nombre: {
				    required: true,
				    minlength: 3,
				    maxlength: 20,
				},
				apellido: {
				    required: true,
				    minlength: 3,
				    maxlength: 20,
				},
				segundo_nombre: {
				    required: false,
				    minlength: 3,
				    maxlength: 20,
				},

			},
			messages: {
				
	            fecha_nacimiento: {
	                required: "Campo obligatorio"
	            },
	            direccion: {
	                required: "Campo obligatorio",
	                minlength: "El minimo es de 4 caracteres",
	                maxlength: "El maximo es de 200 caracteres",
	            },
			},
			submitHandler: function (_form)
			{
				tipo = $('#tipo_asignacion').val()
				if (tipo == "encargado"){
					PETICION = {
			    		'url':'/api/v1/encargado/',
			    		'redireccion':'/encargados',
			    		'mensaje':"Se registro el encargado con exito!",
			    		'data': {
							persona: $("#persona_asignar").val(),
							nombre: $("#nombre").val(),
		                	locacion: $("#locacion").val()
						}
			    	}
		        }

				if (tipo == "empleado"){

					

					PETICION = {
			    		'url':'/api/v1/empleado/',
			    		'mensaje':"Se registro el empleado con exito!",
			    		'redireccion':'/encargados',
			    		'data': {
							persona: $("#persona_asignar").val()
						}
			    	}
		        }

				$.ajax({
					type: "POST", //GET, POST, PUT, PATCH 
					url:  PETICION.url, 
					beforeSend: function (xhr) {   //Include the bearer token in header
				  		xhr.setRequestHeader("Authorization", "JWT " + HDD.get(settings.jwt_name));
				    },					
					data: PETICION.data,
					complete: function (Req, textStatus)
					{
						var res = JSON.parse(Req.responseText)

						if (Req.status === 400) 
						{
							/* Campos a obtener mensajes */
	                        campos = ['persona','nombre','locacion']
	                        errores = get_error_api(res,campos);
	                        // devuelvo los mensajes y los muestro en swalert
	                        _error(errores);
						}
						if (Req.status === 201) 
						{

							if (tipo == "empleado"){
								asociar_empleado_encargado(res)
							}
							else
							{
							
								swal({  
			                        title: "",
			                        text: PETICION.mensaje,
			                        type: "success",
			                        showCancelButton: false,
			                        confirmButtonColor: "#23c6c8",
			                        confirmButtonText: "Cerrar",
			                        closeOnConfirm: false
			                        }, function () {
			                            location.href = '/encargado/listar';
		                        });

							}
							

						}
					
					}//fin complete

				});
				return false;
			  }
			//...
	});  

}); // Fin de ready

$('#data_3 .input-group.date').datepicker({
			language: 'es',
            startView: 2,
            todayBtn: "linked",
            todayHighlight: 1,
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true
        });

</script>
{% endblock extra_js %}