{%load static%}<!DOCTYPE html>
<html>
<head>
    {% include "head.html" %}
    <style type="text/css" >
        .centroavatar{
            margin-left: 60px;
        }
    </style>

</head>
<body class="black-bg">
    <div class="lock-word animated fadeInDown">
        <span class="first-word">PANTALLA</span><span>BLOQUEADA</span>
    </div>
    <div class="middle-box text-center lockscreen animated fadeInDown">
        <div>
            <div class="centroavatar">
                <div  id="text_perfil">
                    <img alt="image" class="img-circle circle-border img-tamano" id="img_perfil">
                </div>
            </div>

            <h3 id="nombre_usuario"></h3>
            <p>Se ha bloqueado tu pantalla. Ingrese la clave para entrar de nuevo</p>
            <form class="m-t" role="form">
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Ingresa la clave" required id="password">
                </div>
                <!-- <button type="submit" class="btn btn-primary block full-width">Desbloquear</button> -->
                <a class="btn btn-sm btn-white btn-block" onclick="desbloquear()">Desbloquear</a>
                <br>
                <p class="text-muted text-center">
                    <small onclick="ir_inicio()">¿Iniciar con otro usuario?</small>
                </p>
                <a class="btn btn-sm btn-white btn-block" onclick="ir_inicio()">Inicio</a>
            </form>
        </div>
            <hr/>
            <div class="row">
                <div class="col-md-6">
                    TempoTattoo
                </div>
                <div class="col-md-6 text-right">
                   <small>&copy; 2017-2018</small>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/sweetalert/sweetalert.min.js' %}"></script>  
    <script src="/config_django.js"></script>  
    <script src="{% static 'js/sertiven/utiles.js' %}"></script>
    <script type="text/javascript">
        HDD.set('bloqueo_pantalla',1);
        get_usuario_conectado();

        function desbloquear() {
            
            $.ajax({
              type: "POST", //GET, POST, PUT
              url: '/api/v1/auth/',  //the url to call
              data: {
                username: HDD.get('username'),
                password: $("#password").val()
              },
            }).done(function (response) {
              HDD.set('jwt',response.token);
              HDD.unset('bloqueo_pantalla');
              setTimeout(function(){

                if (HDD.get('last_url') != '')
                {
                    location.href = HDD.get('last_url');
                }
                else
                {
                    location.href = '/dashboard/';
                }

              }, 100);
            }).fail(function (request, status, error)  {
                var res = JSON.parse(request.responseText)
                console.log(res)
                campos = ['errores','username','password']
                errores = get_error_api(res,campos);
                // devuelvo los mensajes y los muestro en swalert
                _error(res.errores[0]);              
            });   
            
        }

        function ir_inicio() {
            cerrar_session();
        }
    </script>
</body>
</html>
