{%load static%}<!DOCTYPE html>
<html>
<head>
    {% include "head.html" %}
    <link href="{% static 'css/sweetalert/sweetalert.css' %}" rel="stylesheet">
    <style type="text/css">

        input.error
        {
            background: rgb(251, 227, 228);
            border: 1px solid #fbc2c4;
            color: #8a1f11;
        }

        label.error
        {
            color: #ED5565;
            display: inline-block;
            margin-left: 1.5em;
        }
    </style>
<title>Ingreso - Moto Servicios Express</title>
</head>
<body class="black-bg">
    <div class="middle-box loginscreen animated fadeInDown">
        <div>
            <div class="text-center">
                <img alt="Logo Moto Servicio Express" class="img-responsive" src="{% static "/img/logo.png" %}" />
            </div>
            <form class="m-t" role="form" id="login" novalidate>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Usuario" id="username" name="username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Clave" id="password" name="password"><!-- required="" -->
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b" name="ingresar">Ingresar</button>
                <!-- <button type="submit" class="btn btn-primary block full-width m-b">Ingresar</button> -->
                <a href="/olvido/">
                    <small>Olvidaste tu clave?</small>
                </a>
                <p class="text-muted text-center">
                    <small>¿No tiene una cuenta?</small>
                </p>
                <a class="btn btn-sm btn-white btn-block" href="/registro/">Registrate</a>
            </form>
            <hr/>
            <div class="row">
                <div class="col-md-6">
                    Moto Servicios Express
                </div>
                <div class="col-md-6 text-right">
                   <small>&copy; 2018-2019</small>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/sweetalert/sweetalert.min.js' %}"></script>
    <script src="/config_django.js"></script>
    <script src="{% static 'js/cookie.js' %}"></script>
    <script src="{% static 'js/sertiven/utiles.js' %}"></script>
    <script src="{% static 'js/sertiven/login.js' %}"></script>
    <script src="{% static 'js/validate/jquery.validate.min.js' %}"></script>
</body>
</html>
