{% load static %}<!DOCTYPE html>
<html>
<head>
	{% include "head.html" %}

	<style type="text/css">

		input.error
		{
			background: rgb(251, 227, 228);
			border: 1px solid #fbc2c4;
			color: #8a1f11;
		}

		label.error
		{
			color: #ED5565;
			display: inline-block;
			margin-left: 1.5em;
		}
  </style>
</head>
<body class="black-bg">
	<div class="passwordBox animated fadeInDown">
		<div class="row">

			<div class="col-md-12">
				<div class="ibox-content">

					<h2 class="font-bold">Recuperar la clave</h2>

					<p>
						Ingresa el correo con el cual te registraste para recuperar la clave.
					</p>

					<div class="row">

						<div class="col-lg-12">
							<form class="m-t" role="form" id="form_envio" novalidate>
								<div class="form-group">
									<input type="email" class="form-control" placeholder="Ingresa tu correo"  name="correo" id="correo">
								</div>

								<button type="submit" class="btn btn-white block full-width m-b" name="envio">Enviar</button>
								<a class="btn btn-sm btn-white btn-block" href="/">Volver</a>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr/>
		<div class="row">
			<div class="col-md-6">
				TempoTattoo
			</div>
			<div class="col-md-6 text-right">
			   <small>&copy; 2017-2018</small>
			</div>
		</div>
	</div>

	<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/sweetalert/sweetalert.min.js' %}"></script>
    <script src="/config_django.js"></script>
	<script src="{% static 'js/sertiven/utiles.js"></script>
	<script src="{% static 'js/validate/jquery.validate.min.js' %}"></script>
	<script type="text/javascript">

$(document).ready(function(){
	$('#form_envio').validate({
		errorPlacement: function (error, element)
			{
				element.before(error);
			},
		rules: {
			correo: {
				required: true,
				email: true
			}
		},
		messages: {
			correo: {
				required: "Campo obligatorio",
				email: "El coreo no es valido"
			}
		},
		submitHandler: function (_form)
		{
			var form = $(_form);
			$.ajax(
			{
				type: "POST", //GET, POST, PUT
				url:   '/api/v1/auth/password_reset_send_email/', 
				data:{
						email:$("#correo").val()
				},
				complete: function (Req, textStatus) {
				var res = JSON.parse(Req.responseText)

				console.log (res);

				if (Req.status === 400) 
				{
					_error(res.errors.email[0]);
				}
				if (Req.status === 200) 
				{

					swal({
					title: "",
					text: "Se envio con exito el correo para recuperar su clave",
					type: "success",
					showCancelButton: false,
					confirmButtonColor: "#23c6c8",
					confirmButtonText: "Cerrar",
					closeOnConfirm: false
					}, function () {
						location.href = '/';
					});
				}
				
				}//fin complete

			});
			return false;
		  }
		//...
	});    
});
	</script>
</body>
</html>
