{% extends "base_ajax.html" %}
{% load static %}
{% block titulo %} Perfil {% endblock titulo %}

{% block head_css %}
	<link rel="stylesheet" href="{% static 'css/imgareaselect-animated.css' %}" type="text/css" charset="utf-8">
	<link href="{% static 'css/datapicker/datepicker3.css' %}" rel="stylesheet">
{% endblock %} 

{% block breadcrumb %}
{% endblock %}

{% block head %}
	<style>
		.mb{
			margin-top: 10px;
			margin-bottom: -5px;
		}
		.thumb {
            height: 400px;
            border: 1px solid #000;
            margin: 10px 5px 0 0;
        }		
	</style>
{% endblock head %}

{% block pagina %}
	<div class="row">
	    <div class="col-md-12">
	    <div class="ibox float-e-margins">
	        <div class="ibox-title">
	            <h5>Perfil</h5>
	        </div>
            <div class="ibox-content">
              <div class="tabs-container">
                  <ul class="nav nav-tabs">
                      <li class="active"><a data-toggle="tab" href="#tab-1">Datos personales</a></li>
                      <li class=""><a data-toggle="tab" href="#tab-2">Cambio de clave</a></li>
                      <li class=""><a data-toggle="tab" href="#tab-3">Foto</a></li>
                  </ul>
                  <div class="tab-content">
                      <div id="tab-1" class="tab-pane active">
                          <div class="panel-body">
			            	<form method="post" id="perfil">{% csrf_token %}
								
								<div class="form-group row" autocomplete="off">
									<div class="col-sm-6 espacio">
									  	<input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre" onkeypress="return permite(event, 'car')"/>
									</div>
									<div class="col-sm-6">
									  	<input type="text" class="form-control" name="apellido" id="apellido" placeholder="Apellido" onkeypress="return permite(event, 'car')"/>
									</div>
								</div>

								<div class="form-group row" autocomplete="off">
									<div class="col-sm-6 espacio">
									  	<input type="text" class="form-control" name="segundo_nombre" id="segundo_nombre"  placeholder="segundo nombre" onkeypress="return permite(event, 'car')"/>
									</div>
									<div class="col-sm-6">
										<input type="text" class="form-control" name="segundo_apellido" id="segundo_apellido"  placeholder="segundo apellido" onkeypress="return permite(event, 'car')"/>
									</div>
								</div>

								<div class="form-group row " autocomplete="off">
									<div class="col-sm-2 espacio">
										<select class="form-control" name="tipo_documento" id="tipo_documento" style="width: 100%;"></select>
									</div>
									<div class="col-sm-4">
										<input type="text" name="documento" id="documento" class="form-control" placeholder="Ingresa el documento de identidad" onkeypress="return permite(event, 'num')">
									</div>

									<div class="col-sm-6">
									<div class="form-group" id="data_3">
		                                <div class="input-group date">
		                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" data-date-format="dd-mm-yyyy" name="fecha_nacimiento" value="" placeholder="Fecha nacimiento" id="fecha_nacimiento">
		                                </div>
		                            </div>
	                            </div>
								</div>

								<div class="form-group row" autocomplete="off">
									<div class="col-sm-6 espacio">
										<select class="form-control" name="pais" id="pais" style="width: 100%;"></select>
									</div>
									<div class="col-sm-6">
										<label class="control-label">Sexo&nbsp;&nbsp;&nbsp;&nbsp;</label>
											<div class="radio-custom radio-primary radio-inline">
									        <input type="radio" id="femenino" name="sexo" value="False"/>
									        <label for="femenino">Femenino</label>		                        
									      </div>
									      <div class="radio-custom radio-primary radio-inline">
									      	<input type="radio" id="masculino" name="sexo"  value="True"/>
									        <label for="masculino">Masculino</label>
									      </div>
									</div>

								</div>

								<div class="form-group row" autocomplete="off">
									<div class="col-sm-6 espacio">
									<input type="text" class="form-control" name="username" id="username" placeholder="Nombre de usuario" />
								</div> 
								<div class="col-sm-6">
									<input type="text" class="form-control" name="correo" id="correo" placeholder="Correo electronico"/>
								</div>                             
								</div>

								<div class="form-group row" autocomplete="off">
								<div class="col-sm-12">
								  <input type="text" class="form-control" name="direccion" id="direccion" placeholder="Direccion" onkeypress="return permite(event, 'num_car')"/>
								</div>
								</div>

								<div class="form-group row" autocomplete="off">
								<div class="col-sm-6">
								  <input type="text" class="form-control" name="contacto" id="contacto" placeholder="Ingresa un numero de telefono" onkeypress="return permite(event, 'num')"/>
								</div>
								</div>

								<div class="form-group row">
								<div class="col-xs-2 col-xs-push-6 col-md-push-10 mb">
									<button type="submit" class="btn btn-primary" name="modificar_perfil">Guardar</button>
								</div>
									
								</div>
					        </form>
                          </div>
                      </div>
                      <div id="tab-2" class="tab-pane">
                          <div class="panel-body">
			            	<form method="post" id="perfil_cambio-clave">{% csrf_token %}
								<div class="form-group row">
									<div class="col-sm-6 espacio">
									  <input type="password" class="form-control" name="clave_anterior" id="clave_anterior" maxlength="15" required placeholder="Clave anterior" autocomplete="off"/>
									</div>
									<div class="col-sm-6">

									</div>
								</div>

								<div class="form-group row">
									<div class="col-sm-6 espacio">
									  <input type="password" class="form-control" name="clave_nueva" id="clave_nueva" maxlength="15"  placeholder="Clave nueva" autocomplete="off"/>
									</div>
									<div class="col-sm-6">
									<input type="password" class="form-control" name="confirmar_clave" id="confirmar_clave" maxlength="15" placeholder="Confirmar clave" autocomplete="off"/>
									</div>
								</div>

								<div class="form-group row">
								<div class="col-xs-2 col-xs-push-6 col-md-push-10 mb">
									<button type="submit" class="btn btn-primary" name="modificar_perfil">Actualizar</button>
								</div>
									
								</div>
					        </form>
                          </div>
                      </div>
                      <div id="tab-3" class="tab-pane">
                          <div class="panel-body">
				          <form class="avatar-form" id="form_perfil_cambio-avatar" enctype="multipart/form-data" method="post">{% csrf_token %}

				                <!-- Upload image and data -->
				                <div class="avatar-upload">
				                  <input type="hidden" class="avatar-src" name="avatar_src">
				                  <input type="hidden" class="avatar-data" name="avatar_data">
				                  <label for="avatarInput">Subir foto</label>
				                  <input type="file" class="avatar-input" id="avatarInput" name="avatar">
				                </div>

				                <!-- Crop and preview -->
				                <div class="row">
				                  <div class="col-md-9">
				                    <div class="avatar-wrapper">
				                    	<div id="list">
				                    		<img src="" id="foto_preview" class="img-responsive" >
				                    	</div>
				                    </div>
				                  </div>
				                  <div class="col-md-3">
				                  	  <input type="hidden" name="x1" value="" />
									  <input type="hidden" name="y1" value="" />
									  <input type="hidden" name="x2" value="" />
									  <input type="hidden" name="y2" value="" />
				                    <div class="avatar-preview preview-lg"></div>
				                    <div class="avatar-preview preview-sm"></div>
				                  </div>
				                </div>

				                <div class="row avatar-btns">
				                  <div class="col-md-9">
				                    <div class="btn-group">
				                      <button type="button" class="btn btn-primary" data-method="rotate" data-option="-90" title="Rotate -90 degrees">Rotar izq.</button>
				                    </div>
				                    <div class="btn-group">
				                      <button type="button" class="btn btn-primary" data-method="rotate" data-option="90" title="Rotate 90 degrees">Rotar der.</button>
				                    </div>
				                  </div>
				                  <div class="col-md-3">
				                    <button type="submit" class="btn btn-primary btn-block avatar-save">Guardar</button>
				                  </div>
				                </div>

				            <!-- <div class="modal-footer">
				              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				            </div> -->
				          </form>
                          </div>
                      </div>
           
                  </div>
                  </div>
            </div>
        </div>
    	</div> <!-- cols 12 -->
	</div>
{% endblock pagina %}

{% block extra_js %}
	<script src="{% static 'js/validaciones.js' %}"></script>
	<script src="{% static 'js/jquery.imgareaselect.pack.js' %}"></script>
	<script src="{% static 'js/datapicker/bootstrap-datepicker.js' %}"></script>
	<script src="{% static 'js/datapicker/bootstrap-datepicker.es.js' %}"></script>
	<script type="text/javascript">
	get_usuario_conectado();

	HDD.set('last_url',window.location.pathname);
	var obj_selection;

	function preview(img, selection) {
	    var scaleX = 100 / (selection.width || 1);
	    var scaleY = 100 / (selection.height || 1);
	    obj_selection = selection
        $('input[name="x1"]').val(selection.x1);
        $('input[name="y1"]').val(selection.y1);
        $('input[name="x2"]').val(selection.x2);
        $('input[name="y2"]').val(selection.y2); 	    
	}

	function archivo(evt) {
      var files = evt.target.files; // FileList object
 
      // Obtenemos la imagen del campo "file".
      for (var i = 0, f; f = files[i]; i++) {
        //Solo admitimos imágenes.
        if (!f.type.match('image.*')) {
            continue;
        }
 
        var reader = new FileReader();
 
        reader.onload = (function(theFile) {
            return function(e) {
              // Insertamos la imagen
             //document.getElementById("list").innerHTML = ['<img class="thumb" id="thumb" src="', e.target.result,'" title="', escape(theFile.name), '"/>'].join('');
             $("#foto_preview").attr("src",e.target.result);
            };
        })(f);
 
        reader.readAsDataURL(f);
      }
    }

    $(document).ready(function () 
    {
    	$("#menu_perfil").addClass("active");
    	var tipo_doc = ""
    	var pais = ""
    	document.getElementById('avatarInput').addEventListener('change', archivo, false);
    	$("#pais").append($(document.createElement('option')).text('Seleccione'));
      	$("#tipo_documento").append($(document.createElement('option')).text('Seleccione'));

		$.ajax({
		      type: "GET", //GET, POST, PUT
		      url: '/api/v1/users/persona/completo',  //the url to call
		      beforeSend: function (xhr) {   //Include the bearer token in header
		          xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
		      }
		  }).done(function (response) {
		  	$("#nombre").val(response.primer_nombre);
		  	$("#apellido").val(response.primer_apellido);
		  	$("#segundo_nombre").val(response.segundo_nombre);
		  	$("#segundo_apellido").val(response.segundo_apellido);
		  	$("#fecha_nacimiento").val(response.birth_date);
		  	$("#telefono_movil").val(response.mobile);
		  	$("#correo").val(response.email);
		  	$("#username").val(response.username);
		  	$("#documento").val(response.numero_documento);
		  	$("#direccion").val(response.direccion);
		  	$("#contacto").val(response.mobile);
            if (response.gender)
            {
            	$("#masculino").prop("checked", true); 
            }
            else
            {
            	$("#femenino").prop("checked", true); 
            }
		  	pais = response.pais_actual;
            tipo_doc = response.tipo_documento;

		  }).fail(function (err)  {
		      //Error during request
		}); 


	      // Se trae la lista de tipo documento
		$.ajax({
		type: "GET", //GET, POST, PUT
		url: '/api/v1/documentos/',  //the url to call
		}).done(function ( data, textStatus, jqXHR ) {
		  respuesta = jqXHR.responseJSON 

		  for (var i = 0; i < respuesta.tipo.length; i++) {
		      var option = $(document.createElement('option'));
		        option.text(respuesta.tipo[i].id);
		        option.val(respuesta.tipo[i].id);
		       	if (tipo_doc != '')
	            {
	               console.log(tipo_doc)
	              if (tipo_doc==respuesta.tipo[i].id){
	              	
	                option.attr('selected', 'selected')
	              }
	            }

		        $("#tipo_documento").append(option);
		  }
		  return true;

		}).fail(function (jqXHR, textStatus, data )  {

		  return false;
		}); 


		// Se trae la lista de paises
		$.ajax({
		type: "GET", //GET, POST, PUT
		url: '/api/v1/paises/',  //the url to call
		}).done(function ( data, textStatus, jqXHR ) {
		  respuesta = jqXHR.responseJSON 

		  for (var i = 0; i < respuesta.length; i++) {
		      var option = $(document.createElement('option'));
		        option.text(respuesta[i].pais);
		        option.val(respuesta[i].id);
		        
		        if (pais != 0)
	            {
	              if (pais==respuesta[i].id){
	                option.attr('selected', 'selected')
	              }
	            }
		        $("#pais").append(option);
		  }
		  return true;

		}).fail(function (jqXHR, textStatus, data )  {

		  return false;
		}); 

        $('#foto_preview').imgAreaSelect({
            handles: true,
            aspectRatio: '1:1',
            onSelectChange: preview,
            minWidth: 128,
            minHeight: 128,
        });

  $('#perfil').validate({
		errorPlacement: function (error, element)
			{element.before(error);},
		rules: {
			username: {
        required: true,
        minlength: 4,
        maxlength: 20
            },
      correo: {
        required: true,
        email: true
			},
			tipo_documento: {
			  required: true,
			},
			documento: {
			    required: true,
			},
			sexo: {
			    required: true,
			},
			nombre: {
			    required: true,
			    minlength: 3,
			    maxlength: 20,
			},
			apellido: {
			    required: true,
			    minlength: 3,
			    maxlength: 20,
			},
			segundo_nombre: {
			    required: false,
			    minlength: 3,
			    maxlength: 20,
			},
			segundo_apellido: {
			    required: false,
			    minlength: 3,
			    maxlength: 20,
			},
			contacto: {
			    required: true,
			    number:true,
			    minlength: 11,
			    maxlength: 20
			},
			pais: {
			    required: true
			},
			fecha_nacimiento: {
			    required: true
			},
			direccion: {
			    required: true,
			    minlength: 4,
			    maxlength: 200,
			},
		},
		messages: {
			username: {
                required: "Campo obligatorio",
                minlength: "El minimo es de 4 caracteres",
                maxlength: "El maximo es de 20 caracteres"
            },
            correo: {
                required: "Campo obligatorio",
                email: "El coreo no es valido"
            },
            tipo_documento: {
                required: "Campo obligatorio"
            },
            documento: {
                required: "Campo obligatorio"
            },
            nombre: {
                required: "Campo obligatorio",
                minlength: "El minimo es de 3 caracteres",
                maxlength: "El maximo es de 20 caracteres",
            },
            apellido: {
                required: "Campo obligatorio",
                minlength: "El minimo es de 3 caracteres",
                maxlength: "El maximo es de 20 caracteres",
            },
            segundo_nombre: {
                required: "Campo obligatorio",
                minlength: "El minimo es de 3 caracteres",
                maxlength: "El maximo es de 20 caracteres",
            },
            segundo_apellido: {
                required: "Campo obligatorio",
                minlength: "El minimo es de 3 caracteres",
                maxlength: "El maximo es de 20 caracteres",
            },
            sexo: {
                required: "Campo obligatorio"
            },
            documento: {
                required: "Campo obligatorio"
            },
            contacto: {
                required: "Campo obligatorio",
                number: "El campo debe ser numerico",
                minlength: "El minimo es de 11 caracteres",
                maxlength: "El maximo es de 20 caracteres"
            },
            pais: {
                required: "Campo obligatorio"
            },
            fecha_nacimiento: {
                required: "Campo obligatorio"
            },
            direccion: {
                required: "Campo obligatorio",
                minlength: "El minimo es de 4 caracteres",
                maxlength: "El maximo es de 200 caracteres",
            },
		},
		submitHandler: function (_form)
		{

			$.ajax({
				type: "PATCH", //GET, POST, PUT, PATCH 
				url:   '/api/v1/users/persona/' + HDD.get('idpersona') + "/", 
				beforeSend: function (xhr) {   //Include the bearer token in header
			  		xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
			    },					
				data:{
					mobile: $("#contacto").val(),
					birth_date: $("#fecha_nacimiento").val().split("/").reverse().join("-"),
					gender: $("#sexo").val(),
					primer_nombre: $("#nombre").val(),
					segundo_nombre: $("#segundo_nombre").val(),
					primer_apellido: $("#apellido").val(),
					segundo_apellido: $("#segundo_apellido").val(),
					username: $("#username").val(),
					tipo_documento: $("#tipo_documento").val(),
					numero_documento: $("#documento").val(),
					pais: $("#pais").val(),
					direccion: $("#direccion").val(),
					email: $("#correo").val(),
				},
				complete: function (Req, textStatus)
				{
					var res = JSON.parse(Req.responseText)

					console.log (res);

					if (Req.status === 400) 
					{
						_error(res.errors.email[0]);
					}
					if (Req.status === 200) 
					{

						swal({
						title: "",
						text: "Se actualizo su perfil",
						type: "success",
						showCancelButton: false,
						confirmButtonColor: "#23c6c8",
						confirmButtonText: "Cerrar",
						closeOnConfirm: false
						}, function () {
							location.href = '/perfil/';
						});
					}
				
				}//fin complete
			});
			
			return false;
		}
		//...
});  
}); // Fin de ready


    $("#perfil_cambio-clave").submit(function (e) {
        e.preventDefault();
        $.ajax({
              type: "POST", //GET, POST, PUT
              url: '/api/v1/auth/cambio_clave/',  //the url to call
              beforeSend: function (xhr) {   //Include the bearer token in header
		          xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
		      },
              data:{
			      new_password1:$("#clave_nueva").val(),
			      new_password2:$("#confirmar_clave").val(),
			      password:$("#clave_anterior").val()
              }
          }).done(function (response) {
    		swal({
				title: "",
				text: "Se cambio la clave exitosamente",
				type: "success",
				showCancelButton: false,
				confirmButtonColor: "#23c6c8",
				confirmButtonText: "Cerrar",
				closeOnConfirm: false
				}, function () {
					location.href = '/perfil/';
				});
          }).fail(function (err)  {
              //Error during request
        });
    })

	$("#form_perfil_cambio-avatar").submit(function(e){
		e.preventDefault();
		var formData = new FormData(this);

		$.ajax({
	        url: "/api/v1/users/avatar/",
	        type: 'PUT',
	        data: formData,
	        async: false,
			beforeSend: function (xhr) {   //Include the bearer token in header
			  xhr.setRequestHeader("Authorization", 'JWT '+ HDD.get(settings.jwt_name));
			},	        
	        success: function (data) {
            	swal({
					title: "",
					text: "Se cambio la foto de perfil",
					type: "success",
					showCancelButton: false,
					confirmButtonColor: "#23c6c8",
					confirmButtonText: "Cerrar",
					closeOnConfirm: false
					}, function () {
						HDD.unset('url_perfil');
						location.href = '/perfil/';
					});
	        },
	        cache: false,
	        contentType: false,
	        processData: false
	    });
	    return false;
	})

	$('#data_3 .input-group.date').datepicker({
				language: 'es',
                startView: 2,
                todayBtn: "linked",
                todayHighlight: 1,
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true
            });

	</script>
{% endblock extra_js %}