{% load static %}<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Registro de Usuario</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/iCheck/custom.css' %}" rel="stylesheet">
    <link href="{% static 'css/steps/jquery.steps.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/sweetalert/sweetalert.css' %}" rel="stylesheet">
    <style>
        .sexo {
            margin-bottom: 10px;
            margin-top: 10px;
        }       
    </style>
</head>

<body class="black-bg">
    <div class="largo-box loginscreen animated fadeInDown">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Registro de Usuario</h5>
                </div>
                <div class="ibox-content">

                    <form id="registro_wizard" class="wizard-big" autocomplete="off">
                        <h1>Usuario</h1>
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label" for="username">Usuario</label>
                                        <input type="text" name="username" id="username" class="form-control" placeholder="Ingresa un usuario" autocomplete="off" style="text-transform: none !important;" maxlength="12" >
                                    </div>
                                </div> 
                                <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label" for="correo">Correo</label>
                                    <input type="mail" class="form-control" id="correo" name="correo" placeholder="Introduzca el correo que posee en la agencia" autocomplete="off">
                                </div>
                            </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="control-label" for="tipo_documento">Tipo</label>
                                        <select class="form-control" name="tipo_documento" id="tipo_documento" style="width: 100%;">
                                        <!-- <option selected="Estado">Estado</option> -->
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label" for="documento">Documento</label>
                                        <input type="text" name="documento" id="documento" class="form-control" placeholder="Ingresa el documento de identidad" autocomplete="off" >
                                    </div>
                                </div>
                            </div>
                           <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label" for="clave1">Clave</label>
                                        <input type="password" name="clave1" id="clave1" class="form-control" placeholder="Ingresa una clave" autocomplete="off" >
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label" for="password">Verificar clave</label>
                                        <input type="password" name="password" id="password" class="form-control" placeholder="Verifica la clave" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                        </fieldset>                        
                        <h1>Datos</h1>
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label" for="nombre">Nombre</label>
                                        <input type="text" class="form-control" name="nombre" id="nombre" maxlength="25" placeholder="Nombre" onkeypress="return permite(event, 'car')"/>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label" for="apellido">Apellido</label>
                                        <input type="text" class="form-control" name="apellido" id="apellido" maxlength="25" placeholder="Apellido" onkeypress="return permite(event, 'car')"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label class="control-label">Sexo&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                    <div class="radio-custom radio-primary radio-inline">
                                    <input type="radio" id="femenino" name="sexo" value="0"/>
                                    <label for="femenino">Femenino</label>                              
                                  </div>
                                  <div class="radio-custom radio-primary radio-inline">
                                    <input type="radio" id="masculino" name="sexo" value="1"/>
                                    <label for="masculino">Masculino</label>
                                  </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label" for="contacto">Contacto</label>
                                        <input type="text" name="contacto" id="contacto" class="form-control" placeholder="Ingresa un numero de telefono"  onkeypress="return permite(event, 'num')">
                                    </div>
                                </div>

                            </div>
                        </fieldset>
                    </form>
                    </br>
                    <div class="row">
                        <div class="col-sm-3">
                            <a class="btn btn-sm btn-white btn-block" href="/">Volver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="pull-right">
                &copy; 2017-2018
            </div>
            <div>
                <strong>TempoTattoo</strong>
            </div>
        </div>
    </div>
    </div>

    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'js/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'js/pace/pace.min.js' %}"></script>

    <!-- Steps -->
    <script src="{% static 'js/steps/jquery.steps.min.js' %}"></script>

    <!-- Jquery Validate -->
    <script src="{% static 'js/validate/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/validaciones.js' %}"></script>
    <script src="{% static 'js/sweetalert/sweetalert.min.js' %}"></script>
    <script src="/config_django.js"></script>
    <script src="{% static 'js/cookie.js' %}"></script>
    <script src="{% static 'js/sertiven/utiles.js' %}"></script>
    <script>

    var tipo_de_envio = 0;

    $(document).ready(function(){

    $("#tipo_documento").append($(document.createElement('option')).text('Seleccione'));

    // Se trae la lista de tipo documento
    $.ajax({
      type: "GET", //GET, POST, PUT
      url: '/api/v1/documentos/',  //the url to call
      }).done(function ( data, textStatus, jqXHR ) {
        respuesta = jqXHR.responseJSON 

        for (var i = 0; i < respuesta.tipo.length; i++) {
            var option = $(document.createElement('option'));
              option.text(respuesta.tipo[i].id);
              option.val(respuesta.tipo[i].id);
              $("#tipo_documento").append(option);
        }
        return true;

      }).fail(function (jqXHR, textStatus, data )  {
    
        return false;
    }); 
 

    $("#registro_wizard").steps({
            bodyTag: "fieldset",
            labels: {
                finish: 'Guardar <i class="fa fa-chevron-right"></i>',
                next: 'Siguiente <i class="fa fa-chevron-right"></i>',
                previous: '<i class="fa fa-chevron-left"></i> Atras',
                loading: "Cargando ...",
                pagination: "Paginación"
            },
            onStepChanging: function (event, currentIndex, newIndex)
            {
                var form = $(this);
                var exito = true;
                // Clean up if user went backward before
                if (currentIndex < newIndex)
                {
                    // To remove error styles
                    $(".body:eq(" + newIndex + ") label.error", form).remove();
                    $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                }

                // Disable validation on fields that are disabled or hidden.
                form.validate().settings.ignore = ":disabled,:hidden";

                // Always allow going backward even if the current step contains invalid fields!
                if(currentIndex===0)
                {
                    $.ajax({
                      type: "GET", //GET, POST, PUT
                      url: '/api/v1/users/validaciones',  //the url to call
                      data:{
                        username:$("#username").val(),
                        email:$("#correo").val(),
                        password:$("#password").val()
                        },
                      }).done(function ( data, textStatus, jqXHR ) {
                        tip_doc = $('#tipo_documento').val();
                        num_doc = $('#documento').val();
                        $.ajax({
                            type: "GET", //GET, POST, PUT, PATCH 
                            url:   '/api/v1/users/persona/buscar/' + tip_doc + '/' + num_doc + '/',
                            complete: function (Req, textStatus)
                            {
                                var res = JSON.parse(Req.responseText)

                                if (Req.status === 400) 
                                {
                                    /* Campos a obtener mensajes */
                                    campos = ['username','email','´password']
                                    errores = get_error_api(res,campos);
                                    // devuelvo los mensajes y los muestro en swalert
                                    _error(errores);
                                    exito = false;
                                    form.previous();

                                }
                                if (Req.status === 200) 
                                {
                                    tipo_de_envio = 1;

                                    HSD.set('persona', res.id)

                                    $('#nombre').val(res.primer_nombre);
                                    $('#apellido').val(res.primer_apellido);
                                    $('#contacto').val(res.mobile);
                                    if (res.gender)
                                    {
                                        $("#masculino").prop("checked", true); 
                                    }
                                    else
                                    {
                                        $("#femenino").prop("checked", true); 
                                    }    

                                }
                                if (Req.status === 404)
                                {

                                    form.next();
                                }
                            }//fin complete
                        });
                      }).fail(function (jqXHR, textStatus, data )  {
                        respuesta = jqXHR.responseJSON ;
                        mensajes = '';
                        for (var i = 0; i < respuesta.errores.length; i++) {
                            mensajes = mensajes + ' ' + respuesta.errores[i] + '\n';
                        }
                        _error(mensajes);
                        return false;
                    });
                }


                // Start validation; Prevent going forward if false
                if (newIndex < currentIndex) {
                    return true;
                }

                return true;
                
            },
            onStepChanged: function (event, currentIndex, priorIndex)
            {

            },
            onFinishing: function (event, currentIndex)
            {
                var form = $(this);

                // Disable validation on fields that are disabled.
                // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                form.validate().settings.ignore = ":disabled";

                // Start validation; Prevent form submission if false
                return form.valid();
            },
            onFinished: function (event, currentIndex)
            {
                var form = $(this);
                            
                // Submit form input
                form.submit();
            }
        }).validate({
            errorPlacement: function (error, element)
            {
                element.before(error);
            },
            rules: {
                username: {
                    required: true,
                    minlength: 4,
                    maxlength: 20
                },
                correo: {
                    required: true,
                    email: true
                },
                tipo_documento: {
                    required: true
                },
                documento: {
                    required: true,
                },
                sexo: {
                    required: true,
                },
                clave1: {
                    required: true,
                    minlength: 4,
                    maxlength: 20
                },
                password: {
                    required: true,
                    minlength: 4,
                    maxlength: 20,
                    equalTo: "#clave1"
                },
                nombre: {
                    required: true,
                    minlength: 3,
                    maxlength: 20,
                },
                apellido: {
                    required: true,
                    minlength: 3,
                    maxlength: 20,
                },
                contacto: {
                    required: true,
                    number: true,
                    minlength: 11,
                    maxlength: 20
                },
            },
            messages: {
                username: {
                    required: "Campo obligatorio",
                    minlength: "El minimo es de 4 caracteres",
                    maxlength: "El maximo es de 20 caracteres"
                },
                correo: {
                    required: "Campo obligatorio",
                    email: "El coreo no es valido"
                },
                tipo_documento: {
                    notEqual: "Campo obligatorio"
                },
                documento: {
                    required: "Campo obligatorio"
                },
                clave1: {
                   required: "Campo obligatorio",
                   minlength: "El minimo es de 4 caracteres",
                   maxlength: "El maximo es de 20 caracteres"
                },
                password: {
                   required: "Campo obligatorio",
                   minlength: "El minimo es de 4 caracteres",
                   maxlength: "El maximo es de 20 caracteres",
                   equalTo: "La clave debe ser igaul"
                },
                nombre: {
                    required: "Campo obligatorio",
                    minlength: "El minimo es de 3 caracteres",
                    maxlength: "El maximo es de 20 caracteres",
                },
                apellido: {
                    required: "Campo obligatorio",
                    minlength: "El minimo es de 3 caracteres",
                    maxlength: "El maximo es de 20 caracteres",
                },
                sexo: {
                    required: "Campo obligatorio"
                },
                documento: {
                    required: "Campo obligatorio"
                },
                contacto: {
                    required: "Campo obligatorio",
                    number: "El campo debe ser numerico",
                    minlength: "El minimo es de 11 caracteres",
                    maxlength: "El maximo es de 20 caracteres"
                }
            }
        });
    });

    $("#registro_wizard").submit(function (e) {
    e.preventDefault();

    // tipo_de_envio 0 nuevo  1 actualizacion

    if (tipo_de_envio == 0)
    {
        $.ajax({
            type: "POST", //GET, POST, PUT
            url:   '/api/v1/users/persona/completo', 
            data:{
                mobile: $("#contacto").val(),
                primer_nombre: $("#nombre").val(),
                primer_apellido: $("#apellido").val(),
                gender: $("#sexo").val(),
                username: $("#username").val(),
                email: $("#correo").val(),
                password: $("#password").val(),
                tipo_documento: $("#tipo_documento").val(),
                numero_documento: $("#documento").val(),
            },
            complete: function (Req, textStatus) {
            var res = JSON.parse(Req.responseText)

            if (Req.status === 400) 
            {
                /* Campos a obtener mensajes */
                campos = ['mobile','email','sexo',
                          'primer_nombre','primer_apellido',
                          'numero_documento','tipo_documento',
                          'gender','username','email','password']
                errores = get_error_api(res,campos);
                // devuelvo los mensajes y los muestro en swalert
                _error(errores);
            }
            if (Req.status === 201) 
            {
                registro_exitoso()
            }
            
            }//fin complete
        });
    }else
    {
        $.ajax({
            type: "POST", //GET, POST, PUT
            url:   '/api/v1/users/', 
            data:{
                username: $("#username").val(),
                email: $("#correo").val(),
                password: $("#password").val(),
            },
            complete: function (Req, textStatus) {
            var res = JSON.parse(Req.responseText)

            if (Req.status === 400) 
            {
                /* Campos a obtener mensajes */
                campos = ['username','email','password']
                errores = get_error_api(res,campos);
                // devuelvo los mensajes y los muestro en swalert
                _error(errores);
            }
            if (Req.status === 201) 
            {
                // Se creo el usuario
                $.ajax({
                    type: "POST", //GET, POST, PUT
                    url: '/api/v1/auth/',  //the url to call
                    data: {
                        username: $("#username").val(),
                        password: $("#password").val()
                    },
                }).done(function (response) {
                    cerrar_session(false);//no redirecciona

                    genero = $('input:radio[name=sexo]:checked').val();

                    HDD.set('jwt',response.token);
                    HDD.set('jwt_date',new Date());
                    HDD.unset('bloqueo_pantalla');                   
                    $.ajax({
                        type: "PATCH", //GET, POST, PUT, PATCH 
                        url:   '/api/v1/users/persona/' + HSD.get('persona') + "/", 
                        beforeSend: function (xhr) {   //Include the bearer token in header
                            xhr.setRequestHeader("Authorization", 'JWT '+ response.token);
                        },                  
                        data:{
                            mobile: $("#contacto").val(),
                            gender: genero,
                            primer_nombre: $("#nombre").val(),
                            primer_apellido: $("#apellido").val(),
                            user: res.id
                        },
                        complete: function (Req, textStatus)
                        {
                            var res = JSON.parse(Req.responseText)

                            if (Req.status === 400) 
                            {
                                /* Campos a obtener mensajes */
                                campos = ['mobile','gender','primer_nombre',
                                          'primer_apellido']
                                errores = get_error_api(res,campos);
                                // devuelvo los mensajes y los muestro en swalert
                                _error(errores);
                            }
                            if (Req.status === 200) 
                            {
                                registro_exitoso();
                            }
                        
                        }//fin complete
                    });                    
                }).fail(function (request, status, error)  {
                });  
                //obtengo el token para enviarlo, luego actualizo la persona



            }
            
            }//fin complete
        });
    }

    
    });

function registro_exitoso() {
    swal({
    title: "",
    text: "Ya te encuentras registrado, ¿Deseas entrar?",
    type: "success",
    showCancelButton: true,
    confirmButtonColor: "#23C6C8",
    confirmButtonText: "Si, Entrar!",
    cancelButtonText: "No, cancel!",
    closeOnConfirm: false,
    closeOnCancel: false 
    },function (isConfirm) {
        if (isConfirm) {
            token = get_jwt();
            setTimeout(function(){
                if(token || HDD.get(settings.jwt_name))
                {
                    setTimeout(function(){ location.href = '/encargados/'; }, 200);    
                }
            }, 350);
        } else {
            location.href = '/';
        }
    });
}
    </script>

</body>

</html>
