<!DOCTYPE html>
<html>
<head>
    {% include "head.html" %}
</head>
<body class="black-bg">
    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>
                <img alt="Logo Tempotattoo" src="/static/img/logo_circular.png" />
            </div>
            <h3>Crea tu cuenta en Tempotattoo</h3>
            <p class="hide alert" id="error_mensaje">
              
            </p>
            <form class="m-t" role="form" id="form_registro">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Usuario" id="usuario" required="">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Correo" id="correo" required="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Clave" id="clave" required="">
                </div>
<!--                 <div class="form-group">
                        <div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Agree the terms and policy </label></div>
                </div> -->
                <button type="submit" class="btn btn-white block full-width m-b">Registrar!</button>

                <a class="btn btn-sm btn-white btn-block" href="/">Volver</a>
            </form>
            <hr/>
            <div class="row">
                <div class="col-md-6">
                    TempoTattoo
                </div>
                <div class="col-md-6 text-right">
                   <small>&copy; 2017-2018</small>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/config_django.js"></script>
    <script src="/static/js/sertiven/utiles.js"></script>
    <script type="text/javascript">
        $("#form_registro").submit(function( event ) {
          event.preventDefault();
          $.ajax({
              type: "POST", //GET, POST, PUT
              url: '/api/v1/users/',
              data:{
                username: $("#usuario").val(),
                email: $("#correo").val(),
                password: $("#clave").val(),
              },
          }).done(function (response) {

              HDD.unset('username');
              HDD.unset('jwt');
              HDD.set('jwt',response.token);
              console.log(response)
              setTimeout(function(){ location.href = '/template/'; }, 500);

          }).fail(function (jqXHR, error, errorThrown)  {
              jsonValue = jQuery.parseJSON( jqXHR.responseText );
             
              errores = ' ';
              console.log(errores)
              if (jsonValue.errors.password)
              {
                for (var i = jsonValue.errors.password.length - 1; i >= 0; i--) {
                  errores = errores + jsonValue.errors.password[i] + '\n<br> ';
                }
              }

              if (jsonValue.errors.username)
              {
                for (var i = jsonValue.errors.username.length - 1; i >= 0; i--) {
                  errores = errores + jsonValue.errors.username[i] + '\n<br> ';
                }
              }


              if (jsonValue.errors.email)
              {
                for (var i = jsonValue.errors.email.length - 1; i >= 0; i--) {
                  errores = errores + jsonValue.errors.email[i] + '\n<br> ';
                }
              }

              $('#error_mensaje').removeClass('hide').addClass('alert-danger').html(errores)
          });          
        });
            
    </script>    
</body>
</html>
