{%load static%}<!DOCTYPE html>
<html>
<head>
    {% include "head.html" %}
</head>
<body class="gray-bg">
    <div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>
        <h3 class="font-bold">Página no encontrada</h3>

        <div class="error-desc">
            Lo sentimos, pero la página que está buscando ha sido encontrada. Prueba a comprobar la URL de error.
            <br/><a href="/" class="btn btn-primary m-t">Inicio</a>
        </div>
    <hr/>
        <div class="row">
            {% include "footer.html" %}
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
