<!DOCTYPE html>
<html>
<head>
    {% include "head.html" %}
</head>
<body class="gray-bg">
    <div class="middle-box text-center animated fadeInDown">
        <h1>500</h1>
        <h3 class="font-bold">Error de servidor interno</h3>

        <div class="error-desc">
            El servidor encontró algo inesperado que no le permitió completar la solicitud. Nos disculpamos.<br/>
            Puede volver a la página principal: <br/><a href="/template/" class="btn btn-primary m-t">Inicio</a>
        </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            TempoTattoo
        </div>
        <div class="col-md-6 text-right">
           <small>&copy; 2017-2018</small>
        </div>
    </div>
    </div>

    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
