{% extends "base.html" %}
{% load static %}
{% block titulo %} Prueba {% endblock titulo %}

{% block head_css %}

{% endblock %} 

{% block breadcrumb %}
{% endblock %}

{% block head %}
{% endblock head %}


{% block pagina %}
            <div class="row">
                <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Templete</h5>
                    </div>
                    <div class="ibox-content">
                    <h3>Contenido</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porttitor pellentesque massa, non consectetur lectus aliquet sed. Proin in dolor non neque sodales sagittis quis eget tortor. Maecenas posuere augue odio, vitae egestas purus fermentum tempus. Quisque quis luctus arcu, id placerat quam. Nullam vitae vestibulum augue. Cras posuere sagittis sollicitudin. Praesent mollis sed metus vel maximus. Nulla laoreet dapibus est quis interdum.</p>

                    </div>
                </div>
            </div>
            </div>
{% endblock pagina %}


{% block extra_js %}

{% endblock extra_js %}