{%load static%}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} sitio {% endblock titulo %}</title>
    {% include "head.html" %}
    {% block head %}
    {% endblock head %}

    {% block head_js %}
    {% endblock head_js %}
    {% block head_css %}
    {% endblock head_css %}    
</head>

<body>

<div id="wrapper">
    <div>
        <div class="wrapper wrapper-content animated {% block animacion %}fadeInRight{% endblock animacion %}">
            {% block pagina %}
            {% endblock pagina %}
        </div>
        
    </div>
</div>


{% include "js.html" %}
{% block extra_js %}
{% endblock extra_js %}
{% block extra_css %}
{% endblock extra_css %}   
</body>
</html>
