<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Simse - {% endblock title %}</title>
  {% block extra_head %}{% endblock extra_head %}  
</head>
<body {% block class_body %}{% endblock class_body %}>
  {% block pagina %}{% endblock pagina %}
  {% block extra_js %}{% endblock extra_js %}
</body>
</html>