<!DOCTYPE html>
<html>
<head>
    {% include "head.html" %}
    {% block head %}{% endblock head %}
    <title>{% block titulo %}Moto Servicios Express{% endblock titulo %}</title>
    {% include "head_js.html" %}
    {% block head_js %}{% endblock head_js %}
    {% block head_css %}{% endblock head_css %}
    {% block web_components %}{% endblock web_components %}
</head>
<body class="">
    <div id="wrapper">
        {% include "nav.html" %}

        <div id="page-wrapper" class="gray-bg">
            {% block header %}
                {% include "header.html" %}
            {% endblock header %}
            <div class="wrapper-content animated fadeIn" id="content">
                {% block pagina %}{% endblock pagina %}
            </div>

            {% include "footer.html" %}
        </div>
    </div>
    {% include "modal_pagina.html" %}
    {% include "js.html" %}
    {% block extra_js %}{% endblock extra_js %}
    {% block extra_css %}{% endblock extra_css %}
    <script>
    $(document).ready(function() {
        App.init({
          ajaxMode: true,
          ajaxDefaultUrl: '/dashboard_ajax',
          ajaxType: 'GET',
          ajaxDataType: 'html'
        });
        recorrerMenu();
    });
    </script>    
</body>
</html>
