<div class="footer">
    <div class="pull-right">
        <!-- 10GB of <strong>250GB</strong> Free. -->
    </div>
    <div>
        <strong>Copyright</strong> Moto Servicios Express &copy; 2018-2019
    </div>
</div>