<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
        <ul class="nav navbar-top-links navbar-right pull-right">

            <li><strong class="text-muted font-bold" data-toggle="modal" href="#modal_debug">Debug</strong></li>
            <li><a>|</a></li> 
            <li><strong class="text-muted font-bold" data-toggle="modal" href="#modal_pagina">Notas <i class="fa fa-edit"></i></strong></li>
            <li><a>|</a></li> 
  <!--           <li class="dropdown dropdown-fw dropdown-mega">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"
              data-animation="slide-top" role="button" id="drop1"><i class="fa wb-user" aria-hidden="true"></i>Links</a>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation">
                  <div class="mega-content">
                    <div class="row">
                      <div class="col-sm-12">
                          <div class="panel-body container-fluid">
                              <div class="example-wrap" id="accesos_directos">
                                <div class="box sampletext">
                                  <h3 id="box1">
                                     <a style="text-decoration: none;" href="{{AD_1_url}}">AD_1_titulo</a>
                                     
                                  </h3>
                                </div>
                                <div class="box sampletext">
                                  <h3 id="box2">
                                     <a style="text-decoration: none;" href="{{AD_2_url}}">AD_2_titulo</a>
                                  </h3>
                                </div>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li> -->
            <li>
                <span class="m-r-sm text-muted welcome-message"><a href="#/perfil/" style="text-decoration: none;color: #EFE"><strong class="font-bold" id="nombre_usuario">usuario</strong></a>
            </li>
            <li>|</li>
            <li>
                <a id="btn_cerrar_session">
                    <i class="fa fa-sign-out"></i> Cerrar sesión
                </a>
            </li>
        </ul>
    </nav>
</div>