{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/animate.css' %}" rel="stylesheet">
<link href="{% static 'css/styles_min.css' %}" rel="stylesheet">
<link href="{% static 'fontawesome5/css/all.css' %}" rel="stylesheet">
<link href="{% static 'css/sweetalert/sweetalert.css' %}" rel="stylesheet">
<link href="{% static 'css/dataTables/datatables.min.css' %}" rel="stylesheet">
<link href="{% static 'css/datapicker/datepicker3.css' %}" rel="stylesheet">
<link href="{% static 'css/google/raleway.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/google/source_sans_pro.css' %}" rel="stylesheet" type="text/css">
<style type="text/css">
.spinner, 
.spinner-small {
height: 40px;
width: 40px;
margin: 0px auto;
position: absolute;
top: 50%;
left: 50%;
margin: -20px 0 0 -20px;
border: 2px solid #fff;
border-top: 2px solid #007aff;
border-radius: 100%;
-webkit-animation: rotation .6s infinite linear;
animation: rotation .6s infinite linear;
}
.fade.in .spinner, 
.fade.in .spinner-small,
.fade.show .spinner, 
.fade.show .spinner-small {
-webkit-animation: rotation .6s infinite linear;
animation: rotation .6s infinite linear;
}
.spinner-small {
border: 2px solid rgba(0,0,0,0.05);
border-top: 2px solid #007aff;
height: 30px;
width: 30px;
margin: -15px 0 0 -15px;
}    
</style>
<link rel="shortcut icon" href='{% static "favicon.ico" %}' type="image/png" />