{% load static %}<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Tempo Tattoo</title>
        <meta name="description" content="Tempo Tattoo es la única empresa en latino América dedicada íntegramente al tattoo temporal con aerógrafo, Superándose año a año en tecnología y diseño de Stencils para su aplicación y dando capacitación a aquellos que ven en el producto una salida laboral rentable.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'site/css/jquery.bxslider.css' %}">
        <link rel="stylesheet" href="{% static 'site/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'site/css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'site/css/feather.css' %}">
        <link rel="stylesheet" href="{% static 'site/css/slick.css' %}">
        <link rel="stylesheet" href="{% static 'site/css/lightbox.css' %}">
        <link rel="stylesheet" href="{% static 'site/css/owl.carousel.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'site/rs-plugin/css/settings.css' %}" media="screen">
        <link rel="stylesheet" href="{% static 'site/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'site/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'site/css/plyr/plyr.css' %}">
        <link href="{% static 'site/css/jquery.bxslider.css' %}" rel="stylesheet" />
        <script src="{% static 'site/js/html5media.min.js' %}"></script>
        <meta name="content" content="Tatuajes Temporales. tattoo temporal. Temporary tattoo. Tempo Tattoo. Temporary tattoo ink. tinta para tatuajes temporales Body paiting. eventos de tattoo Stencils para tatuajes tattoo Stencils kit para tatuajes temporales Temporary tattoo kit marketing promocional.">
        <meta name="keywords" content="Tatuajes Temporales. tattoo temporal. Temporary tattoo. Tempo Tattoo. Temporary tattoo ink. tinta para tatuajes temporales Body paiting. eventos de tattoo Stencils para tatuajes tattoo Stencils kit para tatuajes temporales Temporary tattoo kit marketing promocional.">

        <script src="{% static 'site/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600,500" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600&subset=latin,latin-ext" rel="stylesheet" type="text/css">

        <link rel="stylesheet" href="{% static 'site/stilo/bootstrap.min.css' %}">
        <script src="{% static 'site/stilo/jquery.min.js' %}"></script>
        <script src="{% static 'site/stilo/bootstrap.min.js' %}"></script>
        <script src="{% static 'site/js/jquery-1.8.2.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'site/css/overwrite.css' %}">
    </head>
    <body class="onepage">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.10";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>    
        <!-- <div id="preloader"></div>-->
        <div id="home"></div>
        <div id="nav-main" class="sticky-menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="logo-container">   
                            <div class="tb">
                                <div class="tb-cell">
                                    <a href="index.html" id="logo">
                                        <img alt="" title="logo" src="{% static "site/img/logo_tempo_tatto.png" %}" class="img-responsive"/>
                                    </a>
                                    <a href="index.html" id="logo-white" style="visibility: hidden;">
                                        <img alt="" title="logo" src="{% static "site/img/logo_tempo_tatto.png" %}" class="img-responsive"/>
                                    </a>                                    
                                </div>
                            </div>
                        </div>                          
                        <nav class="menu_container">
                            <ul id="desktop-menu" class="visible-md visible-lg">
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2130 active"><a href="#home">INICIO</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-onepage menu-item-2131"><a href="#about">QUIENES SOMOS</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-onepage menu-item-2132"><a href="#services">SERVICIOS</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-onepage menu-item-2134"><a href="#portfolio">PORTAFOLIO</a></li>
<!--                                 <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2135">
                                    <a href="blog.html">BLOG</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2130"><a href="blog_full.html">FULL WIDTH</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-onepage menu-item-2131"><a href="blog_left.html">LEFT SIDEBAR</a></li>
                                    </ul>
                                </li> -->
                                <li class="menu-item menu-item-type-post_type menu-item-object-onepage menu-item-2136"><a href="#contact">CONTACTANOS</a></li>
<!--                                 <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2139"><a href="shortcodes.html">SHORTCODES</a></li> -->
                            </ul>
                        </nav>        
                        <div id="mobile-menu-button" class="hidden-md hidden-lg">       
                            <i class="fa fa-bars"></i>          
                        </div>                  
                        <div class="clear"></div>               
                    </div>          
                </div>      
            </div>      
            <!-- MOBILE MENU -->        
            <nav class="container hidden-lg hidden-md">          
                <div id="mobile-menu">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2130 active"><a href="#header-main">INICIO</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-onepage menu-item-2131"><a href="#about">QUINES SOMOS</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-onepage menu-item-2132"><a href="#services">SERVICIOS</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-onepage menu-item-2134"><a href="#portfolio">PORTFOLIO</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-onepage menu-item-2136"><a href="#contact">CONTACTANOS</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>      
            </nav>          
        </div>
        <!-- Revolution slider -->

        <div class="bannercontainer">
            <div class="banner2">
                <ul class="header-slider">
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="1000">
                        <img src="{% static 'site/img/portada_1.png' %}" alt="">
                    </li>
                    <li data-transition="slideleft" data-slotamount="7" data-masterspeed="1000">
                        <img src="{% static 'site/img/portada_2.png' %}" alt="">
                    </li>
                    <li data-transition="slidedown" data-slotamount="7" data-masterspeed="1000">
                        <img src="{% static 'site/img/portada_3.png' %}" alt="">
                    </li>
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="1000">
                        <img src="{% static 'site/img/portada_4.png' %}" alt="">
                    </li>

                </ul>
            </div>
        </div>   


        <!-- / Revolution slider -->

        <section id="about" class="section-main gap-bottom slide-menu text-edit somos">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 column">
                        <div class="slogan">
                            <h1>Somos Tempo Tattoo</h1>
                        </div>
                    </div>
                    <div class="col-md-12 column">
                        <div class="slogan">
                            <h4 class="gris">Desarrolladores de un producto único en América Latina, creadores de maquillaje para tatuajes temporales, hipoalergénicos, orgánicos y waterproff. 100% Industria Argentina. 
                            </h4>
                        </div>
                    </div>
                    <div class="col-md-12 column gap-bottom">
                        <div class="col-sm-4 col-lg-4 column">
                            <div class="infobox-1 default fadeInLeft my-animation">
                                <header>
                                    <img src="{% static 'site/img/experiencia.png' %}" alt="" class="img-responsive" />
                                </header>
                                <h5>Experiencia</h5>
                                <p>Tempo Tattoo es la única empresa en latino América dedicada íntegramente al tattoo temporal con aerógrafo,
Superándose año a año en tecnología y diseño de Stencils para su aplicación y dando capacitación a aquellos  
que ven en el producto una salida laboral rentable.
</p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-lg-4 column">
                            <div class="infobox-1 default fadeInLeft my-animation">
                                <header>
                                    <img src="{% static 'site/img/evento.png' %}" alt="" class="img-responsive" />
                                </header>
                                <h5>Eventos</h5>
                                <p>El tatuaje temporal genera una gran atracción en los invitados a un evento, son seguros, dermatológicamente testeados.
Podemos desarrollar cualquier diseño deseado y transferir a la piel perfectamente y en segundos.
Su marca, su idea, su logo, puede reproducirse perfectamente en la piel de sus invitados.
</p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-lg-4 column">
                            <div class="infobox-1 default fadeInRight my-animation">
                                <header>
                                    <img src="{% static 'site/img/ideas.jpg' %}" alt="" class="img-responsive" />
                                </header>
                                <h5>Ideas creativas</h5>
                                <p>El aerógrafo es una herramienta única para desarrollar imágenes artísticas sobre las superficies más variadas. Por eso, Tempo Tattoo adapta diferentes diseños y tintes para lograr excelencia en los trabajos. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-main gap-bottom slide-menu text-edit bg_2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 color-2">
                        <div class="fit">
                        <h1>Tutorial</h1>
                            <video height="281" controls style="width: 100%;">
                              <source src="{% static 'site/video/tempo_tatto.mp4' %}" type="video/mp4">Su navegador no soporta el video.

                            </video>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 color-2">
                        <div class="fit">
                        <h1>Institucional</h1>
                            <video height="281" controls style="width: 100%;">
                              <source src="{% static 'site/video/presentacion_tempo_tatto.mp4' %}" type="video/mp4">Su navegador no soporta el video.
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </section>        
        <section id="services" class="section-main gap-bottom slide-menu text-edit">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 column">
                        <div class="slogan">
                            <h1>Servicios</h1>
                        </div>
                    </div>
                </div>
            </div>        
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="tabs-1">
                            <ul class="tabs-menu">
                                <li class="active-tab my-animation fadeInRight">
                                    <a href="#target1">
                                        <div>
                                            1
                                        </div>
                                        <h5>Marketing promocional</h5>
                                        <p>
                                            La aplicación de tatuajes temporales, sobre la piel de usuarios, hace que una marca sobreviva en exhibición durante varios días. La repercusión en redes sociales se multiplica en razón de esta permanencia y garantiza una efectiva penetración en el mercado.
                                        </p>
                                    </a>
                                </li>
                                <li class="my-animation fadeInRight">
                                    <a href="#target2">
                                        <div>
                                            2
                                        </div>
                                        <h5>Eventos para empresas</h5>
                                        <p>
                                            Diseño, buen gusto, permanencia de la marca, dinamismo y entretenimiento, son algunas de las cualidades que ofrece nuestro producto y nuestros servicios para llevar a tu empresa y sus eventos a nuevo nivel. 
Podemos proveer la materia prima, la tecnología y también los recursos humanos necesarios para capacitar a tu personal en el uso de nuestro producto. Tu empresa quedara grabada en la piel de aquellos que participen de tu evento.

                                        </p>
                                    </a>
                                </li>
                                <li class="my-animation fadeInRight">
                                    <a href="#target3">
                                        <div>
                                            3
                                        </div>
                                        <h5>Eventos sociales</h5>
                                        <p>
                                            Contamos con vistosos y cómodos stands móviles para instalar en tus fiestas de cumpleaños, aniversarios, fiestas privadas y cualquier otra ocasión social en que lo necesites, proveemos el material necesario para cada ocasión y los recursos humanos altamente capacitados para llevar adelante una actividad dinámica y divertida. 
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div id="target1" class="fadeIn text-center">
                            <img src="{% static 'site/img/marketin_promocional.jpg' %}" alt="" class="img-responsive" />
                        </div>
                        <div id="target2" class="fadeIn">
                            <img src="{% static 'site/img/marketin_empresas.jpg' %}" alt="" class="img-responsive" />
                        </div>
                        <div id="target3" class="fadeIn text-center">
                            <img src="{% static 'site/img/marketin_sociales.jpg' %}" alt="" class="img-responsive" />
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!---
        <section id="tabs-section" class="section-main gap-bottom slide-menu text-edit bg_color">
            
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-6 column">
                        <img src="img/elementos.png" title="photo" alt="photo" class="img-responsive my-animation fadeInLeft">
                    </div>
                    <div class="col-sm-6 col-lg-6 column">
                        <div class="infobox-2 default my-animation fadeInRight"><header>
                                <div><i class="icon-layers"></i></div>
                                <h5>Aerógrafo</h5></header>
                            <p>Disponemos de aerógrafos con cable e inalámbricos de ultima generación.
                            </p>  
                        </div>
                        <div class="infobox-2 default  my-animation fadeInRight"><header>
                                <div><i class="icon-bell"></i></div>
                                <h5>Stencil</h5></header>
                            <p>Tenemos más de 300 stencil en variedades, totalmente reutilizables, muy bien organizados y todos a su disposición.
                            </p>  
                        </div>
                        <div class="infobox-2 default my-animation fadeInRight"><header>
                                <div><i class="icon-briefcase"></i></div>
                                <h5>Tinta</h5></header>
                            <p>Poseemos tinta negra en envases de 2onz (60ml).
                            </p>  
                        </div>
                    </div>
                </div>
            </div>
        </section>
        !-->


        <section id="twitter" class="section-main gap-bottom slide-menu text-edit bg_4">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="social-icon" style="padding-top: 90px; padding-bottom: 90px;">
                            
                        </div>
                        <!-- <div class="fb-post" data-href="https://www.facebook.com/permalink.php?story_fbid=1821038108218611&amp;id=100009373174873" data-width="500" data-show-text="true"><blockquote cite="https://www.facebook.com/permalink.php?story_fbid=1821038108218611&amp;id=100009373174873" class="fb-xfbml-parse-ignore"><p>No te la Pierdas!!!!</p>Posted by <a href="https://www.facebook.com/people/Tempo-Tattooarg/100009373174873">Tempo Tattooarg</a> on&nbsp;<a href="https://www.facebook.com/permalink.php?story_fbid=1821038108218611&amp;id=100009373174873">lunes, 27 de marzo de 2017</a></blockquote></div> -->

                    </div>
                    <div class="col-md-6">
                        <div class="social-icon text-right" style="padding-top: 90px; padding-bottom: 90px;">
                            <a target="_blank" href="https://www.facebook.com/profile.php?id=100009373174873" class="social-1" style="color: #fff; padding-right: 125px;"><i class="fa fa-facebook fa-4x"></i></a>
                            
                            <a target="_blank" href="https://www.instagram.com/tempo_tattoo/" class="social-1" style="color: #fff ;padding-right: 45px;"><i class="fa fa-instagram fa-4x"></i></a>
                        </div>
                        <!-- <a href="https://www.instagram.com/p/BSoj8_6hNnL/" class="embed"></a> -->
                    </div>     

                    
                </div>
            </div>
        </section>

        <section id="portfolio" class="section-main slide-menu text-edit bg_4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 column">
                        <div class="slogan">
                            <h1>Nuestros trabajos</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio-works">
                <div class="container">
                    <nav class="portfolio-categories">
                        <ul>
                            <li><a href="#" data-filter="*" class="current" >Todos</a></li>
                            <li><a href="#" data-filter=".evento">Eventos</a></li>
                            <li><a href="#" data-filter=".Marketing">Marketing</a></li>
                            <li><a href="#" data-filter=".PLAYA">Playa</a></li>
                            <li><a href="#" data-filter=".estan">Stands</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="portfolio-container">

                <div class="evento item">
                    <a class="portfolio-box" data-toggle="modal" data-target="#portafolio_evento">
                        <img src="{% static 'site/portafolio/EVENTOS (34).jpg' %}" class="img-responsive" alt="" />
                        <div>
                            <div class="tb">
                                <div class="tb-cell">
                                    <i class="icon-picture"></i>
                                    <p>Eventos</p>
                                    <span>Categoria 3 </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="Marketing item">
                    <a class="portfolio-box" data-toggle="modal" data-target="#portafolio_marketing">
                        <img src="{% static 'site/portafolio/MARKETING (13).jpg' %}" class="img-responsive" alt="" />
                        <div>
                            <div class="tb">
                                <div class="tb-cell">
                                    <i class="icon-picture"></i>
                                    <p>Marketing</p>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="PLAYA item">
                    <a class="portfolio-box" data-toggle="modal" data-target="#portafolio_playa">
                        <img src="{% static 'site/portafolio/PLAYA (3).jpg' %}" class="img-responsive" alt="" />
                        <div>
                            <div class="tb">
                                <div class="tb-cell">
                                    <i class="icon-picture"></i>
                                    <p>Playa</p>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="estan item">
                    <a class="portfolio-box" data-toggle="modal" data-target="#portafolio_estan">
                        <img src="{% static 'site/portafolio/STANDS (4).jpg' %}" class="img-responsive" alt="" />
                        <div>
                            <div class="tb">
                                <div class="tb-cell">
                                    <i class="icon-picture"></i>
                                    <p>Stands</p>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>                
            </div>
        </section>
        <section id="contact" class="section-main slide-menu text-edit">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 column">
                        <div class="slogan">
                            <h1>Contactanos</h1>
                        </div>
                    </div>
                    <div class="col-md-12 column">
                        <div class="slogan">
                            <h4 class="gris">Hace que tu fiesta sea diferente Contrata nuestro stand de Tattos Temporales.<br />
                               Hacemos el diseño con tu nombre, frase o marca.
                            </h4>
                        </div>
                    </div> 
                </div>
            </div>
        </section>
        
        <section id="contact-info" class="bg_color gap-bottom section-main slide-menu text-edit">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-4">
                        <div class="contact-info">
                            <div class="tb">
                                <div class="tb-cell">
                                    <h5>Tel&eacute;fono</h5>
                                    <span>Pablo Randazzo +54 9 11 5826-3700</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <div class="contact-info">
                            <div class="tb">
                                <div class="tb-cell">
                                    <h5>Correo</h5>
                                    <span><a href="mailto:tempotattooarg@gmail.com">tempotattooarg@gmail.com</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <div class="contact-info">
                            <div class="tb">
                                <div class="tb-cell">
                                    <h5>Direcci&oacute;n</h5>
                                    <span>Ameghino 1150 Bernal, Argentina CP 1876</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>        
        <section id="contact-form" class="gap-bottom slide-menu section-main text-edit">
            <div class="container">
                <div class="row">
                    <div id="contact-form-script" class="my-animation fadeInRight">
                        <form id="form-ajax">
                            <div class="col-sm-6 col-lg-6">
                                <textarea onfocus="if (this.value == this.defaultValue)
                                            this.value = '';" onblur="if (this.value == '')
                                                        this.value = this.defaultValue;" id="message-contact" name="message">Su mensaje...</textarea>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <input type="text" name="nombre" value="Su nombre*" onfocus="if (this.value == '' || this.value == 'Su nombre*')
                                            this.value = ''" onblur="if (this.value == '') {
                      0                                  this.value = this.defaultValue
                                                    }" onkeyup="keyUp();" id="personal">
                                <input type="text" name="email" value="Su correo*" onfocus="if (this.value == '' || this.value == 'Su correo*')
                                            this.value = ''" onblur="if (this.value == '') {
                                                        this.value = this.defaultValue
                                                    }" onkeyup="keyUp();" id="email">
                                
                            </div>
                            <div class="clear"></div>

                            <div class="col-md-12">
                                <input type="submit" value="Enviar mensaje" class="contact_button">
                                <img src"{% static 'site/img/bx_loader.gif' %}" id="send_wait" alt="" />
                            </div>


                        </form>
                        <div class="clearfix"></div>
                    </div>
                    <div id="contact-success"><h4 class="contact-text" style="color: #FFF !important;">Gracias por vuestro mensaje</h4></div>
                </div>
            </div>
        </section>
         <section id="google-map" class="slide-menu gap-1 text-edit">
            <div class="google-map">
                <div class="map-field">
                    <i class="fa fa-angle-down"></i>
                    Encontranos en el mapa.
                </div>
                <div id="map-canvas" style="height: 430px !important;">
                    <script>
                        jQuery(document).ready(function() {
                            'use strict';
                            function initialize() {
                                var myLatlng = new google.maps.LatLng(-34.7203003, -58.2982564);
                                var mapOptions = {
                                    zoom: 14,
                                    center: myLatlng,
                                    disableDefaultUI: true,
                                    scrollwheel: true,
                                }
                                var roadAtlasStyles = [
                                    {
                                        featureType: "all",
                                        elementType: "all",
                                        stylers: [
                                            {saturation: -50} // <-- THIS
                                        ]
                                    }
                                ];
                                var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
                                var styledMapOptions = {
                                    name: 'US Road Atlas'
                                };

                                var usRoadMapType = new google.maps.StyledMapType(
                                        roadAtlasStyles, styledMapOptions);
                                map.mapTypes.set('usroadatlas', usRoadMapType);
                                map.setMapTypeId('usroadatlas');
                                var boxText = document.createElement("div");
                                boxText.innerHTML = '<div class="content-map animated fadeInDown"><img scr="{% static 'img/tatto_logo_m.png' %}"> <span>Ameghino 1150 Bernal, Argentina CP 1876</span></div>';

                                var myOptions = {
                                    content: boxText
                                    , disableAutoPan: false, maxWidth: 0
                                    , zIndex: null
                                    , closeBoxURL: ""
                                    , infoBoxClearance: new google.maps.Size(1, 1)
                                };
                                var infowindow = new google.maps.InfoWindow({
                                    content: boxText,
                                    options: myOptions,
                                    maxWidth: 450
                                });
                                var image = "{% static 'site/img/marker.png' %}";
                                var marker = new google.maps.Marker({
                                    position: myLatlng,
                                    map: map,
                                    title: ' 121 King Street',
                                    icon: image
                                });
                                google.maps.event.addListener(marker, 'click', function() {
                                    infowindow.open(map, marker);
                                });

                            }
                            google.maps.event.addDomListener(window, 'load', initialize);
                        });
                    </script>
                </div>
            </div>
        </section>

        <!-- Modal -->
<div class="modal fade" id="portafolio_marketing" tabindex="-1" role="dialog" aria-labelledby="portafolio_marketingLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>
                     <h4 class="modal-title" id="portafolio_marketingLabel">Playa</h4>

                </div>
                <div class="modal-body">
                    <iframe src="/iframe_marketing/" width="100%" height="100%" frameborder="0"  scrolling="no"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button><!-- 
                    <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="portafolio_evento" tabindex="-1" role="dialog" aria-labelledby="portafolio_eventoLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>
                     <h4 class="modal-title" id="portafolio_eventoLabel">Evento</h4>

                </div>
                <div class="modal-body">
                    <iframe src="/iframe_evento/" width="100%" height="100%" frameborder="0"  scrolling="no"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button><!-- 
                    <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="portafolio_estan" tabindex="-1" role="dialog" aria-labelledby="portafolio_estanLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>
                     <h4 class="modal-title" id="portafolio_estanLabel">Stands</h4>

                </div>
                <div class="modal-body">
                    <iframe src="/iframe_stands/" width="100%" height="100%" frameborder="0"  scrolling="no"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button><!-- 
                    <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="portafolio_playa" tabindex="-1" role="dialog" aria-labelledby="portafolio_playaLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>
                     <h4 class="modal-title" id="portafolio_playaLabel">Marketing</h4>

                </div>
                <div class="modal-body">
                    <iframe src="/iframe_playa/" width="100%" height="100%" frameborder="0"  scrolling="no"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button><!-- 
                    <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
            </div>
        </div>
    </div>
</div>


        <footer id="foot-page">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-6 column">
                        <span>@2017 Tempo Tattoo. Todos los derechos reservados.</span>
                    </div>
                    <div class="col-sm-6 col-lg-6 column">
                        <div class="social-icon">
                            <a target="_blank" href="https://www.facebook.com/profile.php?id=100009373174873" class="social-1"><i class="fa fa-facebook fa-2x"></i></a>
                            <a target="_blank" href="https://www.instagram.com/tempo_tattoo/" class="social-1"><i class="fa fa-instagram fa-2x"></i></a>
                        </div>                                                         
                    </div>
                </div>
            </div>
        </footer>       
        <script src="{% static 'site/js/jquery.fitvids.js' %}"></script>
        <script src="{% static 'site/js/jquery.timer.js' %}"></script>
        <script src="{% static 'site/js/jquery.sticky.js' %}"></script>
        <script src="{% static 'site/js/timeago.js' %}"></script>
        <script src="{% static 'site/js/jquery.currentMenuItem.js' %}"></script>
        <script src="{% static 'site/js/plugins.js' %}"></script>
        <script src="{% static 'site/css/plyr/plyr.js' %}"></script>
        <script src="{% static 'site/rs-plugin/js/jquery.themepunch.tools.min.js' %}"></script>
        <script src="{% static 'site/rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
        <script src="{% static 'site/js/google.maps.js' %}"></script>
        <script src="{% static 'site/js/jquery.bxslider.min.js' %}"></script>
        <script src="{% static 'site/js/jquery.oembed.js' %}"></script>
        <script src="{% static 'site/js/main.js' %}"></script>
        <script src="{% static 'site/js/retina.min.js' %}"></script>
        <script type="text/javascript">
        $(document).ready(function () {
            $("#map-canvas>div").css('height','430px');
            $(".embed").oembed(null,{
                hidecaption: true
            });
            
        })
        </script>
    </body>  
</html>