{% load static %}
<!-- Mainly scripts -->
<!-- <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'js/metisMenu/jquery.metisMenu.js' %}"></script>
<script src="{% static 'js/slimscroll/jquery.slimscroll.min.js' %}"></script>

<script src="{% static 'js/inspinia.js' %}"></script>
<script src="{% static 'js/pace/pace.min.js' %}"></script>

<script src="{% static 'js/validate/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/validaciones.js' %}"></script>
<script src="{% static 'js/cookie.js' %}"></script>
 -->

<script src="{% static 'js/scripts.js' %}"></script>
<script src="/config_django.js"></script>
<script src="{% static 'js/sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'js/dataTables/datatables.min.js' %}"></script>
<script src="{% static 'js/sertiven/qrcode.min.js' %}"></script>
<script src="{% static 'js/sertiven/utiles.js' %}"></script>