<div class="modal fade bs-example-modal-lg" id="modal_pagina" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div id="body_modal_pagina">
        <div width="100%" class="modal-body">
			<div class="modal-content">
			    <div class="modal-header">
			        <button class="close" data-dismiss="modal">×</button>
			        <h4 class="modal-title">Tus notas</h4>
			    </div>
			    <div class="modal-body">
			        <div class="col-sm-12 col-md-12">
			        	<textarea class="form-control" id="nota_del_usuario">{{NOTA}}</textarea>
			        </div>            
			    </div>
			    <div class="modal-footer">
			        <div class="col-sm-6">
			            <a class="btn btn-info btn-md btn-block" data-dismiss="modal">Volver</a>
			        </div>
			        <div class="col-sm-6">
			            <button type="button" class="btn btn-success btn-md btn-block" onclick="guardar_nota();">Anotar</button>
			        </div>
			    </div>
			</div>
        </div>  
        </div>
    </div>
</div>



<div class="modal fade bs-example-modal-lg" id="modal_debug" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div id="body_modal_debug">
        <div  class="modal-body">
			<div class="modal-content">
			    <div class="modal-header">
			        <button class="close" data-dismiss="modal">×</button>
			        <h4 class="modal-title">Info</h4>
			    </div>
			    <div class="modal-body">
			        <div class="col-sm-12 col-md-12" id="div_para_debug">
			        	
			        </div>            
			    </div>
			    <div class="modal-footer">
			        <div class="col-sm-5 col-md-5">
			            <a class="btn btn-info btn-md btn-block" data-dismiss="modal">Volver</a>
			        </div>

			        <div class="col-sm-push-2 col-md-push-2 col-sm-5 col-md-5">
			            <button type="button" class="btn btn-success btn-md btn-block" onclick="utiles.salvar_consola();">Descargar</button>
			        </div>
			    </div>
			</div>
        </div>  
        </div>
    </div>
</div>