<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span id="text_perfil">
                        <img alt="FP" class="img-circle img-tamano" id="img_perfil" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold" id="nombre_apellido">&nbsp;</strong>
                         </span> <span class="text-muted text-xs block" id="rol_navbar"><b class="caret"></b></span> </span> </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="#/perfil/">Mi Perfil</a></li>
                        <li class="divider"></li>
                        <li><a href="/">Salir</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    <a href="#/perfil/" id="text_perfil_small"><img alt="image p" class="img-circle img-tamano" id="img_perfil_small" /></a>
                </div>
            </li>
        </ul>
        <ul class="nav metismenu" id="side-menu">
        </ul>
    </div>
</nav>